#socialContent {
    background: url('../../../static/psixiSocial/img/fon11.png');
    background-color: rgba(0, 175, 255, 0.03);
    margin: 0;
}
ul {
    padding: 0;
    list-style: none;
}
ul#dialogs {
    position: inherit;
    display: inherit;
    width: 984px !important;
    background-color: rgba(250, 250, 250, 0.7);
    border-top: 1px solid #CCC;
    box-shadow: 0 0 1px #BBB;
}
li {
    width: 100%;
}
.start-group .message-textbody {
    margin: 40px 0 10px 5%;
}
.no-avatar {
    background: repeating-linear-gradient(-45deg, #FFF, #FFF 3px, #DDD 3px, #D1D1D1 6px);
    border: 1px dashed #BBB;
    border-radius: 100%;
}
.no-avatar p {
    font-family: DIN Pro Light Italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin: 0;
    color: #d87200;
    text-shadow: 1px 1px 3px #fff;
}
.dialog-item-head {
    position: relative;
    width: 100%;
    border: 1px solid #DDD;
}
.dialog-item-head:after {
    border: 25px solid #333;
    border-color: transparent #444 transparent #444;
}
.dialog-item-head > a {
    display: grid !important;
    float: none;
    width: 100%;
}
.dialog-members {
    display: block !important;
    float: left;
    width: 100%;
}
.dialog-members li {
    display: block;
    float: none;
    width: 400px;
    height: 95px;
    margin: 0 auto;
}
.dialog-members li > div {
    position: relative;
    width: 100%;
    height: 100%;
}
.dialog-members li > div .no-avatar {
    position: absolute;
    top: 9px;
    left: 9px;
    width: 73px;
    height: 73px;
}
.dialog-members li > div .no-avatar p {
    float: none;
    margin: 1.8em auto;
    font-size: 14px;
}
.dialog-members li > div h3 {
    position: absolute;
    top: 17px;
    left: 120px;
    width: 200px;
    height: auto;
}
.my-message {

}
.not-my-message {

}
.unread {
    background-color: #EBEDF3;
}
.message-properties {
    float: right;
    width: auto;
}
.message-textbody {
    float: none;
    width: 90%;
    margin: 10px auto;
}
.user-thumb {
    float: left;
    width: auto;
    margin: 0 0 0 0;
}
.user-thumb p {
    float: right;
    margin: 0 0 0 20px;
}
.user-thumb .no-avatar {
    float: left;
    width: 34px;
    height: 34px;
}
.user-thumb .no-avatar p {
    float: none;
    margin: 1.3em auto;
    font-size: 8px;
}
.avatar-wrap {
    float: left;
}
.avatar-wrap img {
    border-radius: 100%;
}
