#socialContent {
    background: url('../../../static/psixiSocial/img/fon2.png');
    background-color: rgba(0, 255, 93, 0.10);
    margin:0;
}
#dialog {
    width: 984px !important;
    background-color: rgba(250, 250, 250, 0.7);
    border-top: 1px solid #CCC;
    box-shadow: 0 0 1px #BBB;
}
#dialog-members {
    float: left;
    width: 966px;
    margin: 0 auto;
    height: auto;
    background-color: transparent;
}
#dialog-members.short {
    width: 666px;
}
#dialog-members > div {
    position: relative;
    width: 384px;
    height: 95px;
    z-index: 1;
}
#dialog-members.short > div {
    width: 332px;
}
#dialog-members > div:nth-child(1) {
    float: left;
    background: linear-gradient(to right, #F5F7FF 70%, transparent);
    box-shadow: 1px 3px 5px 0 #F5F7FF;
}
#dialog-members > div:nth-child(1) > h3 {
    float: left;
    padding: 0 0 0 130px;
}
#dialog-members > div:nth-child(2) {
    background: linear-gradient(to left, #FFF5F5 70%, transparent);
    box-shadow: 1px 3px 5px 0 #FFF5F5;
}
#dialog-members > div:nth-child(2) > h3 {
    padding: 0 130px 0 0;
}
#dialog-members > div:nth-child(2), #dialog-members > div:nth-child(2) > h3 {
    float: right;
}
#dialog-members > div:nth-child(2) .no-avatar {
    left: 297px;
}
#dialog-members > div:nth-child(2) .avatar-wrap {
    left: 287px;
    }
#dialog-members.short > div:nth-child(2) .avatar-wrap {
    left: 235px;
}
#dialog-members.short > div:nth-child(2) .no-avatar {
    left: 245px;
    }
/* status-animation */
#dialog-members.short > div:nth-child(2) .status-animation {
    left: 236px;
}
.status-animation {
    position: absolute;
    z-index: 0;
}
#dialog-members > div:nth-child(1) .status-animation {
    top: 8px;
    left: 8px;
}
#dialog-members > div:nth-child(2) .status-animation {
    top: 8px;
    left: 288px;
}
.dialogs-list li .status-animation {
    top: 0;
    left: 0;
}
/* end status-animation */
#dialog-members .avatar-wrap {
    position: absolute;
    top: 6.5px;
    left: 7.5px;
    width: 75px;
    height: 75px;
    margin: 10px 10px;
}
/* dialogs list */
#show-dialogs {
    float: left;
    width: 40px;
    height: 100%;
    margin: 0 0 0 -40px;
    background-color: #c8c8c8;
    opacity: 0.2;
}
#show-dialogs:hover , #show-dialogs:focus {
    opacity: 0.8;
}
#show-dialogs.opened {
    opacity: 1;
    width: auto;
    background-color: rgba(235, 235, 235, 0.6);
}
#show-dialogs.opened > a {
    display: none;
}
#show-dialogs a {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    margin: -5px -20px;
    padding: 5px 20px;
    }
.dialogs-list {
    float: left;
    width: 297px;
    overflow-y: scroll;
    height: inherit;
    margin: 40px 0 0 0;
    padding: 0;
}
.dialogs-list li {
    display: block;
    float: left;
    float: inherit;
    width: 240px;
    height: 75px;
    padding: 5px 20px;
    border-bottom: 1px dashed #CCC;
}
.dialogs-list .current {
    background-color: #FFF5F5;
}
.dialogs-list .user-thumb {
    position: relative;
    height: 39px;
    margin: 0;
}
.dialogs-list .user-thumb .avatar-wrap {
    position: absolute;
    top: 2px;
    left: 2px;
    }
.dialogs-list .user-thumb p {
    margin: 0 0 0 50px;
    }
.dialogs-list .dialog-text {
    position: absolute;
    top: 16px;
    left: 63px;
    max-width: 160px;
    min-height: 20px;
    max-height: 40px;
    padding: 4px;
    word-break: break-all;
}
.dialogs-list .dialog-text.unread {
    top: 20px;
    left: 63px;
    background-color: #DDD;
    border-radius: 3px;
}
.dialogs-list .my-message {
    position: absolute;
    top: 20px;
    left: 65px;
    width: auto;
    }
.dialogs-list .dialog-text.my {
    left: 95px;
    }
.dialogs-list .dialog-text.my.unread {
    top: 16px;
    left: 99px;
}
/* end dialogs list */
.avatar-wrap img {
    border-radius: 100%;
}
#dialog-members .no-avatar {
    position: absolute;
    top: 17px;
    left: 17px;
    width: 73px;
    height: 73px;
}
.no-avatar {
    background: repeating-linear-gradient(-45deg, #FFF, #FFF 3px, #DDD 3px, #D1D1D1 6px);
    border: 1px dashed #BBB;
    border-radius: 100%;
}
#dialog-members .no-avatar p {
    float: none;
    margin: 1.8em auto;
    font-size: 14px;
}
.no-avatar p {
    font-family: DIN Pro Light Italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin: 0;
    color: #d87200;
    text-shadow: 1px 1px 3px #fff;
}
.messages-list-personal, .messages-list-group {
    float: left;
    width: 883px;
    height: 100%;
    overflow-y: scroll;
    margin: -95px 0 0 0;
    padding: 0 50px 0 50px;
    direction: ltr;
    background-color: rgba(255, 255, 255, 0.3);
}
.messages-list-personal.short, .messages-list-group.short {
    width: 583px;
}
.messages-list-personal > li, .messages-list-group > li {
    position: relative;
    display: block;
    float: left;
    width: 100%;
}
.not-my-message {
    background-color: #FFFAFA;
}
.my-message {
    background-color: #FAFBFF;
}

    .my-message.unread, .not-my-message.unread {
        background-color: #EBEDF3;
    }
.messages-list-group > li.unread {
    cursor: pointer;
}
    .messages-list-personal > li:first-child, .messages-list-group > li:first-child {
        border-top: 0 !important;
        padding: 100px 0 0 0;
    }
.messages-list-personal > li.not-my-message.start-group, .messages-list-group > li.not-my-message.start-group {
    border-top: 1px dashed #E7D0D0;
}
.messages-list-personal > li.my-message.start-group, .messages-list-group > li.my-message.start-group {
    border-top: 1px dashed #CCD0E3;
}
.messages-list-personal > li.hightlited, .messages-list-group > li.hightlited {
    border: 2px dashed #FFF;
    margin: -4px 0 0 0;
}
.messages-list-personal > li.start-group.hightlited, .messages-list-group > li.start-group.hightlited {
    border: 2px dashed #FFF;
    margin: -3px 0 0 0;
}
.message-properties {
    float: right;
    width: auto;
}
.message-properties small {
    font-size: 11px;
}
.user-thumb {
    float: left;
    width: auto;
    margin: 0 0 0 -42.5px;
}
.user-thumb .avatar-wrap {
    float: left;
}
.user-thumb p {
    float: right;
    margin: 0 0 0 20px;
}
.user-thumb .no-avatar {
    float: left;
    width: 34px;
    height: 34px;
}
.user-thumb .no-avatar p {
    float: none;
    margin: 1.3em auto;
    font-size: 8px;
}
.message-textbody {
    float: none;
    width: 90%;
    margin: 10px auto;
}
.start-group .message-textbody {
    margin: 40px 0 10px 5%;
}
.message-textbody p {
    word-wrap: break-word;
}
.images-attachment {
    width: 85%;
    float: right;
    padding: 10px;

}
.images-attachment img {
    float: inherit;
    width: auto;
    max-width: 300px;
    height: auto;
    max-height: 300px;
    padding: 5px;
}
.dialog-form-wrap {
    float: left;
    width: 983px;
    height: auto;
    background-color: #DDD;
}
.dialog-form-wrap.short {
    width: 683px;
}
#dialogForm textarea {
    width: 850px;
    resize: none;
}
.dialog-form-wrap.short #dialogForm textarea {
    width: 550px;
}
form {
    margin: 0;
}
form textarea {
    
}
form textarea.drag {
    border: 2px dashed #707070;
    background-color: #909090;
}
.unsend {
    opacity: 0.6;
}
.error {
    background: repeating-linear-gradient( -45deg, #FFF, #FFF 15px, #DDD 15px, #D1D1D1 30px )
}
.insertion {
    display: none;
}
label {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url('../img/photography.png') no-repeat;
    color: transparent;
    cursor: pointer;
}
#send-files {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    overflow-y: auto;
}
#send-files div {
    position: inherit;
    float: left;
    width: 180px;
    height: auto;
    margin: 10px;
}
#send-files img {
    width: inherit;
    height: auto;
}
.remove {
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
    opacity: 0.7;
    background-color: #fff;
}
.remove:hover {
    opacity: 1;
}
.remove:before, .remove:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
.remove:before {
    transform: rotate(45deg);
}
.remove:after {
    transform: rotate(-45deg);
}

/* group-messages */
#dialog-members > ul {
    display: none;
}
.unread-users-box {
    position: absolute;
    display: block;
    z-index: 1;
    top: 0;
    padding: 8px;
    background-color: #FFF;
    border: 1px solid #DDD;
    list-style: none;
}
.unread-users-box.hidden {
    display: none;
}
.unread-users-box.nojs {
    position: relative;
    float: right;
}
.nojs p {
    margin: 0;
}
.unread-users-box li {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    text-align: center;
}
.unread-users-box-head {
    border-bottom: 1px dashed #DDD;
}
.unread-users-box-head p {
    margin: 0;
}
