#socialFormWrap .formHeader {
    height: 20%;
}
#socialFormWrap ul#shortMenu {
    display: inline-block;
    width: 33.3%;
    height: auto;
    float: left;
    padding: 0;
    border-right: 1px solid #DDD;
    margin-right: -1px;
}
#socialFormWrap ul#shortMenu li {
    display: inline;
    width: 100%;
    float: left;
    margin-left: 15px;
    text-align: left;
}
#socialFormWrap ul#shortMenu li:last-child {
    margin-right: 0;
}
#socialFormWrap form#socialForm {
    display: table;
    float: left;
    width: 66.7%;
    height: auto;
    margin: 0;
}
#socialFormWrap form#socialForm table {
    width: auto;
    margin: 0 auto;
}