#profile .view {
    width: 100%;
    height: auto;
    float: left;
}
/* AVATAR */
#profile .view .profile-head-avatar {
    width: inherit;
    height: auto;
    float: inherit;
    background-color: #FAFAFA;
    border: 1px solid #DDD;
    border-bottom-color: #DFDFDF;
}
#profile .view .profile-head-avatar .main-info {
    float: left;
    width: 69.9%;
    margin-left: 30px;
    margin-right: -30px;
    margin-top: 10px;
    margin-bottom: -10px;
}
#profile .view .profile-head-avatar .avatar-wrap {
    float: right;
    width: 30%;
}
#profile .view .profile-head-avatar .avatar-wrap {
    height: inherit;
    border-right: 0;
}
/* FULL(INFO, AVATAR, THPS) */
#profile .view .profile-head-avatar-thps {
    width: inherit;
    height: auto;
    float: inherit;
    background-color: #FAFAFA;
    border: 1px solid #DDD;
    border-bottom-color: #DFDFDF;
    border-radius: 2px 2px 0 0;
}
#profile .view .profile-head-avatar-thps > div {
    width: 33.2%;
    float: left;
}
#profile .view .avatar-wrap {
    height: auto;
    text-align: center;
    padding: 10px 0;
    background: repeating-linear-gradient(
        -45deg,
    #FFF,
    #FFF 10px,
    #FAFAFA 10px,
    #FCFCFC 20px
        );
    border-left: 1px dashed #D1D1D1;
    border-right: 1px dashed #D1D1D1;
}
#profile .view .avatar-wrap img {
    display: inline-block;
    width: auto;
    height: auto;
    max-width: 250px;
    max-height: 300px;
}
#profile .view .profile-head-avatar-thps .main-info,
#profile .view .profile-head-avatar-thps .thps-info {
    text-align: center;
}
#profile .view .profile-head-avatar-thps .main-info small:nth-child(2) {
    float: right;
    text-align: right;
    width: 100%;
    margin-right: 40px;
}
/**/
#profile .view .online-status {
    width: inherit;
    float: left;
}
#profile .view .online-status p {
    text-align: center;
}
#profile-form {
    float: right;
    width: auto;
}
#profile-form .to-dialog input[type=button] {
    padding: 20px;
}
#profile .view .profile-actions button.important, #profile .view .profile-actions input[type=submit].important {
    background: repeating-linear-gradient(
        -45deg,
    #FFF,
    #FFF 15px,
    #DDD 15px,
    #D1D1D1 30px
        )
}
#profile .view .info-dotts {
    float: left;
    width: auto;
}
#profile .view .info-dotts > div {
    float: inherit;
    background-color: #FAFAFA;
    border: 1px solid #DDD;
    margin-left: 10px;
    margin-top: 10px;
    padding: 25px 20px;
}
#profile .view .info-dotts > div h5 {
    width: auto;
    margin: 0;
    text-align: center;
}
#profile .profile-content {
    float: left;
    width: 70%;
}
#profile .profile-right {
    float: right;
    width: 300px;
}
#profile .profile-right ul {
    display: inline-block;
    width: 100%;
    padding: 0;
    background-color: #FAFAFA;
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: #D1D1D1;
}
#profile .profile-right ul.empty, #profile .profile-right ul.few {
    border-width: 0 1px 1px 1px;
}
#profile .list-head {
    width: 100%;
    margin-top: 14px;
    padding: 3px 0;
    background-color: #FAFAFA;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #D1D1D1;
    border-radius: 3px 3px 0 0;
}
#profile .list-head h3 {
    margin: 3px 0;
    text-align: center;
    font-family: DIN Pro Condensed Medium;
    text-shadow: 1px 1px 1px #fff;
    color: cornflowerblue;
}
#profile .profile-right .list-head:first-child {
    margin: 0;
}
#profile .profile-right .list-foot {
    width: 100%;
    margin: 0 auto;
    padding: 3px 0;
    background-color: #FAFAFA;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #D1D1D1;
    text-align: right;
    border-radius: 0 0 3px 3px;
}
#profile .profile-right .list-foot small {
    padding-right: 10px;
}
#profile .profile-right ul li {
    position: relative;
    float: left;
    list-style-type: none;
    width: 54px;
    height: 54px;
    margin: 6px;
}
#profile .profile-right ul li a {
    position: absolute;
    top: 2px;
    left: 2px;
}
#profile .profile-right ul.empty, #profile .profile-right ul.few {
    border-radius: 0 0 3px 3px;
}
#profile .profile-right ul li.empty, #profile .profile-right ul.few {
    width: 100%;
    text-align: center;
    color: gray;
}
#profile .list-inner {
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid #D1D1D1;
}
#profile .profile-right ul li img {
    border-radius: 100%;
}
#profile .profile-right .no-avatar {
    width: 48px;
    height: 48px;
    background: repeating-linear-gradient(-45deg, #FFF, #FFF 3px, #DDD 3px, #D1D1D1 6px);
    border: 1px solid #D1D1D1;
    border-radius: 100%;
}
#profile .profile-right .no-avatar p {
    font-family: DIN Pro Light Italic;
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin: 0;
    padding: 1.85em 0.5em;
    text-shadow: 1px 1px 3px #fff;
    color: #d87200;
}
.status-animation {
    position: absolute;
    display: inherit;
    top: 0;
    left: 0;
    /*margin: -50px 0;*/
}