ul {
    margin: 0;
}
#socialContent {
    display: block;
    position: relative;
    height: 100%;
    margin: 0px 0 46px 0;
}
#socialContent > div, #socialContent > ul {
    position: relative;
    display: inherit;
    width: 1024px;
    /*height: auto;*/
    height: auto;
    margin: 0 auto;
    /*border-left: 1px solid #DDD;*/
    /*border-right: 1px solid #DDD;*/
}