#socialFormWrap .formHeader {
    height: 20%;
}
#socialFormWrap form#socialForm {
    display: table;
    float: left;
    width: 100%;
    height: auto;
    margin: 0;
}
#socialFormWrap form#socialForm table, #socialFormWrap form#socialForm table tbody {
    width: auto;
    margin: 0 auto;
}
#socialFormWrap form#socialForm #sendForm {
    float: right;
}