#socialContent {
    background: url('../../../static/psixiSocial/img/fon1.png');
    background-color: rgba(0, 237, 255, 0.15);
    display: block;
    position: relative;
}
#users-list {
    width: 568px !important;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 0 15px;
    box-shadow: 1px 0px 6px #cfcfcf;
}
#users-list > li {
    position: relative;
    display: block;
    height: 120px;
    float: none;
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid #DDD;
}
#users-list li h3 {
    width: 100%;
    margin: 10px 0 0 0;
    height: 21px;
    font-family: DIN Pro Condensed Medium;
    text-align: center;
}
#users-list li small {
    position: absolute;
    width: 100%;
    height: 15px;
    top: 2px;
    text-align: center;
}
#users-list li:last-child {
    border-bottom: 0;
}
.actions {
    position: absolute;
    right: 8px;
    top: 9px;
    background-image: url('../img/dotts.png');
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 45px 4px 0 0;
    list-style: none;
    background-position-x: 0;
}
.actions form {
    margin: 0;
    padding: 0;
    background: none;
}
.actions input {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
.actions > ul {
    position: relative;
    display: none;
    float: left;
    width: auto;
    height: auto;
    padding: 4px;
    background-color: #FAFAFA;
    border: 1px solid #DEDEDE;
}
.actions > ul.open {
    display: inline-block;
}
.actions li {
    display: inherit;
    border-bottom: 1px solid #DDD;
    margin: 3px 0;
}
.actions li:last-child {
    border-bottom: 0;
}
.actions:hover, .actions:focus {
    background-position-x: 24px;
}
.status-animation {
    position: absolute;
    z-index: 0;
    top: 5px;
    left: 8px;
}
.avatar-wrap {
    position: absolute;
    top: 0;
    left: 8px;
    width: 100px;
    height: 100px;
    margin: 15px 10px;
}
.avatar-wrap img {
    border-radius: 100%;
}
.no-avatar {
    position: absolute;
    top: 14px;
    left: 17.7px;
    width: 100px;
    height: 100px;
    background: repeating-linear-gradient(-45deg, #FFF, #FFF 3px, #DDD 3px, #D1D1D1 6px);
    border: 1px dashed #BBB;
    border-radius: 100%;
}
.no-avatar p {
    font-family: DIN Pro Light Italic;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin: 0;
    padding: 1.85em 0.5em;
    text-shadow: 1px 1px 3px #fff;
    color: #d87200;
}