{% load static %}
<link rel = "stylesheet" href = "{% static "psixiSocial/css/users.css" %}" class = "replaceble1" />
<noscript>
    <style>
        .actions > ul {
            display: block !important;
        }
    </style>
</noscript>