/* Skitter styles */

.box_skitter {position:relative; width: auto; height: auto; margin: 0 auto; overflow:hidden; z-index: 1 !important;}
.box_skitter ul {display:none; }
.box_skitter .label_skitter  ul {display:block; }

.box_skitter .container_skitter {overflow:hidden;position:relative;}
.box_skitter .image {overflow:hidden;}
.box_skitter .image img {display:none;}

.box_skitter .box_clone {position:absolute;top:0;left:0;width:100px;overflow:hidden;display:none;z-index:20;}
.box_skitter .box_clone img {position:absolute;top:0;left:0;z-index:20;}

#navigation_arrows { position:absolute; /*z-index: 205;*/ height: 70px;}
#navigation_arrows div {width: 940px; margin: 0 auto; position:relative;}


.box_skitter .prev_button { position:absolute;top:50%;left:0;z-index:100;overflow:hidden;text-indent:-9999em; }
.box_skitter .next_button { position:absolute;top:50%;right:0;z-index:100;overflow:hidden;text-indent:-9999em; }

.box_skitter .round .prev_button { width:30px;height:30px; background:url(../img/prev.png) no-repeat left top; }
.box_skitter .round .next_button { width:30px;height:30px; background:url(../img/next.png) no-repeat left top;}

.box_skitter .rectangle .prev_button { width:9px;height:17px; background:url(../img/prev-blank.png) no-repeat 45% center rgba(0,0,0,0.7); padding: 7px 11px; border-radius: 4px; -webkit-border-radius:4px;}
.box_skitter .rectangle .next_button { width:9px;height:17px; background:url(../img/next-blank.png) no-repeat 55% center rgba(0,0,0,0.7); padding: 7px 11px; border-radius: 4px; -webkit-border-radius:4px;}

#navigation_arrows div.top span{ top: 20px; }
#navigation_arrows div.top.rectangle span{ top: 19px; }
.browserChrome #navigation_arrows div.top.rectangle span{ top: 18px; }
.browserSafari #navigation_arrows div.top.rectangle span{ top: 18px; }

#navigation_arrows div.top.with-thumbs span{ top: 60px; }
#navigation_arrows div.top.with-thumbs.rectangle span{ top: 59px; }
.browserChrome #navigation_arrows div.top.with-thumbs.rectangle span{ top: 58px; }
.browserSafari #navigation_arrows div.top.with-thumbs.rectangle span{ top: 58px; }

#navigation_arrows div.middle span { top: 50%; margin-top: -15px; }
#navigation_arrows div.bottom span { bottom: 20px;top: auto; }

#navigation_arrows div.bottom.rectangle span { bottom: 19px;top: auto; }
.browserChrome #navigation_arrows div.bottom.rectangle span { bottom: 18px;top: auto; }
.browserSafari #navigation_arrows div.bottom.rectangle span { bottom: 18px;top: auto; }

#navigation_arrows div.bottom.with-thumbs span { bottom: 60px; }
#navigation_arrows div.bottom.with-thumbs.rectangle span { bottom: 59px; }
.browserChrome #navigation_arrows div.bottom.with-thumbs.rectangle span { bottom: 58px; }
.browserSafari #navigation_arrows div.bottom.with-thumbs.rectangle span { bottom: 58px; }

#navigation_arrows div.top-left-bottom-right span.prev_button {top: 20px; }
#navigation_arrows div.top-left-bottom-right.rectangle span.prev_button {top: 19px; }
.browserChrome #navigation_arrows div.top-left-bottom-right.rectangle span.prev_button {top: 19px; }
.browserSafari #navigation_arrows div.top-left-bottom-right.rectangle span.prev_button {top: 19px; }

#navigation_arrows div.top-left-bottom-right span.next_button {top: auto; bottom: 20px; }
#navigation_arrows div.top-left-bottom-right.rectangle span.next_button {top: auto; bottom: 19px; }

#navigation_arrows div.top-left-bottom-right.with-thumbs span.next_button { bottom: 60px; }
#navigation_arrows div.top-left-bottom-right.with-thumbs.rectangle span.next_button { bottom: 59px; }
.browserChrome #navigation_arrows div.top-left-bottom-right.with-thumbs.rectangle span.next_button { bottom: 58px; }
.browserSafari #navigation_arrows div.top-left-bottom-right.with-thumbs.rectangle span.next_button { bottom: 58px; }

#navigation_arrows div.bottom-left-top-right span.prev_button { top: auto; bottom: 20px;}
#navigation_arrows div.bottom-left-top-right.rectangle span.prev_button { top: auto; bottom: 19px;}
.browserChrome #navigation_arrows div.bottom-left-top-right.rectangle span.prev_button { top: auto; bottom: 18px;}
.browserSafari #navigation_arrows div.bottom-left-top-right.rectangle span.prev_button { top: auto; bottom: 18px;}

#navigation_arrows div.bottom-left-top-right.with-thumbs span.prev_button { bottom: 60px;}
#navigation_arrows div.bottom-left-top-right.with-thumbs.rectangle span.prev_button { bottom: 59px;}
.browserSafari #navigation_arrows div.bottom-left-top-right.with-thumbs.rectangle span.prev_button { bottom: 58px;}
.browserChrome #navigation_arrows div.bottom-left-top-right.with-thumbs.rectangle span.prev_button { bottom: 58px;}

#navigation_arrows div.bottom-left-top-right span.next_button {top: 20px; }
#navigation_arrows div.bottom-left-top-right.rectangle span.next_button {top: 19px; }
.browserSafari #navigation_arrows div.bottom-left-top-right.rectangle span.next_button {top: 18px; }
.browserChrome #navigation_arrows div.bottom-left-top-right.rectangle span.next_button {top: 18px; }

.box_skitter .prev_button:hover, .box_skitter .prev_button:focus,
.box_skitter .next_button:hover, .box_skitter .next_button:focus {cursor: pointer;}

.box_skitter #info_wrapper {position:absolute; top:0;left:0; width: 100%; }
.box_skitter #info_inner {position:relative; height:auto; width: 940px; margin: 0 auto;}

/*.box_skitter .info_slide {position:relative; float:left;  z-index:201; background: rgba(0,0,0,0.75); color:#fff; font:normal 11px Helvetica,Arial,sans-serif;padding:5px 0 5px 5px;border-radius:5px;opacity:0.75;}
.box_skitter .info_slide .image_number {background:#333;float:left;padding:3px 10px;margin:0 5px 0 0;cursor:pointer;border-radius:2px;}
.box_skitter .info_slide .image_number_select {background:#EC6F13;float:left;padding:3px 10px;margin:0 5px 0 0;}*/

.box_skitter .info_slide_numbers { position:absolute;  z-index:201; background: rgba(0,0,0,0.75); color:#fff; font:normal 11px Helvetica,Arial,sans-serif;padding:5px 0 5px 5px;border-radius:20px;}
.box_skitter .info_slide_numbers .image_number {background:#111;float:left;padding:3px 7px;margin:0 5px 0 0;cursor:pointer;border-radius:10px;}
.box_skitter .info_slide_numbers .image_number_select {background:#EC6F13;float:left;padding:3px 7px;margin:0 5px 0 0;}

.box_skitter .info_slide_numbers.top-left {top: 20px; left:40px; }
.box_skitter .info_slide_numbers.top-right {top: 20px; right:40px; }
.box_skitter .info_slide_numbers.top-left.no-arrows {left:0; }
.box_skitter .info_slide_numbers.top-right.no-arrows { right:0; }
.box_skitter .info_slide_numbers.bottom-left { bottom: 20px; left: 40px; }
.box_skitter .info_slide_numbers.bottom-right { bottom: 20px; right: 40px; }
.box_skitter .info_slide_numbers.bottom-left.no-arrows { left: 0; }
.box_skitter .info_slide_numbers.bottom-right.no-arrows {  right: 0; }

.box_skitter .container_thumbs { position:absolute; overflow:hidden; height: 50px; top: 0; z-index: 1001; background: rgba(0,0,0,0.75); }
.box_skitter .container_thumbs.top { top: 0; bottom:auto; border-bottom: 1px solid #000;}
.box_skitter .container_thumbs.bottom { top: auto; bottom:0; border-top: 1px solid #000;}
.box_skitter .info_slide_thumb {position:relative; 
    overflow:hidden;/*height:45px;*/top:5px;bottom:0;left:0;padding:3px 5px;opacity:1.0; width: 940px !important; margin: 0 auto;}
.box_skitter .info_slide_thumb .image_number {border-radius: 2px;overflow:hidden;width:70px;height:40px;position:relative; /*float:left;*/ display: inline-block; margin: 0 7px 0 0;}
.box_skitter .info_slide_thumb .image_number img { margin-left: -40%; margin-top: -10%;}

.box_skitter .info_slide_thumb .image_number:hover {cursor: pointer;}

.box_skitter .box_scroll_thumbs {padding:0 10px;}
.box_skitter .box_scroll_thumbs .scroll_thumbs {position:absolute;bottom:60px;left:50px;background:#ccc;background:linear-gradient(-90deg, #555, #fff);width:200px;height:10px;overflow:hidden;text-indent:-9999em;z-index:101;border-radius:20px;cursor:pointer;border:1px solid #333;}

.box_skitter .info_slide_dots { position:absolute; z-index:200;padding: 0; height: 25px;}
.box_skitter .info_slide_dots.top-center { top:20px; bottom: auto; }
.box_skitter .info_slide_dots.top-left {left: 35px !important; top:20px; bottom: auto;}
.box_skitter .info_slide_dots.top-right {left: auto !important; right:35px !important; top:20px; bottom: auto;}
.box_skitter .info_slide_dots.top-left.no-arrows {left: 0 !important; }
.box_skitter .info_slide_dots.top-right.no-arrows {left: auto !important; right:0 !important; }
.box_skitter .info_slide_dots.bottom-center { bottom:20px; top:auto;}
.box_skitter .info_slide_dots.bottom-left {left: 35px !important; top: auto; bottom: 20px;}
.box_skitter .info_slide_dots.bottom-right {left: auto !important; right:35px !important; top: auto; bottom: 20px; }
.box_skitter .info_slide_dots.bottom-left.no-arrows {left: 0 !important; }
.box_skitter .info_slide_dots.bottom-right.no-arrows {left: auto !important; right: 0 !important; }
.box_skitter .info_slide_dots .image_number {background:#111;float:left;margin:1px 5px 0 0;cursor:pointer;border-radius:50px;width:18px;height:18px;text-indent:-9999em;overflow:hidden;}
.box_skitter .info_slide_dots.top-left .image_number, .box_skitter .info_slide_dots.top-right .image_number {margin:6px 5px 0 0;}
.box_skitter .info_slide_dots .image_number_select {background:#cc0000; }

.box_skitter .info_slide_menu { position:absolute; z-index:200;padding:5px 0 5px 5px; padding:5px 0 5px 5px;}
.box_skitter .info_slide_menu.top-center { top:20px; bottom: auto; }
.box_skitter .info_slide_menu.top-left {left: 35px !important; top:20px; bottom: auto;}
.box_skitter .info_slide_menu.top-right {left: auto !important; right:35px !important; top:20px; bottom: auto;}
.box_skitter .info_slide_menu.top-left.no-arrows {left: 0 !important; }
.box_skitter .info_slide_menu.top-right.no-arrows {left: auto !important; right:0 !important;}
.box_skitter .info_slide_menu.bottom-center { bottom:21px; top:auto;}
.box_skitter .info_slide_menu.bottom-left {left: 35px !important; top: auto; bottom: 21px;}
.box_skitter .info_slide_menu.bottom-right {left: auto !important; right:35px !important; top: auto; bottom: 21px; }
.box_skitter .info_slide_menu.bottom-left.no-arrows {left: 0 !important; }
.box_skitter .info_slide_menu.bottom-right.no-arrows {left: auto !important; right:0 !important;  }
.box_skitter .info_slide_menu .image_number {margin:0 5px 0 0;cursor:pointer; -webkit-border-radius:5px;border-radius:5px;/*width:18px;height:18px;*/text-indent: 0;overflow:hidden; /*opacity: 1 !important;*/ padding:7px 12px;}
.box_skitter .info_slide_menu .image_number_select {}


.box_skitter #label_wrapper {z-index:1300; position:absolute; width: 940px; }
.box_skitter #label_wrapper.top {top: 70px;}
.box_skitter #label_wrapper.bottom {top: auto; bottom: 70px;}
.box_skitter #label_wrapper.bottom.with-thumbs { bottom: 110px;}
.box_skitter #label_wrapper img { display:block;}

.box_skitter .label_skitter {z-index:1301; position:relative; /*overflow:hidden; bottom:0px;left:0px;display:none;*/
    width: auto /*940px*/ !important; margin: 0 auto;
}

.box_skitter .loading {position:absolute; top:50%; right:50%; z-index:10000; margin:-16px -16px;color:#fff;text-indent:-9999em;overflow:hidden;background:url(../img/ajax-loader.gif) no-repeat left top;width:32px;height:32px;}

/* label content */
.info_slide_menu, .box_skitter h1, .box_skitter h2 {font-family: 'Oswald', Helvetica, Verdana, Arial, sans-serif;}
.box_skitter p {
    line-height:1.5;margin:1.5em 0; font-size: 12px;
}

.box_skitter h1 {font-size: 32px; line-height: 0.562; margin: 0.562em 0;}
.box_skitter h2 {font-size: 24px; line-height: 0.75; margin: 0.75em 0;}

#label_wrapper {color: #eee; text-shadow: 1px 1px 0 #000;}
#label_wrapper p.readmore { text-shadow: none; }

/* text */
.white-text h1, .white-text h2,
.white-text h3, .white-text strong {color:#fff; text-shadow: 1px 1px 0px rgba(0,0,0,0.7);}
.white-text p,
.white-text ul {color:#eee; text-shadow: 1px 1px 0px rgba(0,0,0,0.9);}

.black-text h1, .black-text h2,
.black-text h3, .black-text strong {color:#111; text-shadow: 1px 1px 0px rgba(255,255,255,0.9);}
.black-text p,
.black-text ul {color:#333; text-shadow: 1px 1px 0px rgba(255,255,255,0.9);}

/* strikers */
.strikers-light h1, .strikers-dark h1 {padding: 15px 20px; margin:15px 0 0;}
.strikers-light h2, .strikers-dark h2 {padding: 10px 17px; margin:15px 0 0;}
.strikers-light p, .strikers-light ul,
.strikers-dark p, .strikers-dark ul {padding: 5px 15px; margin: 15px 0 0;}

.strikers-light h1, .strikers-light h2, .strikers-light h4,
.strikers-light p, .strikers-light ul {color:#111; background: rgba(255,255,255,0.75); float:left; text-shadow: 1px 1px 0px rgba(255,255,255,0.9); clear: both; border-radius: 10px; -webkit-border-radius: 10px;}

.strikers-dark h1, .strikers-dark h2, .strikers-dark h4,
.strikers-dark p, .strikers-dark ul {color: #fff; background: rgba(0,0,0,0.75); float:left; text-shadow: 1px 1px 0px rgba(0,0,0,0.9); clear: both; border-radius: 10px; -webkit-border-radius: 10px; }

.strikers-light p.readmore, .strikers-dark p.readmore {background: none; margin: 15px 0 0; }

/* long strikers */
.long-strikers-light h1, .long-strikers-dark h1 {padding: 15px 20px 15px 5000px; margin:15px 0 0 -5000px;}
.long-strikers-light h2, .long-strikers-dark h2 {padding: 10px 15px 10px 5000px; margin:15px 0 0 -5000px;}
.long-strikers-light p, .long-strikers-light ul,
.long-strikers-dark p, .long-strikers-dark ul {padding: 5px 15px 5px 5000px; margin: 15px 0 0 -5000px;}

.long-strikers-light h1, .long-strikers-light h2, .long-strikers-light h4,
.long-strikers-light p, .long-strikers-light ul {color:#111; background: rgba(255,255,255,0.75); float:left; text-shadow: 1px 1px 0px rgba(255,255,255,0.9); clear: both; border-radius: 10px; -webkit-border-radius: 10px;}

.long-strikers-dark h1, .long-strikers-dark h2, .long-strikers-dark h4,
.long-strikers-dark p, .long-strikers-dark ul {color: #fff; background: rgba(0,0,0,0.75); float:left; text-shadow: 1px 1px 0px rgba(0,0,0,0.9); clear: both; border-radius: 10px; -webkit-border-radius: 10px; }

.long-strikers-light p.readmore, .long-strikers-dark p.readmore {background: none; margin: 15px 0 0;}

/* boxes */
.two-ver-boxes-light div.label_skitter, 
.two-hor-boxes-light div.label_skitter {padding:10px 15px; background: rgba(255,255,255,0.5); border-radius:4px; -webkit-border-radius:4px; border:0; text-shadow: 1px 1px 0px rgba(255,255,255,0.9); }
.two-ver-boxes-dark div.label_skitter, 
.two-hor-boxes-dark div.label_skitter {padding:10px 15px; background: rgba(0,0,0,0.75); border-radius:4px; -webkit-border-radius:4px; border:0; text-shadow: 1px 1px 0px rgba(0,0,0,0.9); }

.two-ver-boxes-light h1, .two-ver-boxes-dark h1 {}

.two-ver-boxes-light h1, .two-ver-boxes-light h2,
.two-ver-boxes-light h3, .two-ver-boxes-light strong,
.two-hor-boxes-light h1, .two-hor-boxes-light h2,
.two-hor-boxes-light h3, .two-hor-boxes-light strong {color:#111;}
.two-ver-boxes-light p, .two-hor-boxes-light p,
.two-ver-boxes-light ul, .two-hor-boxes-light ul {color:#333;}

.two-ver-boxes-dark h1, .two-ver-boxes-dark h2,
.two-ver-boxes-dark h3, .two-ver-boxes-dark strong,
.two-hor-boxes-dark h1, .two-hor-boxes-dark h2,
.two-hor-boxes-dark h3, .two-hor-boxes-dark strong {color:#fff;}
.two-ver-boxes-dark p, .two-hor-boxes-dark p,
.two-ver-boxes-dark ul, .two-hor-boxes-dark ul {color:#eee;}

.two-hor-boxes-light #seq2,
.two-hor-boxes-dark #seq2 {margin-top: 20px;}

.two-hor-boxes-light p:first-child, .two-hor-boxes-light ul:first-child,
.two-hor-boxes-dark p:first-child, .two-hor-boxes-dark ul:first-child {margin-top:0;}

.two-hor-boxes-light #seq1 p:last-child, .two-hor-boxes-light #seq1 ul:last-child, 
.two-hor-boxes-light #seq2 p:last-child, .two-hor-boxes-light#seq2 ul:last-child,
.two-hor-boxes-dark #seq1 p:last-child, .two-hor-boxes-dark #seq1 ul:last-child, 
.two-hor-boxes-dark #seq2 p:last-child, .two-hor-boxes-dark #seq2 ul:last-child {margin-bottom:0;}


.two-ver-boxes-light .label_skitter, .two-ver-boxes-dark .label_skitter {float:left;}

.two-ver-boxes-light #seq1,
.two-ver-boxes-dark #seq1 { width: 45% !important; } 

.two-ver-boxes-light #seq2,
.two-ver-boxes-dark #seq2 { width: 46% !important; margin-left: 22px; }
