{% load static %}
<script type = "text/javascript" src = "{% static "base/js/forms.js" %}" class = "replaceble1"></script>
<script type = "text/javascript" src = "{% static "psixiSocial/js/forms.js" %}" class = "replaceble1"></script>
<script type = "text/javascript" src = "{% static "psixiSocial/js/edit.js" %}" class = "replaceble1"></script>