{% load static %}
<script type = "text/javascript" class = "replaceble1">
    function initProfile() {
        {% if requestUserId %}
            var requestId = {{ requestUserId }};
        {% else %}
            var requestId = null;
        {% endif %}
        {% if targetUserId %}
            var profileId = {{ targetUserId }};
            {% if onlineStatusTextDict %}
                var onlineStatusTextObject = {{ onlineStatusTextDict | safe }};
            {% else %}
                var onlineStatusTextObject = null;
            {% endif %}
            {% if scriptsStatusDict %}
                var statusObject = {{ scriptsStatusDict | safe }};
            {% else %}
                var statusObject = [];
            {% endif %}
        {% else %}
            var profileId = null;
            var onlineStatusTextObject = null;
            var statusObject = null;
        {% endif %}
        var currentTimeStr = '{{ currentDateTime }}';
        {% if friendsStatusDict %}
            var friendsStatusObject = {{ friendsStatusDict | safe }};
        {% else %}
            var friendsStatusObject = {};
        {% endif %}
        var listener = profile(requestId, profileId, onlineStatusTextObject, statusObject, currentTimeStr, friendsStatusObject, '{% url "loadSmallThumb" %}');
        return listener;
    };
</script>
<script type = "text/javascript" src = "{% static "psixiSocial/js/profile.js" %}" class = "replaceble1"></script>