/** Неизменные элементы на всех страницах **/
a {
    color: #6B6B6B;
    text-decoration: none;
}
/** Меню и верх **/
body {
    margin: 0;
}
#aPage {
    position: relative;
    float: left;
    width: 100%;
}
#middleP {
    height: auto;
}
#footP {
    position: relative;
    display: block;
    float: right;
    width: 100%;
}

.box_skitter {
    width: 100% !important;
    height: 400px !important
}
.postH {
    height: 20px;
    background: linear-gradient(#ccc, #eee);
    border-bottom: 1px solid #ccc;
}
/** Тело **/
.halfMin {
    width: 25%;
    float: right;
}
.halfWrap {
    width: 50%;
    padding-left: 25%;
}
/** Футер **/
.footPlace {
    background-color: #DDD;
    padding: 15px 20%;
}
.footer {
    height: 40px;
    background: #6B6B6B none repeat scroll 0% 0%;
    position: relative; z-index: 1000;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 5px 10px 5px #444 inset;
}
#menu nav ul.mainMenu {
    display: inline-block;
}
#menu nav ul.mainMenu li.active ul {
    display: none;
}