{% load static %}
<script type = "text/javascript" class = "replaceble1">
    var itemMargin = [{{ itemMargin.0 }}, {{ itemMargin.1 }}];
    var paddingUL = '{{ ulPadding }}';
    function loadFon() {
        var item = '{{ content }}';
        var link = '{% url "getBigClanImage" %}';
        getBigGround(item, link);
        if (document.removeEventListener) {
            document.removeEventListener("DOMContentLoaded", loadFon);
        } else {
            document.detachEvent("DOMContentLoaded", loadFon);
        }
    };
</script>
<script type = "text/javascript" src = "{% static "libraryTHPS/js/loadBigGroundHelper.js" %}" class = "replaceble1"></script>
