{% load static %}
<script type = "text/javascript" class = "replaceble1">
    itemsPart = 0;
    function changeContent() {
        var currentPath = document.location.pathname;
        itemsPart++;
        loadItems(itemsPart, currentPath, '{{ content }}');
    };
</script> 
<noscript class = "replaceble1">
    <a href = "{% url "storageNoJSRedirectUrl" "noscripts" %}">Включи JavaScript или нажми на это.</a>
</noscript>
<script type = "text/javascript" src = "{% static "libraryTHPS/js/storageLoadHelper.js" %}" class = "replaceble1"></script>
