{% load static %}
<link rel = "stylesheet" type = "text/css" href = "{% static "libraryTHPS/css/add.css" %}" class = "replaceble1" />
<link rel = "stylesheet" type = "text/css" href = "{% static "libraryTHPS/jQueryColorPicker/css/colorpicker.css" %}" class = "replaceble1" />
{#<link rel = "stylesheet" type = "text/css" href = "{% static "libraryTHPS/jQueryColorPicker/css/layout.css" %}" class = "replaceble1" />#}
<link rel = "stylesheet" type = "text/css" href = "{% static "libraryTHPS/jQueryUI/css/jquery-ui.css" %}" class = "replaceble1" />
<link rel = "stylesheet" type = "text/css" href = "{% static "libraryTHPS/jQueryUI/css/jquery-ui.min.css" %}" class = "replaceble1" />
<link rel = "stylesheet" type = "text/css" href = "{% static "libraryTHPS/jQueryUI/css/jquery-ui.structure.css" %}" class = "replaceble1" />
<link rel = "stylesheet" type = "text/css" href = "{% static "libraryTHPS/jQueryUI/css/jquery-ui.structure.min.css" %}" class = "replaceble1" />
