<div id = "libraryTHPSForm" class = "{{ content.1 }}-{{ content.2 }}-{{ content.3 }}">
    {% if navStepsDict %}
        <ul id = "stepsNavi">
            {% for key, value in navStepsDict.items %}
                <li>
                    <p>
                        {% ifnotequal value.url None %}
                            {% if not step == value.name %}
                                <a href = "{{ value.url }}" onclick = "localNavigation(event, this.href);">{{ value.name }}</a>
                            {% else %}
                                <a class = "current">{{ value.name }}</a>
                            {% endif %}
                        {% else %}
                            <a>{{ value.name }}</a>
                        {% endifnotequal %}
                    </p>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <div id = "madeClanThumb">
        {% if madeItems.maded == 0 %}
            <div id = "wrapMade">
                <img src = "{{ madeItems.rootImage }}" />
                    <div class = "place"></div>
            </div>
            <div id = "madeElements" class = "off">
                {% if madeItems.logo %}
                    <div class = "clanLogo">
                        <img src = "{{ madeItems.logo }}" />
                    </div>
                {% endif %}
                {% if madeItems.name %}
                    <div class = "clanName">
                        <span>{{ madeItems.name }}</span>
                    </div>
                {% endif %}
            </div>
        {% elif madeItems.maded == 1 %}
            <div id = "wrapMade">
                <img src = "{{ madeItems.rootImage }}" />
                    <div class = "place">
                        <div class = "clanLogo">
                            <img src = "{{ madeItems.logo }}" />
                        </div>
                    </div>
            </div>
            <div id = "madeElements" class = "off">
                {% if madeItems.name %}
                    <div class = "clanName">
                        <h2>{{ madeItems.name }}</h2>
                    </div>
                {% endif %}
            </div>
        {% elif madeItems.maded == 2 %}
            <div id = "wrapMade">
                <img src = "{{ madeItems.rootImage }}" />
                    <div class = "place">
                        <div class = "clanName">
                            <h2>{{ madeItems.name }}</h2>
                        </div>
                    </div>
            </div>
            <div id = "madeElements" class = "off">
                {% if madeItems.logo %}
                    <div class = "clanLogo">
                        <img src = "{{ madeItems.logo }}" />
                    </div>
                {% endif %}
            </div>
        {% else %}
            <div id = "wrapMade">
                <img src = "{{ madeItems.rootImage }}" />
                    <div class = "place">
                        <div class = "clanName">
                            <h2>{{ madeItems.name }}</h2>
                        </div>
                        <div class = "clanLogo">
                            <img src = "{{ madeItems.logo }}" />
                        </div>
                    </div>
            </div>
            <div id = "madeElements" class = "off"></div>
        {% endif %}
    </div>
    <form id = "libraryForm" action = "" method = "post">
        <input name = "csrfmiddlewaretoken" value = "{{ csrf }}" type = "hidden" />
        {{ form }}
        <input type = "submit" id = "sendAddForm" name = "sendAddForm" value = "Добавить" />
    </form>
    {% if navSectionsDict %}
        <ul id = "sectionsNavi">
            {% for key, value in navSectionsDict.items %}
                <li>
                    <h4>
                        <a href = "{{ value.url }}" onclick = "localNavigation(event, this.href);">{{ value.name }}</a>
                    </h4>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {#{% if section and step %}#}
        {#<div id = "currentLocation"><h1>{{ section }}&nbsp;-->&nbsp;{{ step }}</h1></div>#}
    {#{% endif %}#}
</div>