<div id = "libraryTHPSForm">
    <form id = "libraryForm" method = "post">
        <input name = "csrfmiddlewaretoken" value = "{{ csrf }}" type = "hidden" />
        <div class = "libraryFormMessages">
            <div>{{ message|safe }}</div>
        </div>
    </form>
</div>