<div id = "libraryTHPSForm" class = "{{ content.1 }}-{{ content.2 }}-{{ content.3 }}">
    {% if navStepsDict %}
        <ul id = "stepsNavi">
            {% for key, value in navStepsDict.items %}
                <li>
                    <p>
                        {% ifnotequal value.url None %}
                            {% if not step == value.name %}
                                <a href = "{{ value.url }}" onclick = "localNavigation(event, this.href);">{{ value.name }}</a>
                            {% else %}
                                <a class = "current">{{ value.name }}</a>
                            {% endif %}
                        {% else %}
                            <a>{{ value.name }}</a>
                        {% endifnotequal %}
                    </p>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
        {% if madeItems.maded == 0 %}
        {% elif madeItems.maded == 1 %}
        {% elif madeItems.maded == 2 %}
        {% endif %}
    </div>
    <form id = "libraryForm" action = "" method = "post">
        <input name = "csrfmiddlewaretoken" value = "{{ csrf }}" type = "hidden" />
        <input type = "hidden" id = "id_logoProportions" name = "logoProportions" />
        <input type = "submit" id = "sendAddForm" name = "sendAddForm" value = "Добавить" />
    </form>
    {% if navSectionsDict %}
        <ul id = "sectionsNavi">
            {% for key, value in navSectionsDict.items %}
                <li>
                    <h4>
                        <a href = "{{ value.url }}" onclick = "localNavigation(event, this.href);">{{ value.name }}</a>
                    </h4>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {#{% if section and step %}#}
        {#<div id = "currentLocation"><h1>{{ section }}&nbsp;-->&nbsp;{{ step }}</h1></div>#}
    {#{% endif %}#}
</div>