.in-progress {
    visibility: hidden;
}
.in-progress-image, .hide {
    display: none;
}
#notiList {
    position: fixed;
    top: 10%;
    display: block;
    z-index: 603;
    width: 20%;
    height: auto;
    max-height: 300px;
    padding-left: 10px;
}
#notiList li {
    width: 100%;
    display: inline-flex;
}
#notiList li span {
    width: inherit;
}
#notiList li span a {
    word-wrap: break-word;
}
#notiList li strong {
    margin-right: 10px;
}
#user-notifications a {
    color: #d87200;
    font-family: "DIN Pro Condensed Bold";
}
#user-notifications p {
    font-family: DIN Pro Condensed Regular;
}
#user-notifications p a {
    text-shadow: 0.06px 0.06px 0.03px #111;
}

#user-notifications.opened {
    top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-color: rgba(255, 255, 255, 0.9);
}
#user-notifications {
    position: fixed;
    left: 45%;
    top: 90%;
    z-index: 1001;
}
#user-notifications > span {
    position: inherit;
    font-size: 3em;
    text-shadow: 1px 1px 1px #111, 2px 2px 1px #fff;
}
#user-notifications ul {
    position: relative;
    width: 90%;
    float: left;
    padding: 0 5%;
    overflow-y: auto;
}
#user-notifications ul li {
    display: inline;
    float: left;
    width: auto;
}
#user-notifications ul li p a {
    font-size: 1.3em;
}
#user-notifications .forget {
    display: none;
}
#user-notifications .show .forget {
    display: inherit;
}
#user-notifications > small {
    float: right;
}
.stab {
    padding: 0 20px;
}
.remove-all {
    position: fixed;
    bottom: 22%;
}
#user-notifications .remove-all {
    overflow: hidden;
    visibility: hidden;
}
#user-notifications.opened .remove-all {
    overflow: visible;
    visibility: visible;
}