﻿#login {
    width: 215px;
    height: 145px;
    margin: 0 auto;
}
#login h1 {
    width: inherit;
    text-align: center;
}
#login form {
    width: inherit;
}
#login input[type="submit"] {
    float: right;
}