﻿#aPage #topP #menu {
    width: 100%;
    position: relative;
    z-index: 2;
    float: none;
}
#aPage #topP #menu nav {
    width: inherit;
}
#aPage #topP #menu nav ul.mainMenu {
    position: relative;
    width: inherit;
    background-color: #6B6B6B;
    border-top: 1px solid #A1A1A1;
    border-bottom: 1px solid #A1A1A1;
    float: left;
    top: 0;
    opacity: 0.9;
    box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.4);
    padding: 0;
    margin: 0;
}
#aPage #topP #menu .hideButton {
    display: none;
}
#aPage #topP #menu nav ul.mainMenu li {
    float: left;
    width: auto;
    display: inline-grid;
    border-left: 1px dashed #C0C0C0;
}
#aPage #topP #menu nav ul.mainMenu li:first-child {
    border-left: 0;
}
#aPage #topP #menu nav ul.mainMenu li strong {
    float: right;
    padding: 20px 15px;
    text-align: center;
    font-family: "DIN Pro Black";
    font-size: larger;
    text-decoration: none;
    color: #EBEBEB;
    text-shadow: 1px 3px 1px #303030, 1px 4px 1px #C0C0C0;
}
#aPage #topP #menu nav ul.mainMenu li strong a {
    float: right;
    text-align: center;
    font-family: "DIN Pro Black";
    font-size: larger;
    text-decoration: none;
    color: #EBEBEB;
    text-shadow: 1px 3px 1px #303030, 1px 4px 1px #C0C0C0;
}
#aPage #topP #menu nav ul.mainMenu li ul {
    display: block;
    padding: 25px 0 15px 0;
    float: left;
}
#aPage #topP #menu nav ul.mainMenu li ul li {
    display: inline-flex;
    float: left;
    padding: 10px 0 10px 0;
    border: 0;
}
#aPage #topP #menu nav ul.mainMenu li ul li:hover, #aPage #topP #menu nav ul.mainMenu li ul li:focus {
    background-color: #222;
}
#aPage #topP #menu nav ul.mainMenu li ul li span, #aPage #topP #menu nav ul.mainMenu li.active ul li span {
    display: table;
}
#aPage #topP #menu nav ul.mainMenu li ul li span {
    padding-left: 2em;
    border-bottom: 1px dashed #C0C0C0;
}
#aPage #topP #menu nav ul.mainMenu li ul li span a {
    color: red;
}
#aPage #topP #menu nav ul.mainMenu li.active {
    display: grid;
    height: auto;
    float: left;
    background-color: transparent;
    padding: 0;
}
#aPage #topP #menu nav ul.mainMenu li.active strong {
    float: left;
    text-align: left;
    font-family: "DIN Pro Black";
    font-size: larger;
    text-decoration: none;
    text-shadow: 0 2px 1px #888;
    padding: 20px 15px;
}
#aPage #topP #menu nav ul.mainMenu li.active ul {
    display: inherit;
    float: left;
    padding: 20px 35px 20px 0;
}
#aPage #topP #menu nav ul.mainMenu li.active ul li {
    border-left: 0;
    padding: 15px 0;
    background-color: transparent;
}
#aPage #topP #menu nav ul.mainMenu li.active ul li span {
    border-bottom : 1px dashed #C0C0C0;
    padding-left: 5em;
    padding-right: 1em;
}
#aPage #topP #menu nav ul.mainMenu li.active strong,
#aPage #topP #menu nav ul.mainMenu li.active ul li span a {
    color: #000;
}
#aPage #topP #menu nav ul.mainMenu li.active ul li:hover,
#aPage #topP #menu nav ul.mainMenu li.active ul li:focus {
    background-color: red;
}
#aPage #topP #menu nav ul.mainMenu li.active ul li.hovered:hover,
#aPage #topP #menu nav ul.mainMenu li.active ul li.hovered:focus {
    background-color: #575757;
}
#aPage #topP #menu nav a {
    cursor: pointer;
}
#aPage #topP #menu nav ul.mainMenu li.active ul li ul {
    padding: 0 35px 25px 0;
    margin: 21px 0 0 0;
    border-left: 1px dashed #C0C0C0;
    border-bottom: 1px dashed #C0C0C0;
    display: inline-grid;
}