#aPage #topP #menu {
    width: 100%;
    position: fixed;
    z-index: 601;
    float: none;
    /*margin: -3% auto;*/
}
#aPage #topP #menu nav {
    width: inherit;
}
#aPage #topP #menu nav ul.mainMenu {
    position: relative;
    display: none;
    width: inherit;
    background-color: #6B6B6B;
    border-top: 1px solid #A1A1A1;
    border-bottom: 1px solid #A1A1A1;
    float: left;
    top: 0;
    box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.4);
    padding: 0;
    margin: 0;
    opacity: 0.9;
}
#aPage #topP #menu nav ul.mainMenu li.active {
    border-bottom: 1px dashed #C0C0C0;
    margin-bottom: 15px;
}
#aPage #topP #menu nav ul.mainMenu li {
    display: none;
    float: left;
    width: auto;
    display: inline-grid;
    border-left: 1px dashed #C0C0C0;
}
#aPage #topP #menu nav ul.mainMenu li:first-child {
    border-left: 0;
}
#aPage #topP #menu nav ul.mainMenu li.active strong {
    float: left;
    text-align: left;
    font-family: "DIN Pro Black";
    font-size: larger;
    text-decoration: none;
    text-shadow: 0 2px 1px #888;
    padding: 20px 15px;
    color: #EBEBEB;
    cursor: default;
}
#aPage #topP #menu nav ul.mainMenu li strong {
    float: right;
    padding: 20px 15px;
    text-align: center;
    font-family: "DIN Pro Black";
    font-size: larger;
    text-decoration: none;
    color: #EBEBEB;
    text-shadow: 1px 3px 1px #303030, 1px 4px 1px #C0C0C0;
}
#aPage #topP #menu nav ul.mainMenu li strong a {
    float: right;
    text-align: center;
    font-family: "DIN Pro Black";
    font-size: larger;
    text-decoration: none;
    color: #EBEBEB;
    text-shadow: 1px 3px 1px #303030, 1px 4px 1px #C0C0C0;
}
#aPage #topP #menu nav ul.mainMenu li ul {
    display: none;
    padding: 25px 0 15px 0;
    float: left;
}
#aPage #topP #menu nav ul.mainMenu li ul li {
    display: inline-flex;
    float: left;
    padding: 10px 0 10px 0;
    border: 0;
}
#aPage #topP #menu nav ul.mainMenu li ul li:hover, #aPage #topP #menu nav ul.mainMenu li ul li:focus {
    background-color: #222;
}
#aPage #topP #menu nav ul.mainMenu li ul li span, #aPage #topP #menu nav ul.mainMenu li.active ul li span {
    display: table;
}
#aPage #topP #menu nav ul.mainMenu li ul li span {
    padding-left: 2em;
    border-bottom: 1px dashed #C0C0C0;
}
#aPage #topP #menu nav ul.mainMenu li.active {
    display: inline-grid;
    height: auto;
    float: left;
    background-color: transparent;
    padding: 0;
}
#aPage #topP #menu nav ul.mainMenu li.active ul {
    display: grid;
    float: left;
    padding: 20px 35px 20px 0;
}
#aPage #topP #menu nav ul.mainMenu li.active > ul.fixed,
#aPage #topP #menu nav ul.mainMenu li.active ul.activePageMenu:hover, #aPage #topP #menu nav ul.mainMenu li.active ul.activePageMenu:focus {
    margin-top: -70px;
}
#aPage #topP #menu nav ul.mainMenu li.active ul.activePageMenu {
    margin: 20px 30px 20px 0;
    padding: 0 !important;
}
#aPage #topP #menu nav ul.mainMenu li.active ul li {
    display: inline-flex;
    border-left: 0;
    padding: 0.5em 0;
    background-color: transparent;
}
#aPage #topP #menu nav ul.mainMenu li.active ul li span {
    border-bottom : 1px dashed #C0C0C0;
    padding-left: 3em;
    padding-right: 1em;
}
#aPage #topP #menu nav ul.mainMenu li.active ul li span,
#aPage #topP #menu nav ul.mainMenu li.active ul li span a {
    color: #EEE;
    font-family: DIN Pro Condensed Italic;
    font-size: 20px;
    text-shadow: 1px 2px 1px #303030;
}
#aPage #topP #menu nav ul.mainMenu > li:hover ul li:hover,
#aPage #topP #menu nav ul.mainMenu > li:focus ul li:focus {
    /*background-color: #535353;*/
}
#aPage #topP #menu nav ul.mainMenu > li:hover ul li:hover ul li:hover,
#aPage #topP #menu nav ul.mainMenu > li:focus ul li:focus ul li:focus {
    /*background-color: red;*/
}
#aPage #topP #menu nav ul.mainMenu > li:hover ul li:hover ul li:hover ul li:hover,
#aPage #topP #menu nav ul.mainMenu > li:focus ul li:focus ul li:focus ul li:focus {
    /*background-color: #505050;*/
}
#aPage #topP #menu nav a {
    cursor: pointer;
}
#aPage #topP #menu nav ul.mainMenu li.active ul li ul {
    /*padding: 0 35px 25px 0;*/
    padding: 0 1em 1em 0;
    margin: 25px 0 0 0;
    border-left: 1px dashed #C0C0C0;
    border-bottom: 1px dashed #C0C0C0;
}
.show {
    display: inherit !important;
}
.showActiveMenu, .fixed {
    display: inline-grid !important;
}
#aPage #topP #menu nav ul.mainMenu li.active ul li.current {
    background-color: #555 !important;
    text-decoration: underline solid #CCC !important;
}
#aPage #topP #menu nav ul.mainMenu li.active ul li.current span,
#aPage #topP #menu nav ul.mainMenu li.active ul li.current span a {
    font-family: DIN Pro Condensed Bold Italic;
}
.blocked {
    text-decoration: line-through !important;
}
#aPage #topP #menu nav ul.mainMenu li.active ul li ul, #aPage #topP #menu nav ul.mainMenu li.active ul li ul li ul,
#aPage #topP #menu nav ul.mainMenu li.active ul  li ul li ul li ul, #aPage #topP #menu nav ul.mainMenu li.active ul  li ul li ul li ul li ul {
    display: none;
}
