﻿#themesMenuWrap {
    border-color: #DDD;
    border-radius: 50%;
}
#switchThemesMain > div, #switchThemesMain > table, #switchThemesMain > table tbody {
    width: inherit;
    height: auto;
    position: relative;
    display: block;
}
#themesMenu, #themesMenuWrap, #themesMenu > canvas, #switchThemesMain {
    position: fixed;
    z-index: 2;
}
#switchThemesMain .header, #switchThemesMain .footer {
    height: auto;
    width: inherit;
    float: left;
    background-color: #DDD;
    z-index: 3;
}
#switchThemesMain .header ul.headtypes {
    width: inherit;
    height: auto;
    float: inherit;
    margin: 0;
    padding: 0;
}
#switchThemesMain .header ul.headtypes li h2 {
    float: inherit;
    padding: 5px 20px;
    width: auto;
    font-family: 'DIN Pro Condensed Light Italic';
    font-weight: normal;
}
#switchThemesMain .header ul.headtypes li ul li h3 a, #switchThemesMain .footer ul.menu li h3 a {
    font-family: 'DIN Pro Condensed Black';
    font-weight: normal;
}
#switchThemesMain .header ul.headtypes li ul {
    max-width: 50%;
    height: auto;
    float: right;
    margin: 0;
    padding: 0;
}
#switchThemesMain .header ul.headtypes li {
    display: inline-block;
    width: inherit;
    height: auto;
    float: inherit;
}
#switchThemesMain .header ul.headtypes li ul li {
    display: inline-block;
    float: left;
    padding: 10px 25px;
    border-right: 1px dashed #999;
}
#switchThemesMain .header ul.headtypes li ul li:last-child {
    border-right: 0;
}
#switchThemesMain .header ul.headtypes li ul li.active h3 a, #switchThemesMain .footer ul.menu li.active h3 a {
    color: red;
}
#switchThemesMain table tr {
    box-sizing: border-box;
}
#switchThemesMain table.common tr:nth-child(1), #switchThemesMain table.common tr:nth-child(2),
#switchThemesMain table.common tr:nth-child(3), #switchThemesMain table.common tr:nth-child(6),
#switchThemesMain table.common tr:nth-child(1) td, #switchThemesMain table.common tr:nth-child(4) td,
#switchThemesMain table.levels tr, #switchThemesMain table.themes tr {
    float: left;
}
#switchThemesMain table.common tr:nth-child(4), #switchThemesMain table.common tr:nth-child(5),
#switchThemesMain table.common tr:nth-child(7) {
    float: right;
}
#switchThemesMain table.common tr:nth-child(2) {
    border-left-color: #CCC;
}
#switchThemesMain table.common tr:nth-child(5) {
    border-right-color: #CCC;
}
#switchThemesMain table.common tr:nth-child(1) {
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #CCC;
    border-radius: 2px 0 0 2px;
}
#switchThemesMain table.common tr:nth-child(4) {
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #CCC;
    border-radius: 0 2px 2px 0;
}
#switchThemesMain table.common tr {
    background-color: #DDD;
}
#switchThemesMain table.common tr:nth-child(6) {
    background-color: transparent;
}
#switchThemesMain table.common tr td {
    height: 10%;
    border-bottom: 1px solid #ebebeb;
}
#switchThemesMain table.common tr td:nth-child(even) {
    width: 47%;
    float: left;
    text-align: left;
    padding: 3% 0 3% 3%;
}
#switchThemesMain table.common tr td:nth-child(odd) {
    width: 47%;
    float: right;
    text-align: center;
    padding: 3% 3% 3% 0;
}
#switchThemesMain table.levels tr {
    background-color: #fafafa;
}
#switchThemesMain table.themes tr {
    background-color: #f8f8f8;
}
#switchThemesMain table.levels tr:nth-child(1), #switchThemesMain table.themes tr:nth-child(1) {
    border-right: 2px dashed #ccc;
}
#switchThemesMain table.levels tr:nth-child(2), #switchThemesMain table.themes tr:nth-child(2) {
    border-bottom: 2px dashed #ccc;
}
.testclass {
    width: 60px;
    height: 60px;
    background-color: #333;
}
#switchThemesMain .header ul li, #switchThemesMain .footer ul li {
    cursor: pointer;
}
#switchThemesMain .footer ul.menu {
    padding: 0;
}
#switchThemesMain .footer ul.menu li {
    display: inline-block;
    float: left;
    padding: 0 3%;
}
#switchThemesMain table.levels tr td, #switchThemesMain table.themes tr td {
    float: left;
    border: 1px solid #111;
    text-align: center;
}
#switchThemesMain table.themes tr.active td td, #switchThemesMain table.themes tr.unactive td {
    float: none;
    width: auto !important;
    height: auto !important;
}
#switchThemesMain table.levels tr.active td, #switchThemesMain table.levels tr.unactive td,
#switchThemesMain table.themes tr.active td td, #switchThemesMain table.themes tr.unactive td {
    cursor: move;
}
#switchThemesMain table.levels small, #switchThemesMain table.levels span,
#switchThemesMain table.themes small, #switchThemesMain table.themes span {
    display: block;
    text-align: center;
}
#switchThemesMain table.levels small, #switchThemesMain table.themes small {
    font-family: 'DIN Pro Condensed Light';
}
#switchThemesMain table.levels span, #switchThemesMain table.themes span {
    font-family: "DIN Pro Bold";
}
#switchThemesMain table.levels tr td > td {
    display: none;

}
#switchThemesMain table.elements tr {
    display: inherit;
    float: left;
    background-color: #FEFEFE;
}
#switchThemesMain table.elements .zonesPlace {
    border-bottom: 1px dashed #ddd;
}
#boxZoneElement {
    display: none;
    float: none;
    background-color: #FAFAFA;
    border: 1px solid #d1d1d1;
}
#boxZoneElement.active {
    display: block;
}