<small class = "updates-close">Закрыть</small>
<ul class = "updates-list">
    {% for i, data in notifyDict.items %}
        {% with data.name as name %}
            {% if name == "dialogMessage" %}
                {% with data.bySlug as slug %}
                    <li class = "{{ data.orderId }}">
                        <small><a href = "{% url "deleteNotyfiEvent" name data.state data.byId %}" class = "remove">Скрыть</a></small>
                        <p>
                            <a href = "{% url "personalMessage" slug %}" class = "item">
                                {% with data.count as count %}
                                    {{ count }}
                                    {% if count == 1 %}
                                        сообщение
                                    {% elif count < 5 %}
                                        сообщения
                                    {% else %}
                                        сообщений
                                    {% endif %}
                                {% endwith %}
                            </a>
                            от <a href = "{% url "profile" slug %}">{{ data.byUsername }}</a>
                        </p>
                    </li>
                {% endwith %}
            {% elif name == "friend" %}
                {% with data.state as state %}
                    {% if state  == "new" %}
                        {% with data.byId as id %}
                            <li class = "friend-request-form {{ data.orderId }}">
                                <small><a href = "{% url "deleteNotyfiEvent" name state id %}" class = "remove">Скрыть</a></small>
                                <p>Пользователь <a href = "{% url "profile" data.bySlug %}">{{ data.byUsername }}</a> прислал запрос на добавление в друзья</p>
                                <form method = "post">
                                    <input name = "csrfmiddlewaretoken" value = "{{ csrf }}" type = "hidden" />
                                    <input type = "button" formaction = "{% url "rejectFriend" id %}" value = "Отклонить" />
                                    <input type = "button" formaction = "{% url "addFriend" id %}" value = "Добавить в друзья" />
                                </form>
                            </li>
                        {% endwith %}
                    {% elif state == "rejected" %}
                        <li class = "{{ data.orderId }}">
                            <small><a href = "{% url "deleteNotyfiEvent" name state data.byId %}" class = "remove">Скрыть</a></small>
                            <p>Пользователь <a href = "{% url "profile" data.bySlug %}">{{ data.byUsername }}</a> отклонил ваше предвложение о дружбе</p>
                        </li>
                    {% endif %}
                {% endwith %}
            {% endif %}
        {% endwith %}
    {% endfor %}
</ul>