<div id = "socialFormWrap" class = "{{ content.0 }} {{ content.1 }} {{ content.2 }}">
    <div class = "formHeader">
        {% for tag, text in helpTextDict.items %}
            <{{ tag }}>{{ text|safe }}</{{ tag }}>
        {% endfor %}
    </div>
    <ul id = "shortMenu">
        <li><p><a href = "{% url "profile" "im" %}">К профилю</a></p></li>
        <li><p><a href = "{% url "profileEditUrl" "main" %}">Основные</a></p></li>
        <li><p><a href = "{% url "profileEditUrl" "detail" %}">Дополнительные</a></p></li>
        <li><p><a href = "{% url "profileEditUrl" "contacts" %}">Обратная связь</a></p></li>
        <li><p><a href = "{% url "profileEditUrl" "thps" %}">THPS</a></p></li>
        <li><p><a href = "{% url "editPrivacyUrl" "profile" %}">Настройки приватности</a></p></li>
    </ul>
    {% if form %}
        {% if form.is_multipart %}
            <form id = "socialForm" enctype = "multipart/form-data" action = "" method = "post">
                <input name = "csrfmiddlewaretoken" value = "{{ csrf }}" type = "hidden" />
                <table>
                    {{ form.as_table }}
                </table>
                <input id = "sendForm" type = "submit" value = "Изменить" />
            </form>
        {% else %}
            <form id = "socialForm" action = "" method = "post">
                <input name = "csrfmiddlewaretoken" value = "{{ csrf }}" type = "hidden" />
                <table>
                    {{ form.as_table }}
                </table>
                <input id = "sendForm" type = "submit" value = "Изменить" />
            </form>
        {% endif %}
    {% else %}
        <form id = "socialForm" method = "post">
            <input name = "csrfmiddlewaretoken" value = "{{ csrf }}" type = "hidden" />
            <div class = "socialFormMessages">
                {% for tag, text in formTextDict.items %}
                    {% if not tag == "input" %}
                        {% if not tag == 'br' %}
                            <{{ tag }}>{{ text|safe }}</{{ tag }}>
                        {% else %}
                            <br />
                        {% endif %}
                    {% else %}
                        <{{ tag }} {{ text|safe }}/>
                    {% endif %}
                {% endfor %}
            </div>
        </form>
    {% endif %}
</div>