<div id = "socialFormWrap" class = "{{ content.0 }} {{ content.1 }} {{ content.2 }}">
    <div class = "formHeader">
        <h1>Вход</h1>
    </div>
    <form id = "socialForm" action = "" method = "post">
        <input name = "csrfmiddlewaretoken" value = "{{ csrf }}" type = "hidden" />
        <table>
            {{ form.as_table }}
        </table>
        <input id = "sendForm" type = "submit" value = "Изменить" />
    </form>
</div>