<div id = "socialFormWrap">
    <div class = "formHeader">
        {% for key, value in helpTextDict.items %}
                {% for text in value %}
                    <{{ key }}>{{ text }}</{{ key }}>
                {% endfor %}
        {% endfor %}
    </div>
    <form id = "socialForm" action = "" method = "post">
        <input name = "csrfmiddlewaretoken" value = "{{ csrf }}" type = "hidden" />
        <table>
            {{ form.as_table }}
        </table>
        <input id = "sendForm" type = "submit" value = "Регистрация" />
    </form>
</div>