{% extends parentTemplate %}
{% block title %}{% endblock title %}
{% load static %}
{% block statics %}
	{% with content.1 as type1 %}
		{% with content.2 as type2 %}
			<link rel = "stylesheet" type = "text/css" href = "{% static "base/css/classicPage/base.css" %}" class = "replaceble0" />
			<link rel = "stylesheet" type = "text/css" href = "{% static "base/css/menuHided.css" %}" class="replaceble0" />
			<link rel = "stylesheet" href = "{% static "psixiSocial/css/psixiSocial.css" %}" class = "replaceble0" />
			{% if type1 == "profile" %}
				{% if type2 == "show" %}
					{% include "psixiSocial/head/profile.html" %}
				{% elif type2 == "edit" %}
					{% include "psixiSocial/head/edit.html" %}
				{% endif %}
			{% elif type1 == "users" or type1 == "friends" %}
				{% include "psixiSocial/head/users.html" %}
			{% elif type1 == "registration" %}
				{% include "psixiSocial/head/registration.html" %}
			{% elif type1 == "dialog" %}
				{% include "psixiSocial/head/dialogs/dialogWrite.html" %}
			{% elif type1 == "dialogs" %}
				{% include "psixiSocial/head/dialogs/dialogsList.html" %}
			{% endif %}
		{% endwith %}
	{% endwith %}
{% endblock statics %}
{% block top %}
{% endblock top %}
{% block body %}
	{% with content.1 as type1 %}
		{% with content.2 as type2 %}
			<div id = "socialContent">
				{% if type1 == "profile" %}
					{% if type2 == "show" %}
						{% if content.3 == "my" %}
							{% if content.4 == "thps" %}
								{% include "psixiSocial/body/profile/profileThpsInfo.html" with content=content profileIsMine=True profileMainInfo=profileMainInfo profileContacts=profileContacts profileImages=profileImages profileTHPSInfo=profileTHPSInfo bodyStatus=bodyStatus friends=friends onlineFriends=onlineFriends csrf=csrf only %}
							{% else %}
								{% include "psixiSocial/body/profile/profile.html" with content=content profileIsMine=True profileMainInfo=profileMainInfo profileContacts=profileContacts profileImages=profileImages bodyStatus=bodyStatus friends=friends onlineFriends=onlineFriends csrf=csrf only %}
							{% endif %}
						{% else %}
							{% if content.4 == "thps" %}
								{% include "psixiSocial/body/profile/profileThpsInfo.html" with content=content profileIsMine=False isFriend=isFriend profileMainInfo=profileMainInfo profileContacts=profileContacts profileImages=profileImages profileTHPSInfo=profileTHPSInfo bodyStatus=bodyStatus friends=friends onlineFriends=onlineFriends sendFriendRequestPrivacy=sendFriendRequestPrivacy csrf=csrf only %}
							{% else %}
								{% include "psixiSocial/body/profile/profile.html" with content=content profileIsMine=False isFriend=isFriend profileMainInfo=profileMainInfo profileContacts=profileContacts profileImages=profileImages bodyStatus=bodyStatus friends=friends onlineFriends=onlineFriends sendFriendRequestPrivacy=sendFriendRequestPrivacy csrf=csrf only %}
							{% endif %}
						{% endif %}
					{% elif type2 == "edit" %}
						{% include "psixiSocial/body/edit.html" with content=content csrf=csrf helpTextDict=helpTextDict form=form formTextDict=formTextDict only %}
					{% elif type2 == "hidden" %}
						{% include "psixiSocial/body/profile/hidden.html" with slug=slug username=username text=text only %}
					{% endif %}
				{% elif type1 == "users" %}
					{% if type2 == "all" %}
						{% include "psixiSocial/body/users/users.html" with usersListTuple=usersListTuple only %}
					{% elif type2 == "online" %}
						{% include "psixiSocial/body/users/usersOnline.html" with usersListTuple=usersListTuple only %}
					{% endif %}
				{% elif type1 == "friends" %}
					{% if type2 == "all" %}
						{% include "psixiSocial/body/friends/friends.html" with usersListTuple=usersListTuple only %}
					{% elif type2 == "online" %}
						{% include "psixiSocial/body/friends/friendsOnline.html" with usersListTuple=usersListTuple only %}
					{% elif type2 == "hidden" %}
						{% include "psixiSocial/body/friends/hidden.html" with userProfile=userProfile text=text only %}
					{% endif %}
				{% elif type1 == "registration" %}
					{% include "psixiSocial/body/registration.html" with csrf=csrf form=form helpTextDict=helpTextDict only %}
				{% elif type1 == "login" %}
					{% include "psixiSocial/body/login.html" with form=form csrf=csrf only %}
				{% elif type1 == "dialog" %}
					{% if type2 == "personal" %}
						{% if content.3 == True %}
							{% include "psixiSocial/body/dialogs/dialogWritePersonalXHR.html" with accessToSend=accessToSend form=form csrf=csrf imagesToSend=imagesToSend myMainThumb=myMainThumb toUserMainThumb=toUserMainThumb myListThumb=myListThumb toUserListThumb=toUserListThumb only %}
						{% else %}
							{% include "psixiSocial/body/dialogs/dialogWritePersonal.html" with accessToSend=accessToSend form=form csrf=csrf messagesQuerySet=messagesQuerySet imagesQuerySet=imagesQuerySet unreadMessagesSet=unreadMessagesSet requestUserId=requestUserId imagesToSend=imagesToSend myMainThumb=myMainThumb toUserMainThumb=toUserMainThumb myListThumb=myListThumb toUserListThumb=toUserListThumb only %}
						{% endif %}
					{% else %}
						{% if content.3 == True %}
							{% include "psixiSocial/body/dialogs/dialogWriteGroupXHR.html" with accessToSend=accessToSend form=form csrf=csrf imagesToSend=imagesToSend mainThumbsDict=mainThumbsDict requestUserId=requestUserId only %}
						{% else %}
							{% include "psixiSocial/body/dialogs/dialogWriteGroup.html" with accessToSend=accessToSend form=form csrf=csrf imagesToSend=imagesToSend messagesQuerySet=messagesQuerySet imagesQuerySet=imagesQuerySet unreadUsersIdsDictList=unreadUsersIdsDictList unreadUsersNamesDictList=unreadUsersNamesDictList mainThumbsDict=mainThumbsDict smallThumbsDict=smallThumbsDict requestUserId=requestUserId sendersIds=sendersIds only %}
						{% endif %}
					{% endif %}
				{% elif type1 == "dialogs" %}
					{% include "psixiSocial/body/dialogs/dialogsList.html" with dialogsListList=dialogsListList dialogIdsList=dialogIdsList dialogsLinksList=dialogsLinksList smallThumbsDict=smallThumbsDict mainThumbsDict=mainThumbsDict mainThumbsIdsOrderedList=mainThumbsIdsOrderedList unreadMessages=unreadMessages requestUserId=requestUserId only %}
				{% elif type1 == "userUpdates" %}
					{% include "realtime/userUpdates.html" with notifyDict=notifyDict only %}
				{% endif %}
			</div>
		{% endwith %}
	{% endwith %}
{% endblock body %}
{% block footer %}
	{% include "base/classicPage/footer.html" %}
{% endblock footer %}
{% block scripts %}
	{% with content.1 as type1 %}
		{% with content.2 as type2 %}
			<script type = "text/javascript" src = "{% static "psixiSocial/js/navigation.js" %}" class = "replaceble0"></script>
			<script src = "{% static "base/js/formsSimplifield.js" %}" class = "replaceble0"></script>
			<script src = "{% static "psixiSocial/js/userStatus.js" %}" class = "replaceble0"></script>
			{% if type1 == "profile" %}
				{% if type2 == "show" %}
					{% include "psixiSocial/scripts/profile.html" with requestUserId=requestUserId targetUserId=targetUserId onlineStatusTextDict=onlineStatusTextDict scriptsStatusDict=scriptsStatusDict currentDateTime=currentDateTime friendsStatusDict=friendsStatusDict only %}
				{% elif type2 == "edit" %}
					{% include "psixiSocial/scripts/edit.html" %}
				{% endif %}
			{% elif type1 == "registration" or type1 == "login" %}
				{% include "psixiSocial/scripts/edit.html" %}
			{% elif type1 == "dialog" %}
				{% if type2 == "personal" %}
					{% include "psixiSocial/scripts/dialogs/dialogWritePersonal.html" with messagesListDict=messagesListDict unreadMessagesDictList=unreadMessagesDictList requestUserId=requestUserId opponentUserId=opponentUserId dialogId=dialogId time=time myListThumb=myListThumb toUserListThumb=toUserListThumb onlineStatusDict=onlineStatusDict activeStatusDict=activeStatusDict only %}
				{% else %}
					{% include "psixiSocial/scripts/dialogs/dialogWriteGroup.html" with dialogSlug=dialogSlug messagesListDict=messagesListDict unreadUsersIdsDictList=unreadUsersIdsDictList unreadUsersNamesDictList=unreadUsersNamesDictList sendersIds=sendersIds smallThumbsDict=smallThumbsDict onlineStatusDict=onlineStatusDict activeStatusDict=activeStatusDict requestUserId=requestUserId dialogId=dialogId time=time only %}
				{% endif %}
			{% elif type1 == "dialogs" %}
				{% include "psixiSocial/scripts/dialogs/dialogsList.html" with requestUserId=requestUserId smallThumbsDict=smallThumbsDict onlineStatusDict=onlineStatusDict activeStatusDict=activeStatusDict time=time only %}
			{% elif type1 == "users" %}
				{% if type2 == "online" %}
					{% include "psixiSocial/scripts/users/usersOnline.html" with requestUserId=requestUserId textDict=textDict statusDict=statusDict currentDateTime=currentDateTime only %}
				{% else %}
					{% include "psixiSocial/scripts/users/users.html" with requestUserId=requestUserId textDict=textDict statusDict=statusDict currentDateTime=currentDateTime only %}
				{% endif %}
			{% elif type1 == "friends" %}
				{% if type2 == "all" %}
					{% include "psixiSocial/scripts/users/users.html" with requestUserId=requestUserId textDict=textDict statusDict=statusDict currentDateTime=currentDateTime only %}
				{% elif type2 == "online" %}
					{% include "psixiSocial/scripts/users/users.html" with requestUserId=requestUserId textDict=textDict statusDict=statusDict currentDateTime=currentDateTime only %}
				{% else %}
					{% include "psixiSocial/scripts/friends/hidden.html" %}
				{% endif %}
			{% endif %}
			<script type = "text/javascript" class = "replaceble1">
				var place = '{{ content.0 }}';
				function initMenu(place) {
					var menu = JSON.parse('{{ menu|safe }}');
					generateMenu(menu, place);
				};
				!menu ? copyMenu() : 0;
				initMenu(place);
			</script>
		{% endwith %}
	{% endwith %}
{% endblock scripts %}