{% load static %}
{% load checkInstances %}
{% load messagesFilters %}
{% get_media_prefix as media_url %}
<div id = "dialog">
    <div id = "show-dialogs"><a href = "{% url "dialogs" "" 1 %}?from-dialog&page=1"></a></div>
    <div id = "dialog-members">
        {% autoescape off %}
            {% with mainThumbsDict|popValueFromDict:requestUserId as thumb %}
                {{ thumb | join:"" }}
            {% endwith %}
            <div class = "group-dialog-thumb">

            </div>
            <ul>
            {% for id, thumb in mainThumbsDict.items %}
                <li>
                    {{ thumb | join:"" }}
                </li>
            {% endfor %}
            </ul>
        {% endautoescape %}
    </div>
    <ul class = "messages-list-group">
        {% if unreadUsersIdsDictList %}
            {% with unreadUsersIdsDictList|getDictKeysToSet as unreadMessagesSet %}
                {% if unreadMessagesSet %}
                    {% with sendersIds|getLengthSpec as allSendersLen %}
                        {% if imagesQuerySet %}
                            {% for message in messagesQuerySet %}
                                {% with message.id|convertUUIDToStr as messageId %}
                                    {% with message.by_id as byId %}
                                        {% if message.messageHead or forloop.counter0 == 0 %}
                                            {% if unreadMessagesSet|isInstanceItemInSetOnce:messageId %}
                                                {% if requestUserId == byId %}
                                                    <li class = "my-message unread start-group" value = "{{ messageId }}">
                                                {% else %}
                                                    <li class = "not-my-message unread start-group" value = "{{ messageId }}">
                                                {% endif %}
                                            {% else %}
                                                {% if requestUserId == byId %}
                                                    <li class = "my-message start-group" value = "{{ messageId }}">
                                                {% else %}
                                                    <li class = "not-my-message start-group" value = "{{ messageId }}">
                                                {% endif %}
                                            {% endif %}
                                            {% with smallThumbsDict|getValueFromDict:byId as thumb %}
                                                {{ thumb | safe }}
                                            {% endwith %}
                                        {% else %}
                                            {% if unreadMessagesSet|isInstanceItemInSetOnce:messageId %}
                                                {% if requestUserId == byId %}
                                                    <li class = "my-message unread" value = "{{ messageId }}">
                                                {% else %}
                                                    <li class = "not-my-message unread" value = "{{ messageId }}">
                                                {% endif %}
                                            {% else %}
                                                {% if requestUserId == byId %}
                                                    <li class = "my-message" value = "{{ messageId }}">
                                                {% else %}
                                                    <li class = "not-my-message" value = "{{ messageId }}">
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                        <div class = "message-properties">
                                            <small>{{ message.time }}</small>
                                        </div>
                                        {% with message.body as messageBody %}
                                            {% if messageBody %}
                                                <div class = "message-textbody">
                                                    <p>{{ messageBody }}</p>
                                                </div>
                                            {% endif %}
                                        {% endwith %}
                                        {% with imagesQuerySet|getAttachmentInstanceGroup:messageId as images %}
                                            {% if images %}
                                                {% with images.itemsLength as imagesLen %}
                                                    <div class = "images-attachment">
                                                        {% if imagesLen > 3 %}
                                                            {% if imagesLen == 4 %}
                                                                <img src = "{{ media_url }}{{ images.image4 }}" lazyload />
                                                                <img src = "{{ media_url }}{{ images.image3 }}" lazyload />
                                                                <img src = "{{ media_url }}{{ images.image2 }}" lazyload />
                                                                <img src = "{{ media_url }}{{ images.image1 }}" lazyload />
                                                            {% elif imagesLen == 5 %}
                                                                <img src = "{{ media_url }}{{ images.image5 }}" lazyload />
                                                                <img src = "{{ media_url }}{{ images.image4 }}" lazyload />
                                                                <img src = "{{ media_url }}{{ images.image3 }}" lazyload />
                                                                <img src = "{{ media_url }}{{ images.image2 }}" lazyload />
                                                                <img src = "{{ media_url }}{{ images.image1 }}" lazyload />
                                                            {% else %}
                                                                <img src = "{{ media_url }}{{ images.image6 }}" lazyload />
                                                                <img src = "{{ media_url }}{{ images.image5 }}" lazyload />
                                                                <img src = "{{ media_url }}{{ images.image4 }}" lazyload />
                                                                <img src = "{{ media_url }}{{ images.image3 }}" lazyload />
                                                                <img src = "{{ media_url }}{{ images.image2 }}" lazyload />
                                                                <img src = "{{ media_url }}{{ images.image1 }}" lazyload />
                                                            {% endif %}
                                                        {% else %}
                                                            {% if imagesLen == 1 %}
                                                                <img src = "{{ media_url }}{{ images.image1 }}" lazyload />
                                                            {% elif imagesLen == 2 %}
                                                                <img src = "{{ media_url }}{{ images.image2 }}" lazyload />
                                                                <img src = "{{ media_url }}{{ images.image1 }}" lazyload />
                                                            {% else %}
                                                                <img src = "{{ media_url }}{{ images.image3 }}" lazyload />
                                                                <img src = "{{ media_url }}{{ images.image2 }}" lazyload />
                                                                <img src = "{{ media_url }}{{ images.image1 }}" lazyload />
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                {% endwith %}
                                            {% endif %}
                                        {% endwith %}
                                        {% with unreadUsersIdsDictList|popValueFromDict:messageId as unreadUsersList %}
                                            {% if unreadUsersList %}
                                                <ul class = "unread-users-box nojs">
                                                    <li class = "unread-users-box-head">
                                                        <p>{{ unreadUsersList|length }}/{{ allSendersLen }}</p>
                                                    </li>
                                                    {% for userId in unreadUsersList %}
                                                        <li>
                                                            <small>
                                                                {% with unreadUsersNamesDictList|getValueFromDict:userId as nameList %}
                                                                    {{ nameList|join:"" }}
                                                                {% endwith %}
                                                            </small>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        {% endwith %}
                                        </li>
                                    {% endwith %}
                                {% endwith %}
                            {% endfor %}
                        {% else %}
                            {% for message in messagesQuerySet %}
                                {% with message.id|convertUUIDToStr as messageId %}
                                    {% with message.by_id as byId %}
                                        {% if message.messageHead or forloop.counter0 == 0 %}
                                            {% if unreadMessagesSet|isInstanceItemInSetOnce:messageId %}
                                                {% if requestUserId == byId %}
                                                    <li class = "my-message unread start-group" value = "{{ messageId }}">
                                                {% else %}
                                                    <li class = "not-my-message unread start-group" value = "{{ messageId }}">
                                                {% endif %}
                                            {% else %}
                                                {% if requestUserId == byId %}
                                                    <li class = "my-message start-group" value = "{{ messageId }}">
                                                {% else %}
                                                    <li class = "not-my-message start-group" value = "{{ messageId }}">
                                                {% endif %}
                                            {% endif %}
                                            {% with smallThumbsDict|getValueFromDict:byId as thumb %}
                                                {{ thumb | safe }}
                                            {% endwith %}
                                        {% else %}
                                            {% if unreadMessagesSet|isInstanceItemInSetOnce:messageId %}
                                                {% if requestUserId == byId %}
                                                    <li class = "my-message unread" value = "{{ messageId }}">
                                                {% else %}
                                                    <li class = "not-my-message unread" value = "{{ messageId }}">
                                                {% endif %}
                                            {% else %}
                                                {% if requestUserId == byId %}
                                                    <li class = "my-message" value = "{{ messageId }}">
                                                {% else %}
                                                    <li class = "not-my-message" value = "{{ messageId }}">
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                        <div class = "message-properties">
                                            <small>{{ message.time }}</small>
                                        </div>
                                        {% with message.body as messageBody %}
                                            {% if messageBody %}
                                                <div class = "message-textbody">
                                                    <p>{{ messageBody }}</p>
                                                </div>
                                            {% endif %}
                                        {% endwith %}
                                        {% with unreadUsersIdsDictList|popValueFromDict:messageId as unreadUsersList %}
                                            {% if unreadUsersList %}
                                                <ul class = "unread-users-box nojs">
                                                    <li class = "unread-users-box-head">
                                                        <p>{{ unreadUsersList|length }}/{{ allSendersLen }}</p>
                                                    </li>
                                                    {% for userId in unreadUsersList %}
                                                        <li>
                                                            <small>
                                                                {% with unreadUsersNamesDictList|getValueFromDict:userId as nameList %}
                                                                    {{ nameList|join:"" }}
                                                                {% endwith %}
                                                            </small>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        {% endwith %}
                                        </li>
                                    {% endwith %}
                                {% endwith %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                {% else %}
                    {% if imagesQuerySet %}
                        {% for message in messagesQuerySet %}
                            {% with message.id as messageId %}
                                {% with message.by_id as byId %}
                                    {% if message.messageHead or forloop.counter0 == 0 %}
                                        {% if requestUserId == byId %}
                                            <li class = "my-message start-group" value = "{{ messageId }}">
                                        {% else %}
                                            <li class = "not-my-message start-group" value = "{{ messageId }}">
                                        {% endif %}
                                        {% with smallThumbsDict|getValueFromDict:byId as thumb %}
                                            {{ thumb | safe }}
                                        {% endwith %}
                                    {% else %}
                                        {% if requestUserId == byId %}
                                            <li class = "my-message" value = "{{ messageId }}">
                                        {% else %}
                                            <li class = "not-my-message" value = "{{ messageId }}">
                                        {% endif %}
                                    {% endif %}
                                    <div class = "message-properties">
                                        <small>{{ message.time }}</small>
                                    </div>
                                    {% with message.body as messageBody %}
                                        {% if messageBody %}
                                            <div class = "message-textbody">
                                                <p>{{ messageBody }}</p>
                                            </div>
                                        {% endif %}
                                    {% endwith %}
                                    {% with imagesQuerySet|getAttachmentInstanceGroup:messageId as images %}
                                        {% if images %}
                                            {% with images.itemsLength as imagesLen %}
                                                <div class = "images-attachment">
                                                    {% if imagesLen > 3 %}
                                                        {% if imagesLen == 4 %}
                                                            <img src = "{{ media_url }}{{ images.image4 }}" lazyload />
                                                            <img src = "{{ media_url }}{{ images.image3 }}" lazyload />
                                                            <img src = "{{ media_url }}{{ images.image2 }}" lazyload />
                                                            <img src = "{{ media_url }}{{ images.image1 }}" lazyload />
                                                        {% elif imagesLen == 5 %}
                                                            <img src = "{{ media_url }}{{ images.image5 }}" lazyload />
                                                            <img src = "{{ media_url }}{{ images.image4 }}" lazyload />
                                                            <img src = "{{ media_url }}{{ images.image3 }}" lazyload />
                                                            <img src = "{{ media_url }}{{ images.image2 }}" lazyload />
                                                            <img src = "{{ media_url }}{{ images.image1 }}" lazyload />
                                                        {% else %}
                                                            <img src = "{{ media_url }}{{ images.image6 }}" lazyload />
                                                            <img src = "{{ media_url }}{{ images.image5 }}" lazyload />
                                                            <img src = "{{ media_url }}{{ images.image4 }}" lazyload />
                                                            <img src = "{{ media_url }}{{ images.image3 }}" lazyload />
                                                            <img src = "{{ media_url }}{{ images.image2 }}" lazyload />
                                                            <img src = "{{ media_url }}{{ images.image1 }}" lazyload />
                                                        {% endif %}
                                                    {% else %}
                                                        {% if imagesLen == 1 %}
                                                            <img src = "{{ media_url }}{{ images.image1 }}" lazyload />
                                                        {% elif imagesLen == 2 %}
                                                            <img src = "{{ media_url }}{{ images.image2 }}" lazyload />
                                                            <img src = "{{ media_url }}{{ images.image1 }}" lazyload />
                                                        {% else %}
                                                            <img src = "{{ media_url }}{{ images.image3 }}" lazyload />
                                                            <img src = "{{ media_url }}{{ images.image2 }}" lazyload />
                                                            <img src = "{{ media_url }}{{ images.image1 }}" lazyload />
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            {% endwith %}
                                        {% endif %}
                                    {% endwith %}
                                    </li>
                                {% endwith %}
                            {% endwith %}
                        {% endfor %}
                    {% else %}
                        {% for message in messagesQuerySet %}
                            {% with message.id as messageId %}
                                {% with message.by_id as byId %}
                                    {% if message.messageHead or forloop.counter0 == 0 %}
                                        {% if requestUserId == byId %}
                                            <li class = "my-message start-group" value = "{{ messageId }}">
                                        {% else %}
                                            <li class = "not-my-message start-group" value = "{{ messageId }}">
                                        {% endif %}
                                        {% with smallThumbsDict|getValueFromDict:byId as thumb %}
                                            {{ thumb | safe }}
                                        {% endwith %}
                                    {% else %}
                                        {% if requestUserId == byId %}
                                            <li class = "my-message" value = "{{ messageId }}">
                                        {% else %}
                                            <li class = "not-my-message" value = "{{ messageId }}">
                                        {% endif %}
                                    {% endif %}
                                    <div class = "message-properties">
                                        <small>{{ message.time }}</small>
                                    </div>
                                    {% with message.body as messageBody %}
                                        {% if messageBody %}
                                            <div class = "message-textbody">
                                                <p>{{ messageBody }}</p>
                                            </div>
                                        {% endif %}
                                    {% endwith %}
                                    </li>
                                {% endwith %}
                            {% endwith %}
                        {% endfor %}
                    {% endif %}
                {% endif %}
            {% endwith %}
        {% else %}
            {% if imagesQuerySet %}
                {% for message in messagesQuerySet %}
                    {% with message.id as messageId %}
                        {% with message.by_id as byId %}
                            {% if message.messageHead or forloop.counter0 == 0 %}
                                {% if requestUserId == byId %}
                                    <li class = "my-message start-group" value = "{{ messageId }}">
                                {% else %}
                                    <li class = "not-my-message start-group" value = "{{ messageId }}">
                                {% endif %}
                                {% with smallThumbsDict|getValueFromDict:byId as thumb %}
                                    {{ thumb | safe }}
                                {% endwith %}
                            {% else %}
                                {% if requestUserId == byId %}
                                    <li class = "my-message" value = "{{ messageId }}">
                                {% else %}
                                    <li class = "not-my-message" value = "{{ messageId }}">
                                {% endif %}
                            {% endif %}
                            <div class = "message-properties">
                                <small>{{ message.time }}</small>
                            </div>
                            {% with message.body as messageBody %}
                                {% if messageBody %}
                                    <div class = "message-textbody">
                                        <p>{{ messageBody }}</p>
                                    </div>
                                {% endif %}
                            {% endwith %}
                            {% with message.imagesAttachment as images %}
                                {% if images %}
                                    {% with images.itemsLength as imagesLen %}
                                        <div class = "images-attachment">
                                        {% if imagesLen > 3 %}
                                            {% if imagesLen == 4 %}
                                                <img src = "{{ images.image4.url }}" lazyload />
                                                <img src = "{{ images.image3.url }}" lazyload />
                                                <img src = "{{ images.image2.url }}" lazyload />
                                                <img src = "{{ images.image1.url }}" lazyload />
                                            {% elif imagesLen == 5 %}
                                                <img src = "{{ images.image5.url }}" lazyload />
                                                <img src = "{{ images.image4.url }}" lazyload />
                                                <img src = "{{ images.image3.url }}" lazyload />
                                                <img src = "{{ images.image2.url }}" lazyload />
                                                <img src = "{{ images.image1.url }}" lazyload />
                                            {% else %}
                                                <img src = "{{ images.image6.url }}" lazyload />
                                                <img src = "{{ images.image5.url }}" lazyload />
                                                <img src = "{{ images.image4.url }}" lazyload />
                                                <img src = "{{ images.image3.url }}" lazyload />
                                                <img src = "{{ images.image2.url }}" lazyload />
                                                <img src = "{{ images.image1.url }}" lazyload />
                                            {% endif %}
                                        {% else %}
                                            {% if imagesLen == 1 %}
                                                <img src = "{{ images.image1.url }}" lazyload />
                                            {% elif imagesLen == 2 %}
                                                <img src = "{{ images.image2.url }}" lazyload />
                                                <img src = "{{ images.image1.url }}" lazyload />
                                            {% else %}
                                                <img src = "{{ images.image3.url }}" lazyload />
                                                <img src = "{{ images.image2.url }}" lazyload />
                                                <img src = "{{ images.image1.url }}" lazyload />
                                            {% endif %}
                                        {% endif %}
                                        </div>
                                    {% endwith %}
                                {% endif %}
                            {% endwith %}
                            </li>
                        {% endwith %}
                    {% endwith %}
                {% endfor %}
            {% else %}
                {% for message in messagesQuerySet %}
                    {% with message.id as messageId %}
                        {% with message.by_id as byId %}
                            {% if message.messageHead or forloop.counter0 == 0 %}
                                {% if requestUserId == byId %}
                                    <li class = "my-message start-group" value = "{{ messageId }}">
                                {% else %}
                                    <li class = "not-my-message start-group" value = "{{ messageId }}">
                                {% endif %}
                                {% with smallThumbsDict|getValueFromDict:byId as thumb %}
                                    {{ thumb | safe }}
                                {% endwith %}
                            {% else %}
                                {% if requestUserId == byId %}
                                    <li class = "my-message" value = "{{ messageId }}">
                                {% else %}
                                    <li class = "not-my-message" value = "{{ messageId }}">
                                {% endif %}
                            {% endif %}
                            <div class = "message-properties">
                                <small>{{ message.time }}</small>
                            </div>
                            {% with message.body as messageBody %}
                                {% if messageBody %}
                                    <div class = "message-textbody">
                                        <p>{{ messageBody }}</p>
                                    </div>
                                {% endif %}
                            {% endwith %}
                            </li>
                        {% endwith %}
                    {% endwith %}
                {% endfor %}
            {% endif %}
        {% endif %}
    </ul>
    {% if accessToSend %}
        {% if form %}
            {{ form }}
        {% else %}
            <div class = "dialog-form-wrap">
                <form action = "" id = "dialogForm" method = "post" enctype = "multipart/form-data">
                    <input name = "csrfmiddlewaretoken" class = "csrf" value = "{{ csrf }}" type = "hidden" />
                    <textarea id = "id_body" name = "body" cols = "90" rows = "1" autofocus></textarea>
                    <label for = "id_insertion">
                        <img src = "{% static "psixiSocial/img/photography.png" %}" />
                    </label>
                    <input type = "file" id = "id_insertion" name = "insertion" class = "insertion" accept = "image/*" multiple />
                    <input type = "submit" value = "Ctrl + Enter" />
                </form>
                {% if imagesToSend %}
                    <div id = "send-files">
                        {% for name, imageDataTuple in imagesToSend.items %}
                            <div class = "{{ name }}">
                                <img src = "data:image/{{ imageDataTuple.2 }};base64, {{ imageDataTuple.0 | safe }}" lazyload />
                                <span class = "remove"><a href = "{{ filesLoaderImagesLink }}?remove={{ name }}"></a></span>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% else %}
        
    {% endif %}
</div>