{% load static %}
{% load checkInstances %}
{% get_media_prefix as media_url %}
{% load messagesFilters %}
<div id = "dialog">
    <div id = "show-dialogs"><a href = "{% url "dialogs" "" 1 %}?from-dialog&page=1"></a></div>
    <div id = "dialog-members">
        {% autoescape off %}
            {{ myMainThumb | join:"" }}{{ toUserMainThumb | join:"" }}
        {% endautoescape %}
    </div>
    <ul class = "messages-list-personal">
        {% if unreadMessagesSet %}
            {% if imagesQuerySet %}
                {% for message in messagesQuerySet %}
                    {% with message.id as messageId %}
                        {% with message.by_id as byId %}
                            {% if message.messageHead or forloop.counter0 == 0 %}
                                {% if unreadMessagesSet|isInstanceUUIDItemInSetOnce:messageId %}
                                    {% if requestUserId == byId %}
                                        <li class = "my-message unread start-group" value = "{{ messageId }}">
                                                {{ myListThumb | safe }}
                                    {% else %}
                                        <li class = "not-my-message unread start-group" value = "{{ messageId }}">
                                            {{ toUserListThumb | safe }}
                                    {% endif %}
                                {% else %}
                                    {% if requestUserId == byId %}
                                        <li class = "my-message start-group" value = "{{ messageId }}">
                                            {{ myListThumb | safe }}
                                    {% else %}
                                        <li class = "not-my-message start-group" value = "{{ messageId }}">
                                            {{ toUserListThumb | safe }}
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                {% if unreadMessagesSet|isInstanceUUIDItemInSetOnce:messageId %}
                                    {% if requestUserId == byId %}
                                        <li class = "my-message unread" value = "{{ messageId }}">
                                    {% else %}
                                        <li class = "not-my-message unread" value = "{{ messageId }}">
                                    {% endif %}
                                {% else %}
                                    {% if requestUserId == byId %}
                                        <li class = "my-message" value = "{{ messageId }}">
                                    {% else %}
                                        <li class = "not-my-message" value = "{{ messageId }}">
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            <div class = "message-properties">
                                <small>{{ message.time }}</small>
                            </div>
                            {% with message.body as messageBody %}
                                {% if messageBody %}
                                    <div class = "message-textbody">
                                        <p>{{ messageBody }}</p>
                                    </div>
                                {% endif %}
                            {% endwith %}
                            {% with imagesQuerySet|getAttachmentInstancePersonal:messageId as images %}
                                {% if images %}
                                    {% with images.itemsLength as imagesLen %}
                                        <div class = "images-attachment">
                                            {{ imagesLen }}
                                        {% if imagesLen > 3 %}
                                            {% if imagesLen == 4 %}
                                                <img src = "{{ media_url }}{{ images.image4 }}" lazyload />
                                                <img src = "{{ media_url }}{{ images.image3 }}" lazyload />
                                                <img src = "{{ media_url }}{{ images.image2 }}" lazyload />
                                                <img src = "{{ media_url }}{{ images.image1 }}" lazyload />
                                            {% elif imagesLen == 5 %}
                                                <img src = "{{ media_url }}{{ images.image5 }}" lazyload />
                                                <img src = "{{ media_url }}{{ images.image4 }}" lazyload />
                                                <img src = "{{ media_url }}{{ images.image3 }}" lazyload />
                                                <img src = "{{ media_url }}{{ images.image2 }}" lazyload />
                                                <img src = "{{ media_url }}{{ images.image1 }}" lazyload />
                                            {% else %}
                                                <img src = "{{ media_url }}{{ images.image6 }}" lazyload />
                                                <img src = "{{ media_url }}{{ images.image5 }}" lazyload />
                                                <img src = "{{ media_url }}{{ images.image4 }}" lazyload />
                                                <img src = "{{ media_url }}{{ images.image3 }}" lazyload />
                                                <img src = "{{ media_url }}{{ images.image2 }}" lazyload />
                                                <img src = "{{ media_url }}{{ images.image1 }}" lazyload />
                                            {% endif %}
                                        {% else %}
                                            {% if imagesLen == 1 %}
                                                <img src = "{{ media_url }}{{ images.image1 }}" lazyload />
                                            {% elif imagesLen == 2 %}
                                                <img src = "{{ media_url }}{{ images.image2 }}" lazyload />
                                                <img src = "{{ media_url }}{{ images.image1 }}" lazyload />
                                            {% else %}
                                                <img src = "{{ media_url }}{{ images.image3 }}" lazyload />
                                                <img src = "{{ media_url }}{{ images.image2 }}" lazyload />
                                                <img src = "{{ media_url }}{{ images.image1 }}" lazyload />
                                            {% endif %}
                                        {% endif %}
                                        </div>
                                    {% endwith %}
                                {% endif %}
                            {% endwith %}
                                </li>
                        {% endwith %}
                    {% endwith %}
                {% endfor %}
            {% else %}
                {% for message in messagesQuerySet %}
                    {% with message.id as messageId %}
                        {% with message.by_id as byId %}
                            {% if message.messageHead or forloop.counter0 == 0 %}
                                {% if unreadMessagesSet|isInstanceUUIDItemInSetOnce:messageId %}
                                    {% if requestUserId == byId %}
                                        <li class = "my-message unread start-group" value = "{{ messageId }}">
                                                {{ myListThumb | safe }}
                                    {% else %}
                                        <li class = "not-my-message unread start-group" value = "{{ messageId }}">
                                            {{ toUserListThumb | safe }}
                                    {% endif %}
                                {% else %}
                                    {% if requestUserId == byId %}
                                        <li class = "my-message start-group" value = "{{ messageId }}">
                                            {{ myListThumb | safe }}
                                    {% else %}
                                        <li class = "not-my-message start-group" value = "{{ messageId }}">
                                            {{ toUserListThumb | safe }}
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                {% if unreadMessagesSet|isInstanceUUIDItemInSetOnce:messageId %}
                                    {% if requestUserId == byId %}
                                        <li class = "my-message unread" value = "{{ messageId }}">
                                    {% else %}
                                        <li class = "not-my-message unread" value = "{{ messageId }}">
                                    {% endif %}
                                {% else %}
                                    {% if requestUserId == byId %}
                                        <li class = "my-message" value = "{{ messageId }}">
                                    {% else %}
                                        <li class = "not-my-message" value = "{{ messageId }}">
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            <div class = "message-properties">
                                <small>{{ message.time }}</small>
                            </div>
                            {% with message.body as messageBody %}
                                {% if messageBody %}
                                    <div class = "message-textbody">
                                        <p>{{ messageBody }}</p>
                                    </div>
                                {% endif %}
                            {% endwith %}
                                </li>
                        {% endwith %}
                    {% endwith %}
                {% endfor %}
            {% endif %}
        {% else %}
            {% if imagesQuerySet %}
                {% for message in messagesQuerySet %}
                    {% with message.id as messageId %}
                        {% with message.by_id as byId %}
                            {% if message.messageHead or forloop.counter0 == 0 %}
                                {% if requestUserId == byId %}
                                    <li class = "my-message start-group" value = "{{ messageId }}">
                                        {{ myListThumb | safe }}
                                {% else %}
                                    <li class = "not-my-message start-group" value = "{{ messageId }}">
                                        {{ toUserListThumb | safe }}
                                {% endif %}
                            {% else %}
                                {% if requestUserId == byId %}
                                    <li class = "my-message" value = "{{ messageId }}">
                                {% else %}
                                    <li class = "not-my-message" value = "{{ messageId }}">
                                {% endif %}
                            {% endif %}
                            <div class = "message-properties">
                                <small>{{ message.time }}</small>
                            </div>
                            {% with message.body as messageBody %}
                                {% if messageBody %}
                                    <div class = "message-textbody">
                                        <p>{{ messageBody }}</p>
                                    </div>
                                {% endif %}
                            {% endwith %}
                            {% with imagesQuerySet|getAttachmentInstancePersonal:messageId as images %}
                                {% if images %}
                                    {% with images.itemsLength as imagesLen %}
                                        <div class = "images-attachment">
                                        {% if imagesLen > 3 %}
                                            {% if imagesLen == 4 %}
                                                <img src = "{{ media_url }}{{ images.image4 }}" lazyload />
                                                <img src = "{{ media_url }}{{ images.image3 }}" lazyload />
                                                <img src = "{{ media_url }}{{ images.image2 }}" lazyload />
                                                <img src = "{{ media_url }}{{ images.image1 }}" lazyload />
                                            {% elif imagesLen == 5 %}
                                                <img src = "{{ media_url }}{{ images.image5 }}" lazyload />
                                                <img src = "{{ media_url }}{{ images.image4 }}" lazyload />
                                                <img src = "{{ media_url }}{{ images.image3 }}" lazyload />
                                                <img src = "{{ media_url }}{{ images.image2 }}" lazyload />
                                                <img src = "{{ media_url }}{{ images.image1 }}" lazyload />
                                            {% else %}
                                                <img src = "{{ media_url }}{{ images.image6 }}" lazyload />
                                                <img src = "{{ media_url }}{{ images.image5 }}" lazyload />
                                                <img src = "{{ media_url }}{{ images.image4 }}" lazyload />
                                                <img src = "{{ media_url }}{{ images.image3 }}" lazyload />
                                                <img src = "{{ media_url }}{{ images.image2 }}" lazyload />
                                                <img src = "{{ media_url }}{{ images.image1 }}" lazyload />
                                            {% endif %}
                                        {% else %}
                                            {% if imagesLen == 1 %}
                                                <img src = "{{ media_url }}{{ images.image1 }}" lazyload />
                                            {% elif imagesLen == 2 %}
                                                <img src = "{{ media_url }}{{ images.image2 }}" lazyload />
                                                <img src = "{{ media_url }}{{ images.image1 }}" lazyload />
                                            {% else %}
                                                <img src = "{{ media_url }}{{ images.image3 }}" lazyload />
                                                <img src = "{{ media_url }}{{ images.image2 }}" lazyload />
                                                <img src = "{{ media_url }}{{ images.image1 }}" lazyload />
                                            {% endif %}
                                        {% endif %}
                                        </div>
                                    {% endwith %}
                                {% endif %}
                            {% endwith %}
                                </li>
                        {% endwith %}
                    {% endwith %}
                {% endfor %}
            {% else %}
                {% for message in messagesQuerySet %}
                    {% with message.id as messageId %}
                        {% with message.by_id as byId %}
                            {% if message.messageHead or forloop.counter0 == 0 %}
                                {% if requestUserId == byId %}
                                    <li class = "my-message start-group" value = "{{ messageId }}">
                                        {{ myListThumb | safe }}
                                {% else %}
                                    <li class = "not-my-message start-group" value = "{{ messageId }}">
                                        {{ toUserListThumb | safe }}
                                {% endif %}
                            {% else %}
                                {% if requestUserId == byId %}
                                    <li class = "my-message" value = "{{ messageId }}">
                                {% else %}
                                    <li class = "not-my-message" value = "{{ messageId }}">
                                {% endif %}
                            {% endif %}
                            <div class = "message-properties">
                                <small>{{ message.time }}</small>
                            </div>
                            {% with message.body as messageBody %}
                                {% if messageBody %}
                                    <div class = "message-textbody">
                                        <p>{{ messageBody }}</p>
                                    </div>
                                {% endif %}
                            {% endwith %}
                                </li>
                        {% endwith %}
                    {% endwith %}
                {% endfor %}
            {% endif %}
        {% endif %}
    </ul>
    {% if accessToSend %}
        <div class = "dialog-form-wrap">
            <form action = "" id = "dialogForm" method = "post" enctype = "multipart/form-data">
                <input name = "csrfmiddlewaretoken" class = "csrf" value = "{{ csrf }}" type = "hidden" />
                {% if form %}
                    {{ form }}
                {% else %}
                    <textarea id = "id_body" name = "body" cols = "90" rows = "1" autofocus></textarea>
                    <label for = "id_insertion"></label>
                    <input type = "file" id = "id_insertion" name = "insertion" class = "insertion" accept = "image/*" multiple />
                    {% if imagesToSend %}
                        <div id = "send-files">
                            {% for name, imageDataTuple in imagesToSend.items %}
                                <div class = "{{ name }}">
                                    <img src = "data:image/{{ imageDataTuple.2 }};base64, {{ imageDataTuple.0 | safe }}" lazyload />
                                    <span class = "remove"><a href = "{{ filesLoaderImagesLink }}?remove={{ name }}"></a></span>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endif %}
                <input type = "submit" value = "Ctrl + Enter" />
            </form>
        </div>
    {% else %}
        
    {% endif %}
</div>