﻿{% load static %}
{% load checkInstances %}
<div id = "dialog">
    <div id = "show-dialogs"><a href = "{% url "dialogs" "" 1 %}?from-dialog&page=1"></a></div>
    <div id = "dialog-members">
        {% autoescape off %}
            {% with mainThumbsDict|popValueFromDict:requestUserId as thumb %}
                {{ thumb | join:"" }}
            {% endwith %}
            <div class = "group-dialog-thumb">

            </div>
            <ul>
            {% for id, thumb in mainThumbsDict.items %}
                <li>
                    {{ thumb | join:"" }}
                </li>
            {% endfor %}
            </ul>
        {% endautoescape %}
    </div>
    <ul class = "messages-list-group"></ul>
    {% if accessToSend %}
        {% if form %}
            {{ form }}
        {% else %}
            <div class = "dialog-form-wrap">
                <form action = "" id = "dialogForm" method = "post" enctype = "multipart/form-data">
                    <input name = "csrfmiddlewaretoken" class = "csrf" value = "{{ csrf }}" type = "hidden" />
                    <textarea id = "id_body" name = "body" cols = "90" rows = "1" autofocus></textarea>
                    <label for = "id_insertion">
                        <img src = "{% static "psixiSocial/img/photography.png" %}" />
                    </label>
                    <input type = "file" id = "id_insertion" name = "insertion" class = "insertion" accept = "image/*" multiple />
                    <input type = "submit" value = "Ctrl + Enter" />
                </form>
                {% if imagesToSend %}
                    <div id = "send-files">
                        {% for name, imageDataTuple in imagesToSend.items %}
                            <div class = "{{ name }}">
                                <img src = "data:image/{{ imageDataTuple.2 }};base64, {{ imageDataTuple.0 | safe }}" lazyload />
                                <span class = "remove"><a href = "{{ filesLoaderImagesLink }}?remove={{ name }}"></a></span>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% else %}
        
    {% endif %}
</div>