{% load static %}
{% load checkInstances %}
<ul id = "dialogs">
    {% for lastMessagesList in dialogsListList %}
        {% with forloop.counter0 as counter %}
            <li value = "{{ dialogIdsList|getValueFromList:counter }}">
            <ul>
                <li class = "dialog-item-head">
                    <ul class = "dialog-members">
                        {% autoescape off %}
                            {% with mainThumbsIdsOrderedList|getValueFromList:counter as key %}
                                {% with mainThumbsDict|getValueFromDict:key as item %}
                                    <li>{{ item | join:"" }}</li>
                                {% endwith %}
                            {% endwith %}
                        {% endautoescape %}
                    </ul>
                        <ul class = "messages-raw">
        {% with dialogsLinksList|getValueFromList:counter as dialogLink %}
            {% for message in lastMessagesList %}
                {% with message.id as messageId %}
                    {% with message.by_id as byId %}
                        {% if message.messageHead or forloop.counter0 == 0 %}
                            {% if unreadMessages|isInstanceUUIDItemInSetOnce:messageId %}
                                {% if byId == requestUserId %}
                                    <li class = "my-message unread start-group" value = "{{ messageId }}">
                                        {{ smallThumbsDict|getValueFromDict:byId | safe }}
                                {% else %}
                                    <li class = "not-my-message unread start-group" value = "{{ messageId }}">
                                        {{ smallThumbsDict|getValueFromDict:byId | safe }}
                                {% endif %}
                            {% else %}
                                {% if byId == requestUserId %}
                                    <li class = "my-message start-group" value = "{{ messageId }}">
                                        {{ smallThumbsDict|getValueFromDict:byId | safe }}
                                {% else %}
                                    <li class = "not-my-message start-group" value = "{{ messageId }}">
                                        {{ smallThumbsDict|getValueFromDict:byId | safe }}
                                {% endif %}
                            {% endif %}
                        {% else %}
                            {% if unreadMessages|isInstanceUUIDItemInSetOnce:messageId %}
                                {% if byId == requestUserId %}
                                    <li class = "my-message unread" value = "{{ messageId }}">
                                {% else %}
                                    <li class = "not-my-message unread" value = "{{ messageId }}">
                                {% endif %}
                            {% else %}
                                {% if byId == requestUserId %}
                                    <li class = "my-message" value = "{{ messageId }}">
                                {% else %}
                                    <li class = "not-my-message" value = "{{ messageId }}">
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endwith %}
                {% endwith %}
                <div class = "message-properties">
                    <small>{{ message.time }}</small>
                </div>
                {% with message.body as messageBody %}
                    {% if messageBody %}
                        <div class = "message-textbody">
                            <p><a href = "{{ dialogLink }}">{{ messageBody }}</a></p>
                        </div>
                    {% endif %}
                {% endwith %}
                {% with message.imagesAttachment as images %}
                    {% if images %}
                        {% with images.itemsLength as imagesLen %}
                            <div class = "images-attachment">
                            {% if imagesLen > 3 %}
                                {% if imagesLen == 4 %}
                                    <img src = "{{ images.image4.url }}" href = "{{ dialogLink }}" lazyload />
                                    <img src = "{{ images.image3.url }}" href = "{{ dialogLink }}" lazyload />
                                    <img src = "{{ images.image2.url }}" href = "{{ dialogLink }}" lazyload />
                                    <img src = "{{ images.image1.url }}" href = "{{ dialogLink }}" lazyload />
                                {% elif imagesLen == 5 %}
                                    <img src = "{{ images.image5.url }}" href = "{{ dialogLink }}" lazyload />
                                    <img src = "{{ images.image4.url }}" href = "{{ dialogLink }}" lazyload />
                                    <img src = "{{ images.image3.url }}" href = "{{ dialogLink }}" lazyload />
                                    <img src = "{{ images.image2.url }}" href = "{{ dialogLink }}" lazyload />
                                    <img src = "{{ images.image1.url }}" href = "{{ dialogLink }}" lazyload />
                                {% else %}
                                    <img src = "{{ images.image6.url }}" href = "{{ dialogLink }}" lazyload />
                                    <img src = "{{ images.image5.url }}" href = "{{ dialogLink }}" lazyload />
                                    <img src = "{{ images.image4.url }}" href = "{{ dialogLink }}" lazyload />
                                    <img src = "{{ images.image3.url }}" href = "{{ dialogLink }}" lazyload />
                                    <img src = "{{ images.image2.url }}" href = "{{ dialogLink }}" lazyload />
                                    <img src = "{{ images.image1.url }}" href = "{{ dialogLink }}" lazyload />
                                {% endif %}
                            {% else %}
                                {% if imagesLen == 1 %}
                                    <img src = "{{ images.image1.url }}" href = "{{ dialogLink }}" lazyload />
                                {% elif imagesLen == 2 %}
                                    <img src = "{{ images.image2.url }}" href = "{{ dialogLink }}" lazyload />
                                    <img src = "{{ images.image1.url }}" href = "{{ dialogLink }}" lazyload />
                                {% else %}
                                    <img src = "{{ images.image3.url }}" href = "{{ dialogLink }}" lazyload />
                                    <img src = "{{ images.image2.url }}" href = "{{ dialogLink }}" lazyload />
                                    <img src = "{{ images.image1.url }}" href = "{{ dialogLink }}" lazyload />
                                {% endif %}
                            {% endif %}
                            </div>
                        {% endwith %}
                    {% endif %}
                {% endwith %}
                </li>
            {% endfor %}
                        </ul>
        {% endwith %}
    {% endwith %}
            </li>
        </ul>
    </li>
    {% endfor %}
</ul>