﻿{% load static %}
<div id = "dialog">
    <div id = "show-dialogs"><a href = "{% url "dialogs" "" 1 %}?from-dialog&page=1"></a></div>
    <div id = "dialog-members">
        {% autoescape off %}
            {{ myMainThumb | join:"" }}{{ toUserMainThumb | join:"" }}
        {% endautoescape %}
    </div>
    <ul class = "messages-list-personal"></ul>
    {% if accessToSend %}
        <div class = "dialog-form-wrap">
            <form action = "" id = "dialogForm" method = "post" enctype = "multipart/form-data">
                <input name = "csrfmiddlewaretoken" class = "csrf" value = "{{ csrf }}" type = "hidden" />
                {% if form %}
                    {{ form }}
                {% else %}
                    <textarea id = "id_body" name = "body" cols = "90" rows = "1" autofocus></textarea>
                    <label for = "id_insertion"></label>
                    <input type = "file" id = "id_insertion" name = "insertion" class = "insertion" accept = "image/*" multiple />
                    {% if imagesToSend %}
                        <div id = "send-files">
                            {% for name, imageDataTuple in imagesToSend.items %}
                                <div class = "{{ name }}">
                                    <img src = "data:image/{{ imageDataTuple.2 }};base64, {{ imageDataTuple.0 | safe }}" lazyload />
                                    <span class = "remove"><a href = "{{ filesLoaderImagesLink }}?remove={{ name }}"></a></span>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endif %}
                <input type = "submit" value = "Ctrl + Enter" />
            </form>
        </div>
    {% else %}
        
    {% endif %}
</div>