<div class = "profile-right">
    {% if profileTHPSInfo %}
        {% if clanMembers %}
            <ul class = "clan-members-list">
                        {% for user in clanMembers %}
                            
                        {% endfor %}
                    {% else %}
                        <li><p></p></li>
                    </ul>
                {% endif %}
            {% endif %}
            {% if friends %}
                {% if friends == "hidden" %}
                    <div class = "list-head">
                        <h3>Друзья</h3>
                        <div class = "list-inner"></div>
                    </div>
                    <ul class = "empty">
                        <li class = "empty"><p>{{ profileMainInfo.username }} скрыл список своих друзей настройками приватности</p></li>
                    </ul>
                {% else %}
                    <div class = "list-head">
                        <h3>Друзья: {{ friends|length }}</h3>
                        <div class = "list-inner"></div>
                    </div>
                    {% if profileIsMine %}
                        <ul class = "friends-list">
                            {% for user in friends %}
                                {% with user.thumb as thumb %}
                                    {% if thumb %}
                                        <li><a href = "{% url "profile" user.url %}"><img src = "{{ thumb }}" title = "{{ user.name }}" /></a></li>
                                    {% else %}
                                        <li><a href = "{% url "profile" user.url %}" title = "{{ user.name }}"><div class = "no-avatar"><p>{{ user.name }}</p></div></a></li>
                                    {% endif %}
                                {% endwith %}
                            {% endfor %}
                        </ul>
                        <div class = "list-foot">
                            <div class = "list-inner"></div>
                            <small><a href = "{% url "friends" "my" "all" "1" %}">Все</a></small>
                        </div>
                        {% if onlineFriends %}
                            <div class = "list-head">
                                <h3>Друзья онлайн: {{ onlineFriends|length }}</h3>
                                <div class = "list-inner"></div>
                            </div>
                            <ul class = "friends-online-list">
                                {% for user in onlineFriends %}
                                    {% with user.thumb as thumb %}
                                        {% if thumb %}
                                            <li>
                                                <a href = "{% url "profile" user.url %}">
                                                    {% if 'iffy' in user %}
                                                        <img src = "{{ thumb }}" title = "{{ user.name }}" style = "opacity: {{ user.iffy }};" />
                                                    {% else %}
                                                        <img src = "{{ thumb }}" title = "{{ user.name }}" />
                                                    {% endif %}
                                                </a>
                                            </li>
                                        {% else %}
                                            <li>
                                                <a href = "{% url "profile" user.url %}">
                                                    {% if 'iffy' in user %}
                                                        <div class = "no-avatar" title = "{{ user.name }}" style = "opacity: {{ user.iffy }};"><p>{{ user.name }}</p></div>
                                                    {% else %}
                                                        <div class = "no-avatar" title = "{{ user.name }}"><p>{{ user.name }}</p></div>
                                                    {% endif %}
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endwith %}
                                {% endfor %}
                            </ul>
                            <div class = "list-foot">
                                <div class = "list-inner"></div>
                                <small><a href = "{% url "friends" "my" "online" "1" %}">Все</a></small>
                            </div>
                        {% else %}
                            <div class = "list-head">
                                <h3>Друзья онлайн</h3>
                                <div class = "list-inner"></div>
                            </div>
                            <ul class = "friends-online-list empty">
                                <li class = "empty"><p>Никого из ваших друзей нет на сайте</p></li>
                            </ul>
                        {% endif %}
                    {% else %}
                        <ul class = "friends-list">
                            {% for user in friends %}
                                {% with user.thumb as thumb %}
                                    {% if thumb %}
                                        <li><a href = "{% url "profile" user.url %}"><img src = "{{ thumb }}" title = "{{ user.name }}" /></a></li>
                                    {% else %}
                                        <li><a href = "{% url "profile" user.url %}" title = "{{ user.name }}"><div class = "no-avatar"><p>{{ user.name }}</p></div></a></li>
                                    {% endif %}
                                {% endwith %}
                            {% endfor %}
                        </ul>
                        <div class = "list-foot">
                            <div class = "list-inner"></div>
                                <small><a href="{% url "friends" profileMainInfo.url "all" "1" %}">Все</a></small>
                        </div>
                        {% if onlineFriends %}
                            <div class = "list-head">
                                <h3>Друзья онлайн: {{ onlineFriends|length }}</h3>
                                <div class = "list-inner"></div>
                            </div>
                            <ul class = "friends-online-list">
                                {% for user in onlineFriends %}
                                    {% with user.thumb as thumb %}
                                        {% if thumb %}
                                            <li>
                                                <a href = "{% url "profile" user.url %}">
                                                    {% if 'iffy' in user %}
                                                        <img src = "{{ thumb }}" title = "{{ user.name }}" style = "opacity: {{ user.iffy }};" />
                                                    {% else %}
                                                        <img src = "{{ thumb }}" title = "{{ user.name }}" />
                                                    {% endif %}
                                                </a>
                                            </li>
                                        {% else %}
                                            <li>
                                                <a href = "{% url "profile" user.url %}">
                                                    {% if 'iffy' in user %}
                                                        <div class = "no-avatar" title = "{{ user.name }}" style = "opacity: {{ user.iffy }};"><p>{{ user.name }}</p></div>
                                                    {% else %}
                                                        <div class = "no-avatar" title = "{{ user.name }}"><p>{{ user.name }}</p></div>
                                                    {% endif %}
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endwith %}
                                {% endfor %}
                            </ul>
                            <div class = "list-foot">
                                <div class = "list-inner"></div>
                                <small><a href="{% url "friends" profileMainInfo.url "online" "1" %}">Все</a></small>
                            </div>
                        {% else %}
                            <div class = "list-head">
                                <h3>Друзья онлайн</h3>
                                <div class = "list-inner"></div>
                            </div>
                            <ul class = "friends-online-list empty">
                                <li class = "empty"><p>Никого из друзей {{ profileMainInfo.username }} нет на сайте</p></li>
                            </ul>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% else %}
                <div class = "list-head">
                    <h3>Друзья</h3>
                    <div class = "list-inner"></div>
                </div>
                <ul class = "friends-list empty">
                    {% if profileIsMine %}
                        <li class = "empty"><p>У вас пока нету друзей</p></li>
                    {% else %}
                        <li class = "empty"><p>У {{ profileMainInfo.username }} пока нету друзей</p></li>
                    {% endif %}
                </ul>
            {% endif %}
    </div>