<div id = "profile">
    {% with profileMainInfo.username as username %}
        <div class = "view">
            {% if bodyStatus %}
                <div class = "online-status">
                    {% if 'lastVisitTime' in bodyStatus %}
                        <p>{{ bodyStatus.text }} {{ bodyStatus.lastVisitTime }}</p>
                    {% else %}
                        <p>{{ bodyStatus }}</p>
                    {% endif %}
                    <noscript><small class = "warning-nojs">Attention. Your page is not dynamic. Please update your browser</small></noscript>
                </div>
            {% endif %}
            {% with profileImages.avatar as avatar %}
                {% if avatar %}
                    <div class = "profile-head-avatar-thps">
                        {% with profileImages.background as background %}
                            {% if background %}
                                <img src = "{{ background.url }}" />
                            {% endif %}
                        {% endwith %}
                        <div class = "main-info">
                            {% with profileMainInfo.firstname as firstname %}
                                {% with profileMainInfo.lastname as lastname %}
                                    {% if firstname and lastname %}
                                        <small>ИНФО{% ifequal profileIsMine True %} [<a href = "{% url "profileEditUrl" "main" %}">Редактировать</a>]{% endifequal %}</small>
                                        <small>({{ username }})</small>
                                        <h2>{{ lastname }} {{ firstname }}</h2>
                                    {% else %}
                                        {% if firstname %}
                                            <small>ИНФО</small>
                                            <small>({{ username }})</small>
                                            <h2>{{ firstname }}</h2>
                                        {% endif %}
                                    {% endif %}
                                    {% if not firstname and not lastname %}
                                        <small>ЛОГИН</small>
                                        <h2>{{ username }}</h2>
                                    {% endif %}
                                {% endwith %}
                            {% endwith %}
                        </div>
                        <div class = "avatar-wrap">
                            <img src = "{{ avatar.url }}" />
                        </div>
                        <div class = "thps-info">
                            <small>THPS{% ifequal profileIsMine True %} [<a href = "{% url "profileEditUrl" "thps" %}">Редактировать</a>]{% endifequal %}</small>
                            <h2>{{ profileTHPSInfo.nickname }}</h2>
                            {% if profileTHPSInfo.clan %}
                                <small>Из клана</small>
                                <h2>{{ profileTHPSInfo.clan }}</h2>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <div class = "profile-head-thps"></div>
                {% endif %}
            {% endwith %}
                <div class = "info-dotts">
                    <div class = "library"><h5>LibraryTHPS</h5></div>
                    <div class = "forum"><h5>Форум</h5></div>
                    <div class = "videos"><h5>Видео</h5></div>
                    <div class = "blog"><h5>Блог</h5></div>
                </div>
                {% if profileIsMine == False and isFriend != "Guest" %}
                    <div id = "profile-form">
                        <form class = "to-dialog" method = "get">
                            <input type = "submit" formaction = "{% url "personalMessage" profileMainInfo.slug %}" value = "Перейти к диалогу" />
                        </form>
                        <form class = "profile-actions" method = "post">
                            <input name = "csrfmiddlewaretoken" value = "{{ csrf }}" type = "hidden" />
                            {% if isFriend == True %}
                                <p>Ваш друг</p>
                                <input type = "submit" formaction = "{% url "removeFriend" profileMainInfo.id %}" class = "nobutton" value = "Удалить из друзей" />
                            {% elif isFriend == "myRequest" %}
                                <p>Вы ожидаете решения по вашему запросу о дружбе</p>
                                <input type = "submit" formaction = "{% url "cancelAddFriendRequest" profileMainInfo.id %}" class = "nobutton" value = "Я передумал, отменить запрос" />
                            {% elif isFriend == "request" %}
                                <p>Отправил вам запрос о дружбе</p>
                                {% with profileMainInfo.id as id %}
                                    <input type = "submit" formaction = "{% url "addFriend" id %}" class = "important" value = "Принять" />
                                    <input type = "submit" formaction = "{% url "rejectFriend" id %}" value = "Отклонить" />
                                {% endwith %}
                            {% else %}
                                {% if sendFriendRequestPrivacy %}
                                    <input type = "submit" formaction = "{% url "addFriendRequest" profileMainInfo.id %}" class = "important" value = "Добавить в друзья" />
                                {% endif %}
                            {% endif %}
                        </form>
                    </div>
                {% endif %}
            </div>
        <div class = "profile-content"></div>
            <div class = "profile-right">
                {% if clanMembers %}
                    <ul class = "clan-members-list">
                        {% for user in clanMembers %}
                        
                        {% endfor %}
                    {% else %}
                        <li><p></p></li>
                    </ul>
                {% endif %}
                {% if friends %}
                    {% if friends == "hidden" %}
                        <div class = "friends list-head">
                            <h3>Друзья</h3>
                            <div class = "list-inner"></div>
                        </div>
                        <ul class = "friends-list empty">
                            <li class = "empty"><p>{{ username }} скрыл список своих друзей настройками приватности</p></li>
                        </ul>
                    {% else %}
                        {% with friends|length as friendsLength %}
                            <div class = "friends list-head">
                                <h3>Друзья: {{ friendsLength }}</h3>
                                <div class = "list-inner"></div>
                            </div>
                            {% if profileIsMine %}
                                {% if friendsLength > 20 %}
                                    <ul class = "friends-list">
                                        {% for user in friends %}
                                            {% with user.thumb as thumb %}
                                                {% if thumb %}
                                                    <li value = "{{ user.id }}"><a href = "{% url "profile" user.url %}"><img src = "{{ thumb }}" title = "{{ user.name }}" /></a></li>
                                                {% else %}
                                                    <li value = "{{ user.id }}"><a href = "{% url "profile" user.url %}" title = "{{ user.name }}"><div class = "no-avatar"><p>{{ user.name }}</p></div></a></li>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                    </ul>
                                    <div class = "list-foot">
                                        <div class = "list-inner"></div>
                                        <small><a href = "{% url "friends" "my" "all" "" "" %}">Все</a></small>
                                    </div>
                                {% else %}
                                    <ul class = "friends-list few">
                                        {% for user in friends %}
                                            {% with user.thumb as thumb %}
                                                {% if thumb %}
                                                    <li value = "{{ user.id }}"><a href = "{% url "profile" user.url %}"><img src = "{{ thumb }}" title = "{{ user.name }}" /></a></li>
                                                {% else %}
                                                    <li value = "{{ user.id }}"><a href = "{% url "profile" user.url %}" title = "{{ user.name }}"><div class = "no-avatar"><p>{{ user.name }}</p></div></a></li>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                {% if onlineFriends %}
                                    {% with onlineFriends|length as onlineFriendsLength %}
                                        <div class = "friends-online list-head">
                                            <h3>Друзья онлайн: {{ onlineFriendsLength }}</h3>
                                            <div class = "list-inner"></div>
                                        </div>
                                        {% if onlineFriendsLength > 20 %}
                                            <ul class = "friends-online-list">
                                                {% for user in onlineFriends %}
                                                    {% with user.thumb as thumb %}
                                                        {% if thumb %}
                                                            <li value = "{{ user.id }}">
                                                                <a href = "{% url "profile" user.url %}">
                                                                    {% if 'iffy' in user %}
                                                                        <img src = "{{ thumb }}" title = "{{ user.name }}" style = "opacity: {{ user.iffy }};" />
                                                                    {% else %}
                                                                        <img src = "{{ thumb }}" title = "{{ user.name }}" />
                                                                    {% endif %}
                                                                </a>
                                                            </li>
                                                        {% else %}
                                                            <li value = "{{ user.id }}">
                                                                <a href = "{% url "profile" user.url %}">
                                                                    {% if 'iffy' in user %}
                                                                        <div class = "no-avatar" title = "{{ user.name }}" style = "opacity: {{ user.iffy }};"><p>{{ user.name }}</p></div>
                                                                    {% else %}
                                                                        <div class = "no-avatar" title = "{{ user.name }}"><p>{{ user.name }}</p></div>
                                                                    {% endif %}
                                                                </a>
                                                            </li>
                                                        {% endif %}
                                                    {% endwith %}
                                                {% endfor %}
                                            </ul>
                                            <div class = "friends-online list-foot">
                                                <div class = "list-inner"></div>
                                                <small><a href = "{% url "friends" "my" "online" "" "" %}">Все</a></small>
                                            </div>
                                        {% else %}
                                            <ul class = "friends-online-list few">
                                                {% for user in onlineFriends %}
                                                    {% with user.thumb as thumb %}
                                                        {% if thumb %}
                                                            <li value = "{{ user.id }}">
                                                                <a href = "{% url "profile" user.url %}">
                                                                    {% if 'iffy' in user %}
                                                                        <img src = "{{ thumb }}" title = "{{ user.name }}" style = "opacity: {{ user.iffy }};" />
                                                                    {% else %}
                                                                        <img src = "{{ thumb }}" title = "{{ user.name }}" />
                                                                    {% endif %}
                                                                </a>
                                                            </li>
                                                        {% else %}
                                                            <li value = "{{ user.id }}">
                                                                <a href = "{% url "profile" user.url %}">
                                                                    {% if 'iffy' in user %}
                                                                        <div class = "no-avatar" title = "{{ user.name }}" style = "opacity: {{ user.iffy }};"><p>{{ user.name }}</p></div>
                                                                    {% else %}
                                                                        <div class = "no-avatar" title = "{{ user.name }}"><p>{{ user.name }}</p></div>
                                                                    {% endif %}
                                                                </a>
                                                            </li>
                                                        {% endif %}
                                                    {% endwith %}
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    {% endwith %}
                                {% else %}
                                    <div class = "friends-online list-head">
                                        <h3>Друзья онлайн</h3>
                                        <div class = "list-inner"></div>
                                    </div>
                                    <ul class = "friends-online-list empty">
                                        <li class = "empty"><p>Никого из ваших друзей нет на сайте</p></li>
                                    </ul>
                                {% endif %}
                            {% else %}
                                {% if friendsLength > 20 %}
                                    <ul class = "friends-list">
                                        {% for user in friends %}
                                            {% with user.thumb as thumb %}
                                                {% if thumb %}
                                                    <li value = "{{ user.id }}"><a href = "{% url "profile" user.url %}"><img src = "{{ thumb }}" title = "{{ user.name }}" /></a></li>
                                                {% else %}
                                                    <li value = "{{ user.id }}"><a href = "{% url "profile" user.url %}" title = "{{ user.name }}"><div class = "no-avatar"><p>{{ user.name }}</p></div></a></li>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                    </ul>
                                    <div class = "friends list-foot">
                                        <div class = "list-inner"></div>
                                        <small><a href="{% url "friends" profileMainInfo.slug "all" "" "" %}">Все</a></small>
                                    </div>
                                {% else %}
                                    <ul class = "friends-list few">
                                        {% for user in friends %}
                                            {% with user.thumb as thumb %}
                                                {% if thumb %}
                                                    <li value = "{{ user.id }}"><a href = "{% url "profile" user.url %}"><img src = "{{ thumb }}" title = "{{ user.name }}" /></a></li>
                                                {% else %}
                                                    <li value = "{{ user.id }}"><a href = "{% url "profile" user.url %}" title = "{{ user.name }}"><div class = "no-avatar"><p>{{ user.name }}</p></div></a></li>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                {% if onlineFriends %}
                                    {% with onlineFriends|length as onlineFriendsLength %}
                                        <div class = "friends-online list-head">
                                            <h3>Друзья онлайн: {{ onlineFriendsLength }}</h3>
                                            <div class = "list-inner"></div>
                                        </div>
                                        {% if onlineFriendsLength > 20 %}
                                            <ul class = "friends-online-list">
                                                {% for user in onlineFriends %}
                                                    {% with user.thumb as thumb %}
                                                        {% if thumb %}
                                                            <li value = "{{ user.id }}">
                                                                <a href = "{% url "profile" user.url %}">
                                                                    {% if 'iffy' in user %}
                                                                        <img src = "{{ thumb }}" title = "{{ user.name }}" style = "opacity: {{ user.iffy }};" />
                                                                    {% else %}
                                                                        <img src = "{{ thumb }}" title = "{{ user.name }}" />
                                                                    {% endif %}
                                                                </a>
                                                            </li>
                                                        {% else %}
                                                            <li value = "{{ user.id }}">
                                                                <a href = "{% url "profile" user.url %}">
                                                                    {% if 'iffy' in user %}
                                                                        <div class = "no-avatar" title = "{{ user.name }}" style = "opacity: {{ user.iffy }};"><p>{{ user.name }}</p></div>
                                                                    {% else %}
                                                                        <div class = "no-avatar" title = "{{ user.name }}"><p>{{ user.name }}</p></div>
                                                                    {% endif %}
                                                                </a>
                                                            </li>
                                                        {% endif %}
                                                    {% endwith %}
                                                {% endfor %}
                                            </ul>
                                            <div class = "friends-online list-foot">
                                                <div class = "list-inner"></div>
                                                <small><a href="{% url "friends" profileMainInfo.slug "online" "" "" %}">Все</a></small>
                                            </div>
                                        {% else %}
                                            <ul class = "friends-online-list few">
                                                {% for user in onlineFriends %}
                                                    {% with user.thumb as thumb %}
                                                        {% if thumb %}
                                                            <li value = "{{ user.id }}">
                                                                <a href = "{% url "profile" user.url %}">
                                                                    {% if 'iffy' in user %}
                                                                        <img src = "{{ thumb }}" title = "{{ user.name }}" style = "opacity: {{ user.iffy }};" />
                                                                    {% else %}
                                                                        <img src = "{{ thumb }}" title = "{{ user.name }}" />
                                                                    {% endif %}
                                                                </a>
                                                            </li>
                                                        {% else %}
                                                            <li value = "{{ user.id }}">
                                                                <a href = "{% url "profile" user.url %}">
                                                                    {% if 'iffy' in user %}
                                                                        <div class = "no-avatar" title = "{{ user.name }}" style = "opacity: {{ user.iffy }};"><p>{{ user.name }}</p></div>
                                                                    {% else %}
                                                                        <div class = "no-avatar" title = "{{ user.name }}"><p>{{ user.name }}</p></div>
                                                                    {% endif %}
                                                                </a>
                                                            </li>
                                                        {% endif %}
                                                    {% endwith %}
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    {% endwith %}
                                {% else %}
                                    <div class = "friends-online list-head">
                                        <h3>Друзья онлайн</h3>
                                        <div class = "list-inner"></div>
                                    </div>
                                    <ul class = "friends-online-list empty">
                                        <li class = "empty"><p>Никого из друзей {{ username }} нет на сайте</p></li>
                                    </ul>
                                {% endif %}
                            {% endif %}
                        {% endwith %}
                    {% endif %}
                {% else %}
                    <div class = "friends list-head">
                        <h3>Друзья</h3>
                        <div class = "list-inner"></div>
                    </div>
                    <ul class = "friends-list empty">
                        {% if profileIsMine %}
                            <li class = "empty"><p>У вас пока нету друзей</p></li>
                        {% else %}
                            <li class = "empty"><p>У {{ username }} пока нету друзей</p></li>
                        {% endif %}
                    </ul>
                {% endif %}
        </div>
    {% endwith %}
</div>