<div id = "profile">
    {% with profileMainInfo.username as username %}
        <div class = "view">
            {% if bodyStatus %}
                <div class = "online-status">
                    {% if 'lastVisitTime' in bodyStatus %}
                        <p>{{ bodyStatus.text }} {{ bodyStatus.lastVisitTime }}</p>
                    {% else %}
                        <p>{{ bodyStatus }}</p>
                    {% endif %}
                    <noscript><small class = "warning-nojs">Attention. Your page is not dynamic. Please update your browser</small></noscript>
                </div>
            {% endif %}
            {% with profileImages.avatar as avatar %}
                {% if avatar %}
                    <div class = "profile-head-avatar">
                        {% with profileImages.background as background %}
                            {% if background %}
                                <img src = "{{ background.url }}" />
                            {% endif %}
                        {% endwith %}
                        <div class = "main-info">
                            {% with profileMainInfo.firstname as firstname %}
                                {% with profileMainInfo.lastname as lastname %}
                                    {% if firstname and lastname %}
                                        <small>({{ username }})</small>
                                        <h2>{{ lastname }} {{ firstname }}</h2>
                                    {% else %}
                                        {% if firstname %}
                                            <small>({{ username }})</small>
                                            <h2>{{ firstname }}</h2>
                                        {% endif %}
                                    {% endif %}
                                    {% if not firstname and not lastname %}
                                        <h2>{{ username }}</h2>
                                    {% endif %}
                                {% endwith %}
                            {% endwith %}
                        </div>
                        <div class = "avatar-wrap">
                            <img src = "{{ avatar.url }}" />
                        </div>
                    </div>
                {% else %}
                    <div class = "profile-head">
                        <div class = "main-info">
                            {% with profileMainInfo.firstname as firstname %}
                                {% with profileMainInfo.lastname as lastname %}
                                    {% if firstname and lastname %}
                                        <small>({{ username }})</small>
                                        <h2>{{ lastname }} {{ firstname }}</h2>
                                    {% else %}
                                        {% if firstname %}
                                            <small>({{ username }})</small>
                                            <h2>{{ firstname }}</h2>
                                        {% endif %}
                                    {% endif %}
                                    {% if not firstname and not lastname %}
                                        <h2>{{ username }}</h2>
                                    {% endif %}
                                {% endwith %}
                            {% endwith %}
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
                <div class = "info-dotts">
                    <div class = "library"><h5>LibraryTHPS</h5></div>
                    <div class = "forum"><h5>Форум</h5></div>
                    <div class = "videos"><h5>Видео</h5></div>
                    <div class = "blog"><h5>Блог</h5></div>
                </div>
                {% if profileIsMine == False and isFriend != "Guest" %}
                    <div id = "profile-form">
                        <form class = "to-dialog" method = "get">
                            <input type = "submit" formaction = "{% url "personalMessage" profileMainInfo.slug %}" value = "Перейти к диалогу" />
                        </form>
                        <form class = "profile-actions" method = "post">
                            <input name = "csrfmiddlewaretoken" value = "{{ csrf }}" type = "hidden" />
                            {% if isFriend == True %}
                                <p>Ваш друг</p>
                                <input type = "submit" formaction = "{% url "removeFriend" profileMainInfo.id %}" class = "nobutton" value = "Удалить из друзей" />
                            {% elif isFriend == "myRequest" %}
                                <p>Вы ожидаете решения по вашему запросу о дружбе</p>
                                <input type = "submit" formaction = "{% url "cancelAddFriendRequest" profileMainInfo.id %}" class = "nobutton" value = "Я передумал, отменить запрос" />
                            {% elif isFriend == "request" %}
                                <p>Отправил вам запрос о дружбе</p>
                                {% with profileMainInfo.id as id %}
                                    <input type = "submit" formaction = "{% url "addFriend" id %}" class = "important" value = "Принять" />
                                    <input type = "submit" formaction = "{% url "rejectFriend" id %}" value = "Отклонить" />
                                {% endwith %}
                            {% else %}
                                {% if sendFriendRequestPrivacy %}
                                    <input type = "submit" formaction = "{% url "addFriendRequest" profileMainInfo.id %}" class = "important" value = "Добавить в друзья" />
                                {% endif %}
                            {% endif %}
                        </form>
                    </div>
                {% endif %}
            </div>
        <div class = "profile-content"></div>
            <div class = "profile-right">
                {% if friends %}
                    {% if friends == "hidden" %}
                        <div class = "friends list-head">
                            <h3>Друзья</h3>
                            <div class = "list-inner"></div>
                        </div>
                        <ul class = "friends-list empty">
                            <li class = "empty"><p>{{ username }} скрыл список своих друзей настройками приватности</p></li>
                        </ul>
                    {% else %}
                        {% with friends|length as friendsLength %}
                            <div class = "friends list-head">
                                <h3>Друзья: {{ friendsLength }}</h3>
                                <div class = "list-inner"></div>
                            </div>
                            {% if profileIsMine %}
                                {% if friendsLength > 20 %}
                                    <ul class = "friends-list">
                                        {% autoescape off %}
                                            {{ friends | join:"" }}
                                        {% endautoescape %}
                                    </ul>
                                    <div class = "list-foot">
                                        <div class = "list-inner"></div>
                                        <small><a href = "{% url "friends" "my" "all" "" "" %}">Все</a></small>
                                    </div>
                                {% else %}
                                    <ul class = "friends-list few">
                                        {% autoescape off %}
                                            {{ friends | join:"" }}
                                        {% endautoescape %}
                                    </ul>
                                {% endif %}
                                {% if onlineFriends %}
                                    {% with onlineFriends|length as onlineFriendsLength %}
                                        <div class = "friends-online list-head">
                                            <h3>Друзья онлайн: {{ onlineFriendsLength }}</h3>
                                            <div class = "list-inner"></div>
                                        </div>
                                        {% if onlineFriendsLength > 20 %}
                                            <ul class = "friends-online-list">
                                                {% autoescape off %}
                                                    {{ onlineFriends | join:"" }}
                                                {% endautoescape %}
                                            </ul>
                                            <div class = "friends-online list-foot">
                                                <div class = "list-inner"></div>
                                                <small><a href = "{% url "friends" "my" "online" "" "" %}">Все</a></small>
                                            </div>
                                        {% else %}
                                            <ul class = "friends-online-list few">
                                                {% autoescape off %}
                                                    {{ onlineFriends | join:"" }}
                                                {% endautoescape %}
                                            </ul>
                                        {% endif %}
                                    {% endwith %}
                                {% else %}
                                    <div class = "friends-online list-head">
                                        <h3>Друзья онлайн</h3>
                                        <div class = "list-inner"></div>
                                    </div>
                                    <ul class = "friends-online-list empty">
                                        <li class = "empty"><p>Никого из ваших друзей нет на сайте</p></li>
                                    </ul>
                                {% endif %}
                            {% else %}
                                {% if friendsLength > 20 %}
                                    <ul class = "friends-list">
                                        {% autoescape off %}
                                            {{ friends | join:"" }}
                                        {% endautoescape %}
                                    </ul>
                                    <div class = "friends list-foot">
                                        <div class = "list-inner"></div>
                                        <small><a href="{% url "friends" profileMainInfo.slug "all" "" "" %}">Все</a></small>
                                    </div>
                                {% else %}
                                    <ul class = "friends-list few">
                                        {% autoescape off %}
                                            {{ friends | join:"" }}
                                        {% endautoescape %}
                                    </ul>
                                {% endif %}
                                {% if onlineFriends %}
                                    {% with onlineFriends|length as onlineFriendsLength %}
                                        <div class = "friends-online list-head">
                                            <h3>Друзья онлайн: {{ onlineFriendsLength }}</h3>
                                            <div class = "list-inner"></div>
                                        </div>
                                        {% if onlineFriendsLength > 20 %}
                                            <ul class = "friends-online-list">
                                                {% autoescape off %}
                                                    {{ onlineFriends | join:"" }}
                                                {% endautoescape %}
                                            </ul>
                                            <div class = "friends-online list-foot">
                                                <div class = "list-inner"></div>
                                                <small><a href="{% url "friends" profileMainInfo.slug "online" "" "" %}">Все</a></small>
                                            </div>
                                        {% else %}
                                            <ul class = "friends-online-list few">
                                                {% autoescape off %}
                                                    {{ onlineFriends | join:"" }}
                                                {% endautoescape %}
                                            </ul>
                                        {% endif %}
                                    {% endwith %}
                                {% else %}
                                    <div class = "friends-online list-head">
                                        <h3>Друзья онлайн</h3>
                                        <div class = "list-inner"></div>
                                    </div>
                                    <ul class = "friends-online-list empty">
                                        <li class = "empty"><p>Никого из друзей {{ username }} нет на сайте</p></li>
                                    </ul>
                                {% endif %}
                            {% endif %}
                        {% endwith %}
                    {% endif %}
                {% else %}
                    <div class = "friends list-head">
                        <h3>Друзья</h3>
                        <div class = "list-inner"></div>
                    </div>
                    <ul class = "friends-list empty">
                        {% if profileIsMine %}
                            <li class = "empty"><p>У вас пока нету друзей</p></li>
                        {% else %}
                            <li class = "empty"><p>У {{ username }} пока нету друзей</p></li>
                        {% endif %}
                    </ul>
                {% endif %}
        </div>
    {% endwith %}
</div>