{% load static %}
<script type = "text/javascript" src = "{% static "base/js/forms.js" %}" class = "replaceble1"></script>
<script type = "text/javascript" src = "{% static "libraryTHPS/js/forms.js" %}" class = "replaceble1"></script>
<script type = "text/javascript" src = "{% static "base/js/jQuery/jquery-2.1.4.min.js" %}"></script>
<script type = "text/javascript" src = "{% static "libraryTHPS/jCrop/js/jquery.Jcrop.js" %}" class = "replaceble1"></script>
<script type = "text/javascript" src = "{% static "libraryTHPS/jCrop/js/jquery.Jcrop.min.js" %}" class = "replaceble1"></script>
{% if initialCropCoordinates %}
    <script type = "text/javascript" class = "replaceble1">
        typeof(window.initCropCoords) != "undefined" ? delete window.initCropCoords : 0;
        var initCropCoords = [{{ initialCropCoordinates }}];
    </script>
{% endif %}
<script type = "text/javascript" src = "{% static "libraryTHPS/js/cropHelper.js" %}" class = "replaceble1"></script>
