{% load static %}
<script type = "text/javascript" src = "{% static "base/js/forms.js" %}" class = "replaceble1"></script>
<script type = "text/javascript" src = "{% static "libraryTHPS/js/forms.js" %}" class = "replaceble1"></script>
<script type = "text/javascript" src = "{% static "base/js/jQuery/jquery-2.1.4.min.js" %}"></script>
<!-- jQueryUI(draggable, resizeble) -->
<script type = "text/javascript" src = "{% static "libraryTHPS/jQueryUI/js/jquery-ui.js" %}" class = "replaceble1"></script>
<script type = "text/javascript" src = "{% static "libraryTHPS/jQueryUI/js/jquery-ui.min.js" %}" class = "replaceble1"></script>
<!-- jQuery Color Picker -->
<script type = "text/javascript" src = "{% static "libraryTHPS/jQueryColorPicker/js/eye.js" %}" class = "replaceble1"></script>
<script type = "text/javascript" src = "{% static "libraryTHPS/jQueryColorPicker/js/layout.js" %}" class = "replaceble1"></script>
<script type = "text/javascript" src = "{% static "libraryTHPS/jQueryColorPicker/js/utils.js" %}" class = "replaceble1"></script>
<script type = "text/javascript" src = "{% static "libraryTHPS/jQueryColorPicker/js/colorpicker.js" %}" class = "replaceble1"></script>
<!-- End jQuery includes -->
<script type = "text/javascript" class = "replaceble1">
    typeof (window.initialMadeObject) != "undefined" ? delete window.initialMadeObject : 0;
    {% if initialMadeDict %}
        {% autoescape off %}
            var initialMadeObject = {{ initialMadeDict }};
        {% endautoescape %}
    {% endif %}
</script>
<script type = "text/javascript" src = "{% static "libraryTHPS/js/madeHelper.js" %}" class = "replaceble1"></script>
