{% extends "base/classicPage/base.html" %}
{% block statics %}
    {% load static %}
    <link rel = "stylesheet" type = "text/css" href = "{% static "base/css/loginPage.css" %}" />
{% endblock statics %}
{% block body %}
    <div id = "login">
        <h1>Вход:</h1>
        <form action = "" method = "post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type = "submit" value = "Вход"/>
        </form>
    </div>
{% endblock body %}