{% if updatesCount %}
    <div id = "user-notifications">
        <span class = "updates-loader"><a href = "{% url "getUpdates" %}">{{ itemsCount }}.{{ baseend }} x {{ updatesCount }}</a></span>
    </div>
{% endif %}