{% load static %}
<script type = "text/javascript" class = "replaceble1">
    function initUsersList() {
        {% if requestUserId %}
            var listener = usersList('{{ requestUserId }}', {{ textDict | safe }}, false, {{ statusDict | safe }}, "{{ currentDateTime | safe }}");
        {% else %}
            var listener = usersList(null, {{ textDict | safe }}, false, {{ statusDict | safe }}, "{{ currentDateTime | safe }}");
        {% endif %}
        return listener;
    };
</script>
<script type = "text/javascript" class = "replaceble1" src = "{% static "psixiSocial/js/users.js" %}"></script>