#libraryTHPSBox #stepsNavi, #libraryTHPSBox #sectionsNavi {
    position: inherit;
    display: block;
    width: auto;
    height: auto;
    float: none;
    margin: 0 auto;
    padding: 0;
}
#libraryTHPSBox #currentLocation {
    float: right;
    transform: rotate(90deg);
    margin-right: -50%;
    margin-top: -50%;
    height: auto;
}
#libraryTHPSBox #stepsNavi li, #libraryTHPSBox #sectionsNavi li {
    float: left;
    display: inline;
    line-height: 40px;
    margin: 0 10px;
    list-style-type: none;
}
#libraryTHPSBox #stepsNavi li p a {
    text-decoration: none;
}
#libraryTHPSBox .backgroundOne {
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.2;
}
#libraryTHPSBox .backgroundTwo {
    opacity: 0.2;
}
#libraryTHPSBox .backgroundThree {
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #333;
    opacity: 0.7;
}
#libraryTHPSContent {
    position: absolute;
    display: block;
    width: auto;
    height: auto;
    background-color: white;
    box-shadow: 0 0 10px 5px #505050;
}
#libraryTHPSForm {
    position: relative;
    display: table;
    width: auto;
    height: auto;
    padding: 20px 30px 0 30px;
}
form#libraryForm {
    position: inherit;
    display: inherit;
    float: left;
    width: auto;
    height: auto;
}
form#libraryForm .libraryFormMessages input[type='submit'] {
    border: none;
    background: none;
    padding: 0;
    text-align: left;
}
#madeClanThumb {
    position: relative;
    display: inline-grid;
    width: auto;
    height: auto;
}
#madeClanThumb #madeElements {
    width: inherit;
    height: inherit;
}
#madeClanThumb #madeElements div {
    display: inline;
    float: left;
    margin: 10px;
    padding: 5px;
    background-color: #777;
    border: 2px dashed #eee;
    border-radius: 3px;
}
#madeClanThumb #wrapMade {
    position: inherit;
    display: block;
    border: 2px solid #555;
    padding: 2px;
    background-color: #555;
    box-shadow: 1px 0 20px #757575, 1px 0 10px #333 inset;
    border-radius: 6px;
}
#madeClanThumb #wrapMade .place {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#madeClanThumb #wrapMade img, #madeClanThumb #wrapMade .place img {
    visibility: hidden;
}
#madeClanThumb #wrapMade img.ready, #madeClanThumb #wrapMade .place img.ready {
    visibility: visible;
}
#madeClanThumb #wrapMade .place div {
    position: inherit;
    display: inline-block;
    cursor: move;
    margin: 0;
    padding: 0;
    top: 2px; /* 2 из за add.css:88 - padding */
    left: 2px;
}
#madeClanThumb #wrapMade .place div h2 {
    margin: 0;
    padding: 0;
}
td {
    position: relative;
}
#libraryTHPSForm.logo table tbody tr {
    width: 49.5%;
    float: left;
}
#libraryTHPSForm.logo table tbody tr:nth-child(1) {
    border-right: 1px solid #ccc;
}
#libraryTHPSForm.logo table tbody tr > th, #libraryTHPSForm.logo table tbody tr > td {
    float: inherit;
}
/* */
/** 4:3 pc **/
@media screen and (max-width: 800px) and (max-height: 600px) {
    #libraryTHPSForm.add-clan-crop img#cropTarget {
        max-width: 424px;
        max-height: 366px;
    }
    #libraryTHPSBox #stepsNavi {
        height: 28px;
    }
}
@media screen and (max-width: 1024px) and (max-height: 768px) {
    #libraryTHPSForm.add-clan-crop img#cropTarget {
        max-width: 625px;
    }
}
@media screen and (max-width: 1152px) and (max-height: 864px) {
    #libraryTHPSForm.groundCrop, #libraryTHPSForm.add-clan-crop {
        max-width: 611px;
        max-height: 527px;
    }
    #libraryTHPSBox #stepsNavi {
        height: 40px;
    }
}
@media screen and (max-width: 1280px) and (max-height: 800px) {
    #libraryTHPSForm.add-clan-crop img#cropTarget {
        max-height: 488px;
    }
    #libraryTHPSBox #stepsNavi {
        height: 37px;
    }
}
@media screen and (max-width: 1280px) and (max-height: 960px) {
    #libraryTHPSForm.add-clan-crop img#cropTarget {
        max-height: 586px;
    }
    #libraryTHPSBox #stepsNavi {
        height: 45px;
    }
}
@media screen and (max-width: 1360px) and (max-height: 768px) {
    #libraryTHPSForm.add-clan-crop img#cropTarget {
        max-width: 721px;
    }
}
@media screen and (max-width: 1366px) and (max-height: 768px) {
    #libraryTHPSForm.add-clan-crop img#cropTarget {
        max-width: 724px;
    }
}
@media screen and (max-width: 1600px) and (max-height: 900px) {
    #libraryTHPSForm.add-clan-crop img#cropTarget {
        max-height: 549px;
    }
    #libraryTHPSBox #stepsNavi {
        height: 42px;
    }
}
@media screen and (max-width: 1680px) and (max-height: 1050px) {
    #libraryTHPSForm.add-clan-crop img#cropTarget {
        max-width: 890px;
        max-height: 640px;
    }
    #libraryTHPSBox #stepsNavi {
        height: 49px;
    }
}
/** HD (720, 1080i, 1080p) **/
/** Рассчитывал crop Img: x - 53%; y - 61%; Высота #navigation - 4.7% **/
@media screen and (max-width: 1176px) and (max-height: 664px) {
    #libraryTHPSForm.add-clan-crop img#cropTarget {
        max-width: 623px;
        max-height: 405px;
    }
    #libraryTHPSBox #stepsNavi {
        height: 31px;
    }
}
@media screen and (max-width: 1280px) and (max-height: 720px) {
    #libraryTHPSForm.add-clan-crop img#cropTarget {
        max-height: 439px;
    }
    #libraryTHPSBox #stepsNavi {
        height: 33px;
    }
}
@media screen and (max-width: 1768px) and (max-height: 992px) {
    #libraryTHPSForm.add-clan-crop img#cropTarget {
        max-width: 937px;
        max-height: 605px;
    }
    #libraryTHPSBox #stepsNavi {
        height: 46px;
    }
}
@media screen and (max-width: 1920px) and (max-height: 1080px) {
    #libraryTHPSForm.add-clan-crop img#cropTarget {
        max-width: 1018px;
        max-height: 659px;
    }
    #libraryTHPSBox #stepsNavi {
        height: 50px;
    }
    #madeClanThumb #wrapMade {
        max-width: 900px;
        max-height: 340px;
    }
    #madeClanThumb #wrapMade img {
        max-width: 900px;
        max-height: 340px;
    }
}
@media screen and (max-width: 1280px) {
    #libraryTHPSForm.add-clan-crop img#cropTarget {
        max-width: 678px;
    }
}
@media screen and (max-width: 1600px) {
    #libraryTHPSForm.add-clan-crop img#cropTarget {
        max-width: 848px;
    }
}
@media screen and (max-height: 768px) {
    #libraryTHPSForm.add-clan-crop img#cropTarget {
        max-height: 468px;
    }
    #libraryTHPSBox #stepsNavi {
        height: 36px;
    }
}
@media screen and (max-height: 1024px) {
    #libraryTHPSForm.add-clan-crop img#cropTarget {
        max-height: 625px;
    }
    #libraryTHPSBox #stepsNavi {
        height: 48px;
    }
}
#libraryTHPSForm.add-clan-crop img#cropTarget {
    visibility: hidden;
}
#libraryTHPSForm.add-clan-crop img#cropTarget.ready {
    visibility: visible;
}