#libraryTHPSBox {
    display: inherit;
    width: 100%;
    height: 100%;
}
#libraryTHPSBox .backgroundOne, #libraryTHPSBox .backgroundTwo, #libraryTHPSBox .backgroundThree {
    position: fixed;
    display: inherit;
    width: 100%;
    height: 100%;
}
#libraryTHPSBox .backgroundTwo #libraryTHPSContent table.clansList {
    display: table;
    position: inherit;
}
#libraryTHPSBox .backgroundTwo #libraryTHPSContent table.clansList tr td {
    float: left;
    width: 550px;
    height: 700px;
    background: no-repeat;
}
#libraryTHPSBox .backgroundTwo #libraryTHPSContent table.clansList tr td div.itemBackground {
    width: 550px;
    height: 500px;
}