#libraryTHPSBox .backgroundOne {
    background-repeat: no-repeat;
    background-size: 90%;
    opacity: 0;
}
#libraryTHPSBox .backgroundTwo {
    background-repeat: repeat;
    background-size: auto;
    opacity: 0.2;
}
#libraryTHPSBox .backgroundThree {
    background-color: #303030;
    opacity: 0.7;
}
#libraryTHPSContent {
    position: relative;
    display: inherit;
    width: inherit;
    height: inherit;
}
#libraryTHPSContent ul.clansList {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    margin: 0;
}
#libraryTHPSContent ul.clansList li {
    display: block;
    float: left;
    padding: 2px;
    background-color: #555;
    box-shadow: 1px 0 20px #757575, 1px 0 10px #333 inset;
    border-radius: 3px;
}
#libraryTHPSContent ul.clansList li.nameOnly {
    background-color: transparent;
    border: 0;
    box-shadow: none;
}
#libraryTHPSContent ul.clansList li.nameOnly h1 {
    font-family: 'DIN Pro Condensed Black Italic';
    font-weight: normal;
}
#libraryTHPSContent ul.clansList li.nameOnly h1 a {
    color: #EBEBEB;
    text-shadow: 3px 2px 3px #333;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: currentColor;
}
#libraryTHPSContent ul.clansList li div.itemBackground {
    position: relative;
    width: 100%;
}
#libraryTHPSContent ul.clansList li div.itemBackground .wrap {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#libraryTHPSContent ul.clansList li div.itemBackground .wrap > * {
    position: relative;
}
#libraryTHPSContent ul.clansList li div.itemBackground .wrap img.logo {
    box-shadow: 0px 0px 10px 2px #333;
}
#libraryTHPSContent ul.clansList li div.itemBackground > img {
    border: 2px solid #666;
    border-radius: 10px;
}
/** Storage Item **/
#libraryTHPSContent ul.clansList li.opened {
    height: auto;
}
#libraryTHPSContent ul.clansList li.opened > div:not(:first-child) {
    margin: 0 10%;
}
#libraryTHPSContent ul.clansList li.opened a div.itemBackground {
    display: none;
}
#libraryTHPSContent ul.clansList li.opened #head  {
    width: inherit;
}
#libraryTHPSContent ul.clansList li.opened #head img.background,
#libraryTHPSContent ul.clansList li.opened #head img.logo,
#libraryTHPSContent #openClanItem #head img.background,
#libraryTHPSContent #openClanItem #head img.logo {
    display: block;
    float: none;
    margin: 0 auto;
    width: auto;
    max-width: 100%;
    height: auto;
}
#libraryTHPSContent ul.clansList li.opened #head .logo {

}
#libraryTHPSContent #storageItemNaviHelper {
    position: fixed;
    display: block;
    width: auto;
    height: auto;
    left: 0;
    bottom: 50%;
}
#libraryTHPSContent #storageItemNaviHelper ul {
    position: relative;
    display: inherit;
    /*width: 50px;*/
    height: auto;
    float: left;
    margin: 0;
    padding: 0;
}
#libraryTHPSContent #storageItemNaviHelper ul li {
    display: inherit;
    float: inherit;
    width: 50px;
    height: 50px;
}
/**  **/
#openClanItem {
    position: inherit;
    display: inherit;
    width: 90%;
    margin: 0 auto;
    background-color: #555;
    box-shadow: 1px 0 20px #757575, 1px 0 10px #333 inset;
    border-radius: 3px;
}
#libraryTHPSBox #libraryTHPSContent ul.clansList li.opened ul,
#libraryTHPSBox #libraryTHPSContent #openClanItem ul {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
}
#libraryTHPSBox #libraryTHPSContent ul.clansList li.opened #publication ul.edit li > div,
#libraryTHPSBox #libraryTHPSContent #openClanItem #publication ul.edit li > div,
#libraryTHPSBox #libraryTHPSContent ul.clansList li.opened #publication ul.edit li > div a,
#libraryTHPSBox #libraryTHPSContent #openClanItem #publication ul.edit li > div a {
    display: inherit;
    width: 100px;
    height: 75px;
}
#libraryTHPSBox #libraryTHPSContent ul.clansList li.opened #publication ul.edit li > div,
#libraryTHPSBox #libraryTHPSContent #openClanItem #publication ul.edit li > div {
    background: url(/static/libraryTHPS/img/library-clan-zones-white.png) no-repeat;
    background-position-y: 0;
}
#libraryTHPSBox #libraryTHPSContent ul.clansList li.opened #publication ul.edit li.content div,
#libraryTHPSBox #libraryTHPSContent #openClanItem #publication ul.edit li.content div {
    background-position-x: -300px;
}
#libraryTHPSBox #libraryTHPSContent ul.clansList li.opened #publication ul.edit li.auto div,
#libraryTHPSBox #libraryTHPSContent #openClanItem #publication ul.edit li.auto div {
    background-position-x: -200px;
}
#libraryTHPSBox #libraryTHPSContent ul.clansList li.opened #publication ul.edit li.miniature div,
#libraryTHPSBox #libraryTHPSContent #openClanItem #publication ul.edit li.miniature div {
    background-position-x: -100px;
}
#libraryTHPSBox #libraryTHPSContent ul.clansList li.opened #publication ul.edit li.page div,
#libraryTHPSBox #libraryTHPSContent #openClanItem #publication ul.edit li.page div {
    background-position-x: 0;
}