{% load static %}
<head>
    {% block statics %}{% endblock statics %}
</head>
<body>
    <div id = "topP">
        {% block top %}{% endblock top %}
    </div>
    <div id = "middleP">
        {% block body %}{% endblock body %}
    </div>
    <div id = "footP">
        {% block half_foot %}{% endblock half_foot %}
        {% block footer %}
            {% include "base/classicPage/footer.html" %}
        {% endblock footer %}
    </div>
    <div>
        {% block scripts %}{% endblock scripts %}
    </div>
</body>
