{% load baseTime %}
{% load cache %}
{% cache 9000 footer %}
{% block footer %}
    <div class = "footPlace">
        <small class = "copyright">Copyright &copy; 2008 - {% currentYear %} PsiXi - THPS. All Rights Reserved.</small>
    </div>
    <div class = "footer"></div>
{% endblock footer %}
{% endcache %}