{% load cache %}
{% cache 9000 slider %}
{% block slider %}
<div class = "mLogo">
    <!-- Слайдер -->
    <div class="box_skitter box_skitter_large"></div>
    <!-- /Слайдер -->
</div>
<div class = "postH"></div>
{% endblock slider %}
{% endcache %}