﻿/** Неизменные элементы на всех страницах **/
a {
    color: #6B6B6B;
    text-decoration: none;
}
/** Меню и верх **/
body {
    margin: 0;
}
#aPage {
    position: relative;
    float: left;
    width: 100%;
}
#aPage #middleP {
    display: block;
    width: 100%;
    height: 100%;
}
#aPage #topP #menu .hide {
    position: relative;
    float: left;
    width: inherit;
    height: 50px;
}
