{% extends parentTemplate %}
{% load static %}
{% block statics %}
    <link rel = "stylesheet" type = "text/css" href = "{% static "base/css/fullPage/base.css" %}" class = "replaceble0" />
    <link rel = "stylesheet" type = "text/css" href = "{% static "base/css/menuHided.css" %}" class = "replaceble0" />
    <link rel = "stylesheet" type = "text/css" href = "{% static "libraryTHPS/css/libraryTHPS.css" %}" class = "replaceble0" />
    {% if content.1 == "add" %}
        {% if content.2 == "clan" %}
            {% if content.3 == "first" or content.3 == "name" or content.3 == "detail" or content.3 == "ground" or content.3 == "logo" or content.3 == "message" %}
                {% include "libraryTHPS/head/add/content.html" %}
            {% elif content.3 == "crop" %}
                {% include "libraryTHPS/head/add/crop.html" %}
            {% elif content.3 == "made" %}
                {% include "libraryTHPS/head/add/made.html" %}
            {% elif content.3 == "resize" %}
                {% include "libraryTHPS/head/add/resize.html" %}
            {% endif %}
        {% endif %}
    {% elif content.1 == "storage" %}
        {% include "libraryTHPS/head/storage/storage.html" %}
    {% endif %}
{% endblock statics %}
{% block body %}
    <div id = "libraryTHPSBox">
        {% if fon0 %}
            <div class = "backgroundOne" style = "background-image: url({{ fon0 }});"></div>
        {% else %}
            <div class = "backgroundOne"></div>
        {% endif %}
        {% if fon1 %}
            <div class = "backgroundTwo" style = "background-image: url({{ fon1 }});"></div>
        {% else %}
            <div class = "backgroundTwo"></div>
        {% endif %}
        {% if fon2 %}
            <div class = "backgroundThree" style = "background-color: transparent; background-image: url({{ fon2 }}); opacity: 1;"></div>
        {% else %}
            <div class = "backgroundThree"></div>
        {% endif %}
        <div id = "libraryTHPSContent" class = "in-progress">
            {% if content.1 == "add" %}
                {% if content.2 == "clan" %}
                    {% if content.3 == "first" or content.3 == "name" or content.3 == "detail" %}
                        {% include "libraryTHPS/body/add/content.html" with form=form csrf=csrf navStepsDict=navStepsDict navSectionsDict=navSectionsDict section=section step=step only %}
                    {% elif content.3 == "ground" or content.3 == "logo" %}
                        {% include "libraryTHPS/body/add/image.html" with content=content form=form csrf=csrf navStepsDict=navStepsDict navSectionsDict=navSectionsDict section=section step=step only %}
                    {% elif content.3 == "crop" %}
                        {% include "libraryTHPS/body/add/crop.html" with content=content form=form csrf=csrf cropImage=cropImage navStepsDict=navStepsDict navSectionsDict=navSectionsDict section=section step=step only %}
                    {% elif content.3 == "made" %}
                        {% include "libraryTHPS/body/add/made.html" with content=content form=form csrf=csrf madeItems=madeItems navStepsDict=navStepsDict navSectionsDict=navSectionsDict section=section step=step only %}
                    {% elif content.3 == "resize" %}
                        {% include "libraryTHPS/body/add/resize.html" with content=content form=form csrf=csrf navStepsDict=navStepsDict navSectionsDict=navSectionsDict section=section step=step only %}
                    {% elif content.3 == "message" %}
                        {% include "libraryTHPS/body/add/message.html" with csrf=csrf message=message only %}
                    {% endif %}
                {% endif %}
            {% elif content.1 == "storage" %}
                {% if content.2 == "clans" %}
                    {% if sync %}
                        {% include "libraryTHPS/body/storage/clansList.html" %}
                    {% else %}
                        {% include "libraryTHPS/body/storage/clansList.html" with itemType=itemType contentItems=elements only %}
                    {% endif %}
                {% elif content.2 == "clan" %}
                    {% include "libraryTHPS/body/storage/clanItemNoAsync.html" with itemInfo=itemInfo itemTop=itemTop only %}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock body %}
{% block scripts %}
    <script type = "text/javascript" src = "{% static "libraryTHPS/js/navigation.js" %}" class = "replaceble0"></script>
    <!-- Центральный блок асинхронных запросов навигации (внутри приложения) -->
    {% if content.1 == "add" %}
        {% if content.3 == "first" or content.3 == "name" or content.3 == "detail" or content.3 == "ground" or content.3 == "logo" or content.3 == "message" %}
            {% include "libraryTHPS/scripts/add/content.html" %}
        {% elif content.3 == "crop" %}
            {% include "libraryTHPS/scripts/add/crop.html" with content=content initialCropCoordinates=initialCropCoordinates only %}
        {% elif content.3 == "made" %}
            {% if initialMadeDict %}
                {% include "libraryTHPS/scripts/add/made.html" with content=content initialMadeDict=initialMadeDict only %}
            {% else %}
                {% include "libraryTHPS/scripts/add/made.html" with content=content only %}
            {% endif %}
        {% elif content.3 == "resize" %}
            {% include "libraryTHPS/scripts/add/resize.html" with content=content only %}
        {% endif %}
    {% elif content.1 == "storage" %}
        {% if content.2 == "clans" %}
            {% if sync %}
                {% include "libraryTHPS/scripts/storage/list.html" with content=content.2 only %}
            {% else %}
                {% include "libraryTHPS/scripts/storage/listNoAsync.html" %}
            {% endif %}
        {% elif content.2 == "clan" %}
            {% include "libraryTHPS/scripts/storage/clanItemNoAsync.html" with content=content.3 only %}
        {% endif %}
    {% endif %}
    <script type = "text/javascript" class = "replaceble1">
        var place = '{{ content.0 }}';
        function initMenu() {
            var menu = JSON.parse('{{ menu|safe }}');
            generateMenu(menu, place);
        };
        !menu ? copyMenu() : 0;
        initMenu();
    </script>
{% endblock scripts %}