<div id = "storageItemNaviHelper">
    <ul>
        <li>
            <small>
                <a href = "{% url "storageUrl" "clans" %}" onclick = "backFromItemToStorage(event, this.href);">Back To Clans</a>
            </small>
        </li>
        <li>
            <small>
                <a href = "#head" name = "#head" onclick = "event.preventDefault();">Представление</a>
            </small>
        </li>
         <li>
            <small>
                <a href = "#clanTitle" name = "#clanTitle" onclick = "event.preventDefault();">{{ itemInfo.name }}</a>
            </small>
        </li>
        <li>
            <small>
                <a href = "#mainInfo" name = "#mainInfo" onclick = "event.preventDefault(); anchorNavigation(this.name, itemMargin);">Основные</a>
            </small>
        </li>
        <li>
            <small>
                <a href = "#relationships" name = "#relationships" onclick = "event.preventDefault(); anchorNavigation(this.name, itemMargin);">Взаимоотношения</a>
            </small>
        </li>
        <li>
            <small>
                <a href = "#publication" name = "#publication" onclick = "event.preventDefault();">Публикация</a>
            </small>
        </li>
    </ul>
</div>
<div id = "openClanItem" style = "top: {{ itemTop }}px;">
    <div id = "head">
        <img src = "{{ itemInfo.background }}" class = "background" />
        <img src = "{{ itemInfo.logo }}" class = "logo" />
    </div>
    <br />
    <div class = "clanTitle">
        <h1>{{ itemInfo.name }}</h1>
        <br />
        <br />
    </div>
    <div id = "mainInfo">
        <h2>Основные</h2>
        <table>
            <tbody>
                <tr>
                    <th><label>Описание:</label></th>
                    <td><p>{{ itemInfo.description }}</p></td>
                </tr>
                <tr>
                    <th><label>Основан:</label></th>
                    <td><p>{{ itemInfo.foundedBy }}</p></td>
                </tr>
                <tr>
                    <th><label>Дата Основания:</label></th>
                    <td><p>{{ itemInfo.foundedDate }}</p></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id = "relationships">
        <h2>Взаимоотношения</h2>
        <table>
            <tbody>
                <tr>
                    <th><label>Лидер:</label></th>
                    <td><p>{{ itemInfo.clanLeader }}</p></td>
                </tr>
                <tr>
                    <th><label>Состав:</label></th>
                    <td><p>{{ itemInfo.clanMembers }}</p></td>
                </tr>
                <tr>
                    <th><label>Выбывший состав:</label></th>
                    <td><p></p></td>
                </tr>
                <tr>
                    <th><label>Кланы&nbsp;&#8211;&nbsp;побратимы (союзники):</label></th>
                    <td><p>{{ itemInfo.clanUnions }}</p></td>
                </tr>
                <tr>
                    <th><label>Клан {{ itemInfo.name }} играет по направлениям:</label></th>
                    <td><p>{{ itemInfo.styles }}</p></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id = "publication">
        <h2>Публикация:</h2>
        <ul class = "edit">
            <li><small>{{ itemInfo.pubDate }}&nbsp;|&nbsp;</small></li>
            <li><small>Теги:&nbsp;{{ itemInfo.tags }}&nbsp;|&nbsp;</small></li>
            <li class = "content"><div><a href = "{% url "libraryAddClanSections" itemInfo.nameSlug "content" %}" onclick = "localNavigation(event, this.href);"></a></div></li>
            <li class = "miniature"><div><a href = "{% url "libraryAddClanSections" itemInfo.nameSlug "miniature" %}" onclick = "localNavigation(event, this.href);"></a></div></li>
            <li class = "page"><div><a href = "{% url "libraryAddClanSections" itemInfo.nameSlug "headpiece" %}" onclick = "localNavigation(event, this.href);"></a></div></li>
            <li class = "auto"><div><a href = "{% url "libraryAddClanSections" itemInfo.nameSlug "auto" %}" onclick = "localNavigation(event, this.href);"></a></div></li>
        </ul>
    </div>
</div>