{% for item in contentItems %}
    {% if item.format == 0 %}
        <li class = "nameOnly" style = "margin-right: {{ params.marginX }}px; margin-bottom: {{ params.marginY }}px;">
            <h1>
                <a href = "{% url "storageShowItemUrl" itemType item.slug %}">{{ item.name }}</a>
            </h1>
        </li>
        {% elif item.format == 1 %}
            <li style = "margin-right: {{ params.marginX }}px; margin-bottom: {{ params.marginY }}px;">
                <a href = "{% url "storageShowItemUrl" itemType item.slug %}">
                    <div class = "itemBackground">
                        <img src = "{{ item.background }}" />
                    </div>
                </a>
            </li>
        {% elif item.format == 2 %}
            <li style = "margin-right: {{ params.marginX }}px; margin-bottom: {{ params.marginY }}px;">
                <a href = "{% url "storageShowItemUrl" itemType item.slug %}">
                    <div class = "itemLogo">
                        <img src = "{{ item.logo }}" />
                    </div>
                </a>
            </li>
        {% else %}
        <li class = "maded" style = "margin-right: {{ params.marginX }}px; margin-bottom: {{ params.marginY }}px;">
            <a href = "{% url "storageShowItemUrl" itemType item.slug %}">
                <div class = "itemBackground">
                    <img src = "{{ item.background }}" />
                    <div class = "wrap">
                        <img class = "logo" style = "left: {{ item.coordinates.0 }}px; top: {{ item.coordinates.1 }}px;" src = "{{ item.logo }}" />
                    </div>
                </div>
            </a>
        </li>
    {% endif %}
{% endfor %}