﻿<ul class = "clansList">
    {% for item in contentItems %}
    {% if not "nameOnly" in item %}
        <li style = "margin-right: {{ params.marginX }}px; margin-bottom: {{ params.marginY }}px;">
            <a href = "{% url "storageShowItemUrl" itemType item.slug %}" onclick = "event.preventDefault();">
                <div class = "itemBackground">
                    <img src = "{{ item.background }}" />
                    <div class = "wrap">
                        <img class = "logo" style = "left: {{ item.itemSubProperties.logo.0 }}px; top: {{ item.itemSubProperties.logo.1 }}px;" src = "{{ item.logo }}" />
                    </div>
                </div>
            </a>
        </li>
    {% else %}
        <li class = "nameOnly" style = "margin-right: {{ params.marginX }}px; margin-bottom: {{ params.marginY }}px;">
            <h1>
                <a href = "{% url "storageShowItemUrl" itemType item.slug %}">{{ item.nameOnly }}</a>
            </h1>
        </li>
    {% endif %}
{% endfor %}
</ul>
{# Тут написать пагинатор #}