{% extends "videos/videos.html" %}
{% block tittle1Level %}{% endblock tittle1Level %}
{% block tittle2Level %}{% endblock tittle2Level %}
{% block tittle3Level %}{% endblock tittle3Level %}
{% block tittle4Level %}{% endblock tittle4Level %}
{% block tittle5Level %}{% endblock tittle5Level %}
{% block tittle6Level %}{% endblock tittle6Level %}

{% if typeLoad == "u" %}
    <!-- Шаблонный тег videos/templatetags/grabVideoFormat.py -->
    {% load grabVideoFormat %}
    {% load static %}
    {% block statics1 %}
        <script type = "text/javascript" src = "{% static "videos/AccessibleHTML5VideoPlayer/js/strings.js" %}"></script>
        <script type = "text/javascript" src = "{% static "videos/AccessibleHTML5VideoPlayer/js/px-video.js" %}"></script>
        <link rel = "stylesheet" type = "text/css" href = "{% static "videos/css/videosUploadPlay.css" %}" />
        <script type = "text/javascript" src = "{% static "videos/js/videosUploadPlay.js" %}"></script>
        <link rel = "stylesheet" href = "{% static "videos/AccessibleHTML5VideoPlayer/css/px-video.css" %}"/>
    {% endblock statics1 %}
{% else %}
    <!-- Шаблонный тег videos/templatetags/grabVideoId.py -->
    {% load grabVideoId %}
{% endif %}
{% block content %}
    <div class = "playBox">
        <h4>{{ name }}</h4>
        {% if typeUpload == "l" %} <!-- Если текущее видео из ютуба -->
            <div id = "ytplayer"></div>
            <script type = "text/javascript">
                // Load the IFrame Player API code asynchronously.
                var tag = document.createElement('script');
                tag.src = "https://www.youtube.com/player_api";
                var firstScriptTag = document.getElementsByTagName('script')[0];
                firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                // Replace the 'ytplayer' element with an <iframe> and
                // YouTube player after the API code downloads.
                var player;
                function onYouTubePlayerAPIReady() {
                    player = new YT.Player('ytplayer', {
                        height: '390',
                        width: '640',
                        theme: 'light',
                        enablejsapi: '1',
                        modestbranding: '1',
                        rel: '0',
                        videoId: '{{ url | youtubeLink }}' // Шаблонный тег videos/templatetags/grabVideoId.py
                    });
                }
            </script>
        {% else %} <!-- Иначе это видео загружено на сайт -->
            <div class="px-video-container" id = "player">
                <div class = "px-video-img-captions-container">
                    <div class = "px-video-captions hide" aria-hidden = "true"></div>
                    <video id = "playerBody" width = "860" height = "480" preload = "metadata" poster = "{{ MEDIA_URL }}{{ playerBackground }}" controls>
                        <source src = "{{ url }}" type = "video/{{ url | getVideoFormat }}" />
                        <div>
                            <a href = "{{ url }}">
                                <img src = "{{ MEDIA_URL }}{{ playerBackground }}" width = "860" height = "480" alt = "download video" />
                            </a>
                        </div>
                    </video>
                </div>
                <div class="px-video-controls"></div>
                <div class = "myImprovements">
                    <input type = "range" class = "playSpeed" min = "0.25" max = "2" value = "1" step = "0.25" oninput = "setPlayRate(rate = this.value)" />
                </div>
            </div>
            <script type = "text/javascript">
                // Initialize
                new InitPxVideo({
                    "videoId": "player",
                    "captionsOnDefault": true,
                    "seekInterval": 30,
                    "videoTitle": "{{ name }}",
                    "debug": true
                });
            </script>
        {% endif %}
    </div>
    <table id = "infoBox">
        <tr>
            <td>Добавил:</td>
            <td><a href = "{% url "profile" added %}">{{ added }}</a></td>
        </tr>
    </table>
{% endblock content %}