{% extends "videos/videos.html" %}
{% block content %}
    <form action = "" method = "post">
        {% csrf_token %}
        <ul>
            {{ form.as_p }}
            <li>
                <input type = "submit" value = "Выбрать"/>
            </li>
        </ul>
    </form>
{% endblock content %}