{% extends "base/classicPage/base.html" %}
{% block tittle %}PsiXi - THPS: Видео{% block tittle1Level %}{% endblock tittle1Level %}
{% block tittle2Level %}{% endblock tittle2Level %}
{% block tittle3Level %}{% endblock tittle3Level %}
{% block tittle4Level %}{% endblock tittle4Level %}
{% block tittle5Level %}{% endblock tittle5Level %}
{% block tittle6Level %}{% endblock tittle6Level %}
{% endblock tittle %}
{% block statics %}
{% load static %}
<!-- Статика видео раздела -->
<link rel = "stylesheet" type = "text/css" href = "{% static "videos/css/videos.css" %}"/>
<script type = "text/javascript" src = "{% static "videos/js/videos.js" %}"></script>
{% block statics1 %}{% endblock statics1 %}
{% block slider %}
<!-- Настройки слайдера -->
<script type = "text/javascript" language = "javascript">
var navigation_arrows_width = 1920;
var navigation_arrows_height = 600;
var slide_width = 1920;
var slide_height = 600;
var arrows_position = 'bottom'; // left, right buttons: 'middle', 'top', 'bottom', 'top-left-bottom-right', 'bottom-left-top-right' 
var arrows_style = 'round'; // type left, right buttons: 'round', 'rectangle'
var label_position = 'top'; // 'top', 'bottom'
var label_style = 'strikers-dark'; // 'white-text', 'black-text', 'strikers-light', 'strikers-dark', 'long-strikers-light', 'long-strikers-dark', 'two-ver-boxes-light', 'two-ver-boxes-dark', 'two-hor-boxes-light', 'two-hor-boxes-dark'
    $(document).ready(function() {
        $(".box_skitter_large").skitter({
            xml: true,
            xml: "{% static 'skitterSlider/xml/slides.xml' %}",
            interval: 5000,
            velocity: 1,
            numbers: true, // navigation type: 'none', 'menu', 'numbers', 'dots', 'thumbs'  
            numbers_position: 'bottom-right', // numbers_position, arrows_position, dots_position, thumbs_position, menu_position: 'top', 'middle', 'bottom', 'top-left', 'bottom-left', 'top-right', 'bottom-right', 'top-left-bottom-right', 'bottom-left-top-right'
            navigation: true, // left, right buttons
            label: true, //seq1, seq2
            easing_default: 'easeInOutBack', // 'easeInQuad', 'easeOutQuad', 'easeInOutQuad', 'easeInCubic', 'easeOutCubic', 'easeInOutCubic', 'easeInQuart', 'easeOutQuart', 'easeInOutQuart',     'easeInQuint', 'easeOutQuint', 'easeInOutQuint', 'easeInSine', 'easeOutSine', 'easeInOutSine', 'easeInExpo', 'easeOutExpo', 'easeInOutExpo', 'easeInCirc', 'easeOutCirc',            'easeInOutCirc', 'easeInElastic', 'easeOutElastic', 'easeInOutElastic' 'easeInBack', 'easeOutBack', 'easeInOutBack', 'easeInBounce', 'easeOutBounce', 'easeInOutBounce'
            // seq1_animation: 'left-punch', // 'left-punch', 'right-punch', 'uppercut', 'scorpion-kick', 'scroll-down', 'scroll-up', 'scroll-left', 'scroll-right', 'fade'
            // seq2_animation: 'scroll-down', // 'left-punch', 'right-punch', 'uppercut', 'scorpion-kick', 'scroll-down', 'scroll-up', 'scroll-left', 'scroll-right', 'fade'
            hideTools: true, // Hide the Arrows, Dots and Numbers, but they show them up when hovering the slider
            interval_in_elements: 300, // Interval animation hover elements hideTools
            interval_out_elements: 500, // Interval animation out elements hideTools
            opacity_elements: 0.75,
            structure:        '<div id="navigation_arrows" style="width: ' + navigation_arrows_width +'px; height: '+ navigation_arrows_height +'px;">'
                        + '<div style="height: '+ slide_height +'px;" class="'+ arrows_position +' '+ arrows_style +'">'
                        + '<span class="prev_button">prev</span>'
                        + '<span class="next_button">next</span>'
                        + '</div></div>'
                        + '<div id="info_wrapper" style="height: '+ slide_height +'px;">'
                        + '<div id="info_inner" style="height: '+ slide_height +'px">'
                        + '<div class="info_slide"></div>'
                        + '</div></div>'
                        + '<div class="container_skitter">'
                            + '<div class="image">'
                                + '<a href=""><img class="image_main" alt="" /></a>'
                                + '<div id="label_wrapper" class="'+ label_position +' '+ label_style +'">'
                                + '<div id="seq1" class="label_skitter"></div>'
                                + '<div id="seq2" class="label_skitter"></div>'
                                + '</div>'
                            + '</div>'
                        + '</div>'
        });
    });
</script>
{% endblock slider %}
{% block menu %}
    <ul class="mainMenu">
        <li>
            <a href="{% url "mainCentral" %}">MAIN</a>
        </li>
        <li>
            <a target="_blank" href="/admin/">ADMINISTRATOR</a>
        </li>
        <li>
            <a href = "{% url "storageUrl" "clans" %}">LIB_THPS</a>
        </li>
        <li>
            <a href = "{% url "profile" "my" %}">BASE</a>
        </li>
        <li>
            <a href="{% url "videoCentral" %}">VIDEO</a>
        </li>
    </ul>
{% endblock menu %}
{% endblock statics %}
{% block body %}
    <div id = "video">
        {% block content %}{% endblock content %}
    </div>
        {% block pagination %}{% endblock pagination %}
{% endblock body %}