{% extends "videos/videos.html" %}
{% block statics1 %}
    {% load static %}
        <link rel = "stylesheet" type = "text/css" href = "{% static "videos/css/videosAdd.css" %}" />
    {% if typeAdd == "youtube" %}
        <script type = "text/javascript" src = "{% static "videos/js/youtubeApiHelper.js" %}"></script>
    {% else %}
        <script type = "text/javascript" src = "{% static "videos/js/uploadHelper.js" %}"></script>
        {% load progress_bar %}
        {% progress_bar_media %}
    {% endif %}
        <script type = "text/javascript" src = "{% static "videos/js/videosAddPage.js" %}"></script>
        <script type = "text/javascript" src = "{% static "videos/js/autoSetVideoSettings.js" %}"></script>
{% endblock statics1 %}
{% block content %}
    <!-- Получение и парс JSON в объект глобальной области видимости -->
    <script type="text/javascript">
        var searchString = "{{ searchObj }}";
        var searchString = searchString.replace(/&quot;/g, '"').replace(/&#39;/g, "'");
        var jsonSearchArray = JSON.parse(searchString);
    </script>
    <div id = "shortInfo">
        <p class = "title"></p>
        {% if typeAdd == "youtube" %}
            <img class = "thumb" />
        {% endif %}
        <small class = "desc"></small>
    </div>
    {% if form.is_multipart %}
        <form enctype="multipart/form-data" action="" method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            {% progress_bar %}
            <div class="helpButtons">
                <input type="button" class="showDetails" value="Показать детали" />
                <input type="button" class="cleanAll" onclick="resetAll();" value="Очистить всё" />
            </div>
            <input type="submit" class="addButton" value="Добавить видео" />
        </form>
    {% else %}
        <form action = "" method = "post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            {% progress_bar %}
            <div class = "helpButtons">
                <input type = "button" class = "showDetails" value = "Показать детали" />
                <input type = "button" class = "cleanAll" onclick = "resetAll();" value = "Очистить всё" />
            </div>
            <input type = "submit" class = "addButton" value = "Добавить видео" />
        </form>
    {% endif %}
{% endblock content %}