{% extends "videos/videos.html" %}
{% load grabVideoFormat %}
{% load static %}
{% block statics1 %}
        <script type = "text/javascript" src = "{% static "videos/js/videosEditPage.js" %}"></script>
        <script type = "text/javascript" src = "{% static "videos/AccessibleHTML5VideoPlayer/js/strings.js" %}"></script>
        <script type = "text/javascript" src = "{% static "videos/AccessibleHTML5VideoPlayer/js/px-video.js" %}"></script>
        <link rel = "stylesheet" href = "{% static "videos/AccessibleHTML5VideoPlayer/css/px-video.css" %}"/>
{% endblock statics1 %}
{% block content %}
    <div id = "videoEditBody">
        <div class="px-video-container" id = "player">
                <div class = "px-video-img-captions-container">
                    <div class = "px-video-captions hide" aria-hidden = "true"></div>
                    <video id = "playerBody" width = "860" height = "480" preload = "auto" controls>
                        <source src = "{{ videoFile }}" type = "video/{{ videoFile | getVideoFormat }}" />
                    </video>
                </div>
                <div class="px-video-controls"></div>
            </div>
            <script type = "text/javascript">
                // Initialize
                new InitPxVideo({
                    "videoId": "player",
                    "captionsOnDefault": true,
                    "seekInterval": 30,
                    "videoTitle": "{{ name }}",
                    "debug": false
                });
            </script>
        <form action = "" method = "post">
            {% csrf_token %}
            <table>
                {{ form.as_p }}
                <tr>
                    <td>
                        <input type = "submit" onclick = "stopVideo();" value = "Выбрать в качестве обложки" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
{% endblock content %}
