{% extends "videos/videos.html" %}
{% block tittle1Level %}{% endblock tittle1Level %}
{% block tittle2Level %}{% endblock tittle2Level %}
{% block tittle3Level %}{% endblock tittle3Level %}
{% block tittle4Level %}{% endblock tittle4Level %}
{% block tittle5Level %}{% endblock tittle5Level %}
{% block tittle6Level %}{% endblock tittle6Level %}
<!-- Шаблонный тег в videos/templatetags/grabYouTubeThumbs.py -->
{% load grabYouTubeThumbs %}
{% block content %}
    <div id = "filter">
        <div class = "filterBody">
            <div class = "style">
                <h2>Направление</h2>
                <ul>
                    {% for style in searchNames.styles %}
                    <li>
                        <p>
                            {% ifnotequal style curSearchNames.style %}
                                {% if curSearchNames.map != "eachMap" %}
                                    <a href = "{% url "allVideosMap" style curSearchNames.clan curSearchNames.player curSearchNames.map 1 %}">{{ style }}</a>
                                {% else %}
                                    {% if curSearchNames.player != "eachPlayer" %}
                                        <a href = "{% url "allVideosPlayer" style curSearchNames.clan curSearchNames.player 1 %}">{{ style }}</a>
                                    {% else %}
                                        {% if curSearchNames.clan != "eachClan" %}
                                            <a href = "{% url "allVideosClan" style curSearchNames.clan 1 %}">{{ style }}</a>
                                        {% else %}
                                            <a href = "{% url "allVideosStyle" style 1 %}">{{ style }}</a>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                {{ style }}
                            {% endifnotequal %}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class = "clan">
                <h2>Команда</h2>
                <ul>
                    {% for clan in searchNames.clans %}
                        <li>
                            <p>
                                {% ifnotequal clan curSearchNames.clan %}
                                    {% if curSearchNames.map != "eachMap" %}
                                        <a href = "{% url "allVideosMap" curSearchNames.style clan curSearchNames.player curSearchNames.map 1 %}">{{ clan }}</a>
                                    {% else %}
                                        {% if curSearchNames.player != "eachPlayer" %}
                                            <a href = "{% url "allVideosPlayer" curSearchNames.style clan curSearchNames.player 1 %}">{{ clan }}</a>
                                        {% else %}
                                            <a href = "{% url "allVideosClan" curSearchNames.style clan 1 %}">{{ clan }}</a>
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    {{ clan }}
                                {% endifnotequal %}
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class = "player">
                <h2>Исполнитель</h2>
                <ul>
                    {% for player in searchNames.players %}
                        <li>
                            <p>
                                {% ifnotequal player curSearchNames.player %}
                                    {% if curSearchNames.map != "eachMap" %}
                                        <a href = "{% url "allVideosMap" curSearchNames.style curSearchNames.clan player curSearchNames.map 1 %}">{{ player }}</a>
                                    {% else %}
                                        <a href = "{% url "allVideosPlayer" curSearchNames.style curSearchNames.clan player 1 %}">{{ player }}</a>
                                    {% endif %}
                                {% else %}
                                    {{ player }}
                                {% endifnotequal %}
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class = "map">
                <h2>Локация</h2>
                <ul>
                    {% for map in searchNames.maps %}
                        <li>
                            <p>
                                {% ifnotequal map curSearchNames.map %}
                                    <a href = "{% url "allVideosMap" curSearchNames.style curSearchNames.clan curSearchNames.player map 1 %}">{{ map }}</a>
                                {% else %}
                                    {{ map }}
                                {% endifnotequal %}
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class = "showFilter" onclick = "filterShow();">
            <h2>Фильтр</h2>
        </div>
    </div>
    {% for key, value in videos.items %}
        <div id = "{{ forloop.counter }}" class = "videoItem">
            <h3><a href = "{% url "playVideo" value.id %}">{{ value.name }}</a></h3>
            <a href = "{% url "playVideo" value.id %}">
                {% if value.type == "l" %}
                    <!-- Шаблонный тег в videos/templatetags/grabYouTubeThumbs.py -->
                    <img src = "{{ value.url | youtubeThumbs:'s' }}" />
                {% endif %}
                {% if value.type == 'u' %}
                    <img src = "{{ MEDIA_URL }}{{ value.smallThumb }}" />
                {% endif %}
            </a>
            <small>{{ value.style }}</small>
            <small>{{ value.date }}</small>
        </div>
    {% endfor %}
{% endblock content %}
{% block pagination %}
    {% url urlLevel style clan player map as myUrl %}
    {% if page.has_other_pages %}
        <ul class = "pagination">
            {% if page.has_previous %}
                <li>
                    <a href = "{{ myUrl }}{{ 1 }}">В начало</a>
                </li>
                <li>
                    <a href = "{{ myUrl }}{{ page.previous_page_number }}">На предыдущую</a>
                </li>
            {% endif %}
            {% for i in page.paginator.page_range %}
                <li id = "{{ i }}">
                    {% ifnotequal i page.number %}
                        <a href = "{{ myUrl }}{{ i }}">{{ i }}</a>
                    {% else %}
                        {{ i }}
                    {% endifnotequal %}
                </li>
            {% endfor %}
            {% if page.has_next %}
                <li>
                    <a href = "{{ myUrl }}{{ page.next_page_number }}">На следующую</a>
                </li>
                <li>
                    <a href = "{{ myUrl }}{{ page.paginator.num_pages }}">На последнюю</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock pagination %}