{% extends parentTemplate %}
{% block title %}Главная страница{% endblock title %}
{% block statics %}
    {% load static %}
    <link rel = "stylesheet" type = "text/css" href = "{% static "base/css/classicPage/base.css" %}" class = "replaceble0" />
    <link rel = "stylesheet" type = "text/css" href = "{% static "base/css/menuHided.css" %}" class="replaceble0" />
    {% include "main/head/main.html" %}
{% endblock statics %}
{% block top %}
    <div class = "mLogo">
        <div class="box_skitter box_skitter_large"></div>
    </div>
    <div class = "postH"></div>
{% endblock top %}
{% block body %}
<div id = "mainContent"></div>
<div class = "halfMin">
</div>
<div class = "halfWrap"></div>
{% endblock body %}
{% block halfFoot %}
<div id = "preFoot"></div>
{% endblock halfFoot %}
{% block scripts %}
    {% include "main/scripts/main.html" %}
    <script type = "text/javascript" class = "replaceble1">
        var place = '{{ content.0 }}';
        function initMenu() {
            var menu = JSON.parse('{{ menu|safe }}');
            generateMenu(menu, place);
        };
        !menu ? copyMenu() : 0;
        initMenu();
    </script>
{% endblock scripts %}