﻿{% load cache %}
{% load adv_cache %}
{% cache 9000 base_fullpage %}
<html>
    <head>
        <meta charset = "UTF-8">
        <title>PsiXi-THPS: {% block title %}{% endblock title %}</title>
        {% load static %}
        <!-- Фавикон -->
        <link rel = "shortcut icon" href = "{% static "base/img/favicon.ico" %}" type = "image/x-icon" />
        <link rel = "icon" href = "{% static "base/img/favicon.ico" %}" type = "image/x-icon" />
        <link rel = "stylesheet" href = "{% static "base/css/base.css" %}" />
        <!-- Шрифты -->
        <link rel = "stylesheet" type = "text/css" href = "{% static "base/fonts/din-pro/style.css" %}" />
        <link rel = "prefetch" href = "{% static "base/fonts/din-pro/DINPro-Cond.woff" %}" />
        <link rel = "prefetch" href = "{% static "base/fonts/din-pro/DINPro-CondBold.woff" %}" />
        <link rel = "prefetch" href = "{% static "base/fonts/din-pro/DINPro-LightItalic.woff" %}" />
        <link rel = "prefetch" href = "{% static "base/fonts/din-pro/DINPro-CondMedium.woff" %}" />
        <link rel = "prefetch" href = "{% static "base/fonts/din-pro/DINPro-CondBoldIta.woff" %}" />
        <script src = "{% static "base/js/trivia.js" %}"></script>
        {% block statics %}{% endblock statics %}
    </head>
    <body>
        <div id = "aPage">
            <div id = "topP">
                <div id = "menu">
                    <nav>
                        <ul class = "mainMenu" onmouseover = "showList(event);" onmouseout = "hideList(event);">
                            <li class = "main">
                                <strong>
                                    <a href = "{% url "mainCentral" %}" class = "global">MAIN</a>
                                </strong>
                            </li>
                            <!--<li class = "admin">
                                <strong>
                                    <a target = "_blank" href="/admin/">ADMINISTRATOR</a>
                                </strong>
                            </li>-->
                            <li class = "psixiSocial">
                                <strong><a>SOCIAL</a></strong>
                                <ul>
                                    <li>
                                        <span>
                                            {% nocache %}
                                                {% if request.user.is_authenticated %}
                                                    <a href = "{% url 'profile' 'im' %}" class = "global">Профиль</a>
                                                {% else %}
                                                    <a href = "{% url "registration" %}" class = "global">Регистрация</a>
                                                {% endif %}
                                            {% endnocache %}
                                        </span>
                                    </li>
                                </ul>
                            </li>
                            <li class = "video">
                                <strong>
                                    <a href = "{% url "videoCentral" %}" class = "global">VIDEO</a>
                                </strong>
                            </li>
                            <li class = "libraryTHPS">
                                <strong>LIB_THPS</strong>
                                <ul>
                                    <li><span><a href = "{% url 'storagePageUrl' 'clans' '1' %}" class = "global">Кланы</a></span></li>
                                    <li><span><a href = "{% url 'storagePageUrl' 'players' '1' %}" class = "global">Игроки</a></span></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <div class = "hideButton">
                        <strong>Меню</strong>
                    </div>
                </div>
            </div>
            {% with request.user as user %}
                <div id = "middleP">
                    {% block body %}{% endblock body %}
                </div>
        </div>
                {% if user.is_authenticated %}
                    {% load baseNotification %}
                    {% countUpdates request %}
                {% endif %}
            <div>
                <script type = "text/javascript" src = "{% static "base/js/navigation.js" %}"></script>
                <script type = "text/javascript" src = "{% static "base/js/buildMenu.js" %}"></script>
                {% if user.is_authenticated %}
                    {% load baseDataGetter %}
                    {% getNotifyTextDict request as notifyTextDict %}
                    <script type = "text/javascript">
                        var userSock = window.hasOwnProperty("WebSocket");
                        var htmlFragmentsFactory = {};
                        var csrf = '{% getCSRF request %}';
                        var notifyTextObject = JSON.parse('{{ notifyTextDict|safe }}');
                        function initRealtime(htmlFragmentsFactory, csrf) {
                            var isOnlineUrl = '{% url "checkOnline" %}';
                            var isOnlineFirstUrl = '{% url "checkOnlineFirst" %}';
                            var isActiveUrl = '{% url "checkChatStatus" %}';
                            var ajaxUpdatesUrl = '{% url "getUpdates" %}';
                            var removeAllUpdatesUrl = '{% url "deleteAllNotifyEvents" %}';
                            var sock = realtimeEvents(csrf, ajaxUpdatesUrl, htmlFragmentsFactory, isOnlineUrl, 
                                isOnlineFirstUrl, isActiveUrl, csrf, notifyTextObject.notifyItemProperties, removeAllUpdatesUrl);
                            return sock;
                        };
                    </script>
                    <script type = "text/javascript" src = "{% static "realtime/js/cyclicRequests.js" %}"></script>
                {% else %}
                    <script type = "text/javascript">
                        {% load baseDataGetter %}
                        var csrf = '{% getCSRF request %}';
                    </script>
                {% endif %}
            {% endwith %}
            {% block scripts %}{% endblock scripts %}
        </div>
    </body>
</html>
{% endcache base_fullpage %}