{% load static %}
<head>
    {% block statics %}{% endblock statics %}
</head>
<body>
    <div id = "topP">
        {% block top %}{% endblock top %}
    </div>
    <div id = "middleP">
        {% block body %}{% endblock body %}
    </div>
    <div id = "footP">
    </div>
    <div>
        {% block scripts %}{% endblock scripts %}
    </div>
</body>