﻿.box_skitter {
    height: 600px !important;
}
#aPage #topP .mLogo {
    height: 600px;
    z-index: 1;
}
#aPage #topP #menuWrap {
    margin-top: -23px;
}
#video {
    display: inline-block;
    width: 100%;
}
#video .videoItem {
    position: relative;
    float: left;
    width: 250px;
    height: auto;
}
#video .videoItem img, #video .videoItem img a {
    width: 120px;
    height: 90px;
}
#video #filter, #filter .filterBody {
    display: table;
    float: left;
    width: inherit;
    height: auto;
}
#filter .filterBody {
    padding-top: 10px;
    padding-bottom: 10px;
}
#filter .filterBody > div {
    width: 25%;
    float: left;
}
#filter .filterBody > div h2 {
    text-align: center;
}
#filter .showFilter {
    width: 86px;
    height: 35px;
    float: none;
    margin: 0 auto;
    text-align: center;
}