{% load i18n %}
{% load static %}
<script type = "text/javascript" class = "replaceble1">
    function initMessages() {
        var requestUserId = '{{ requestUserId }}';
        var opponentUserId = '{{ opponentUserId }}';
        var dialogId = '{{ dialogId }}';
        {% if onlineStatusDict %}
            var onlineStatusObj = {{ onlineStatusDict | safe }};
        {% else %}
            var onlineStatusObj = {};
        {% endif %}
        {% if activeStatusDict %}
            var activeStatusObj = {{ activeStatusDict | safe }};
        {% else %}
            var activeStatusObj = {};
        {% endif %}
        var time = '{{ time }}';
        var listThumbObj = { {{ requestUserId }}: '{{ myListThumb | safe }}', {{ opponentUserId }}: '{{ toUserListThumb | safe }}'};
        var textObj = {'serverInProgress': '{% trans "serverInProgress" %}', 'error': '{% trans "sendError" %}'};
        var dialogMessageListener = dialog(true, requestUserId, [requestUserId, opponentUserId], dialogId, listThumbObj, time, textObj,
    '{% url "dialogMessagesFileLoaderPersonal" opponentUserId "image"  %}', '{% url "loadDialogListItem" %}', '{% url "openLink" %}', onlineStatusObj, activeStatusObj, 
    {% if messagesListDict %}
        {% if unreadMessagesDictList %}{{ unreadMessagesDictList | safe }}, null{% else %}null, null{% endif %}, JSON.stringify({{ messagesListDict | safe }})
    {% else %}
        null, null, null
    {% endif %}
    );
        return dialogMessageListener;
    };
</script>
<script type = "text/javascript" src = "{% static "psixiSocial/js/messages.js" %}" class = "replaceble1"></script>