﻿{% load static %}
<script type = "text/javascript" class = "replaceble1">
    function initDialogsList() {
        var requestUserId = {{ requestUserId }};
        var thumbsObject = {{ smallThumbsDict | safe }};
        var timeString = '{{ time }}';
        var onlineStatusObject = {{ onlineStatusDict | safe }};
        var activeStatusObject = {{ activeStatusDict | safe }};
        var listener = dialogs(requestUserId, timeString, thumbsObject, onlineStatusObject, activeStatusObject);
        return listener;
    };
</script>
<script type = "text/javascript" src = "{% static "psixiSocial/js/dialogsList.js" %}" class = "replaceble1"></script>