{% load static %}
{% load i18n %}
<script type = "text/javascript" class = "replaceble1">
    function initMessages() {
        var dialogMessageListener = dialog(
    false, '{{ requestUserId }}', {{ sendersIds | safe }}, '{{ dialogId }}',
    {{ smallThumbsDict | safe }}, '{{ time }}', {'serverInProgress': '{% trans "serverInProgress" %}', 'error': '{% trans "sendError" %}'},
    '{% url "dialogMessagesFileLoaderGroup" dialogSlug "image" %}', '{% url "loadDialogListItem" %}',
    '{% url "openLink" %}', {{ onlineStatusDict | safe }}, {{ activeStatusDict | safe }}, 
    {% if messagesListDict %}
        {% if unreadUsersIdsDictList %}{{ unreadUsersIdsDictList | safe }}, {{ unreadUsersNamesDictList | safe }}
        {% else %}null, null{% endif %}, JSON.stringify({{ messagesListDict | safe }})
    {% else %}
        null, null, null
    {% endif %}
    );
        return dialogMessageListener;
    };
</script>
<script type = "text/javascript" src = "{% static "psixiSocial/js/messages.js" %}" class = "replaceble1"></script>